FORMAT: 1A
HOST: http://sikolin.cloudapp.net:8080/Sikolin/api/

# Sikolin

List of API that Sikolin provide

## Authentication [/auth.jsp]

### Login on Android [POST]

+ Request (application/x-www-form-urlencoded)

        username=tester&password=tester

    
+ Response 200 (application/json)

        {
            "authkey":"30dc08cd0ecce4fdc0706053a274b31a",
            "role":0,
            "credits":0,
            "status":true,
            "username":"tester"
        }

## Register [/reg.jsp]

### Register from Android [POST]

+ Request (application/x-www-form-urlencoded)

        username=tester&password=tester&role=0

    
+ Response 200 (application/json)

        {
            "message":"Thank you for register",
            "status":true
        }
        
## List Menu [/listmenu.jsp]

### List menu to show on Android [POST]

+ Request (application/x-www-form-urlencoded)

        username=tester&authkey=30dc08cd0ecce4fdc0706053a274b31a

+ Response 200 (application/json)
        
        {
            "menu":
                [
                    {
                        "jenis_menu":0,
                        "id_menu":1,
                        "nama_menu":"Nasi Goreng",
                        "harga_menu":10000,
                        "nama_penjual":"Paijo",
                        "rating":9.4,
                        "foto_menu":"\/9j\/4AAQSkZJRgABAQAAAQABAAD\/2wCEAAYEBQkJCQkJCQkJCQkJCQkJCQkJCQgJCQkJDAgMDAwJCgoOERkTDg8XEAoKFCAUFxobHR4dDRMhJCEcJBkcHRwBBwcHCwkLFAsLFBwXFxccHBwcHBwcHBwcHBwcHBwcHBwcHBwcHBwcHBwcHBwcHBwcHBwcHBwcHBwcHBwcHBwcHP\/AABEIAWgB4AMBIgACEQEDEQH\/xAAcAAABBAMBAAAAAAAAAAAAAAAGAAQFBwECAwj\/xABdEAABAwIEAwMEDQcJBQMKBwACAAMSBCIBBRMyBkJSB2JyERQjghYhMTNBQ1FhZHGSoqMVssLR4uPwU1SBkaGxwdLhCCREY\/Els8M0RXODhJOk0+TyJkZldIWVpf\/EABoBAAIDAQEAAAAAAAAAAAAAAAMEAAIFAQb\/xAAyEQACAgEEAAUCBQUBAAMBAAABAgADEQQSITETFCJBUQWhMmFxgbEjQlKR0RUz8PHB\/9oADAMBAAIRAxEAPwDyokkkpJEkkkpJEkkkpJEkkkpJEksrCkkSSSSkkSSSSkkSSSSkkSSSSkkSSSSkkSSSypJMJJJKSRJJJKSRJJJKSRJJJKSRJJJKSRJJJKSRJJJKSRJJJKSRJJJKSRJJJKSRJJJKSRJJJKSRJJJKSRJJJKSRJLKSkkwkspKSTCSykpJMJJJKSRJJJKSQ09hX0r8DH\/Ml7CvpX4GP+ZGOApQJZnmn+Zv+Rq+P5gd7CvpX4GP+ZL2FfSvwMf8AMjLBtbYNKeaf5nfI1fH8wMw4J+lfgY\/5ljHgr6V+Bj\/mRvg0tcWlzzT\/ADJ5Gr4+5gT7C\/pX4H7SXsKw\/nX4P7aNCbWkCXfNP8yvkavj+YHewz6V+B+0lhwX9K\/Ax\/zIzwaXUWlDqn+Z3yNXx9zAj2FfSfwP2kvYVh\/OvwMf8yOdJY0lzzb\/ADO+Qq+P5gThwR9K\/A\/bW2HA30r8D94jYW1vgC4dVZ8zvkKfj7mA\/sE+lfgftpewT6V+B+2jzTWpNrvmrPmTyFPx\/MA\/YN9K\/A\/bS9g2H86\/A\/bRuTax5FPNWfMqdFT8fzAj2EYfzr8H9tL2EYfzr8H9tGmIJQXfNP8AMnkqfj+YF+wj6V+B+8WfYPh\/O\/wP3iNcG1tBc8zZ8yw0NPx9zAb2E4fzr8H9tLDgnD+dfg\/to40lnRU82\/zOeRp+P5gR7BvpX4H7xY9g+H86\/A\/bRxpLOmp5t\/md8jT\/AI\/cwG9hH0r8D94l7CPpX4H7SOtNZwaU80\/zJ5Cr4+5gH7CfpX4H7SzhwPh\/OvwP20bk0lg0p5t\/mc8hV8fzAn2D\/SvwP3iWHA\/0r8D94jfSW2Danmn+ZPIVfH3MBfYR9K\/A\/eJewf6V+B+2j3SWcWFPNP8AMnkKvj7mAXsGw\/nX4P7aXsGw\/nX4P7aO9JLAFzzb\/MnkKfj+YC+wX6V+B+8S9g30r8D94jzBtbCyp5t\/mW8hT\/j9zAH2C4fzr8H9tb4cBfSvwP20e6azBV83Z8yeRp\/x\/mAGPAf0r8D9tL2CfSvwP3iP9Na6anm7Pmd8hT\/j9zAL2B\/SvwP3iz7AvpX4H7xH2mli2p5yz5k8hT\/j9zAHDgH6V+B+8WfYD9M\/A\/bR7prbAFzzdnz\/ABJ5Gn\/H7mV\/jwF9K\/A\/eLXHgX6V+B+2rCxBciaVhq7PmQ6Cj4+5lf8AsI+lfgfvEvYR9K\/A\/eI\/GnW\/m6t5p\/mU8hV8fcyvvYN9K\/A\/bWfYN9K\/A\/bR\/pJYtLnm7Pmd8jT8fcwB9gv0r8D94tceBvpX4H7aPoLXTU83Z8yeRp+PuYBewf6V+B+2lhwP9K\/A\/bR5iCxgKnmrPmTyNPx9zAbDgX6V+B+2tvYH9L\/A\/eI6wBbeRc83Z8zvkafj7mAfsD+lfgfvEvYH9K\/A\/eI98iUVPN2fM75Cn\/H7mccGltpp1gC2EEtmNYjTBtZgncFiK5mdjfEVzxwTvEFppqZnI2xBLBtPBBbC2u5kjTBpbYAnWILEVzM7OGALMF2wwWy5mScYJQXXDBbYYK0k5YYLEV1xxXHE1BKzBAuBgpGny+pd97YcKXdU1RcC5q\/tYiJdRCiKjHoQT2ovZEExFLyKzKDsjzBz3wxHwxJEND2Lh8a+RetFFGmsPtF219K+8pHExWRMeW7w3L0dQ9kmWhuGXiKSnqTgHLGtrA\/ZFEGhb3MA31WsdAzy2ww65taMvCJKSYyKsc20zn2V6qY4fo29rAfZFPAoGh2tj9lEGgHuYBvqx9lnldrgnNHNtNHxEpCn7M8zPlEftL08LI9IrOAog0Se8E31W09ATzix2SZgW4xH1SUgx2OVJbnx+ySv9JXGjq+II\/Ubj7yjG+xcuZ8k8Y7F2uZ8lc6j87zIaRrVISIe6umipBkic87exwGlZh2N03M6ResS7B2PUXMRfeTXPuNq50i0CFpqVtt0U4yPjgqRsiqyJ8S+0KSXWacvsA\/eOHT6vZu3ftHQ9kOX9X3iW+HZLl\/8ESjXO2G4hChIuklLZF2ki\/HXY0pEI+sjC7Tk4GIJqdYoyc\/7nHHsjy\/p+8S5F2Q0P8ESs9kxMRIbhIZCs4prwaz7RLzVw\/uMq0+yGj5ZfaJcS7IKTlIvtErZWq75av4nRrLx\/cZTzvY41yuufaJNHOxrpfJXZjil5VXytXxLefuH90oZ7sffHa\/+cmD\/AGUVw7XBL1SXofEx6vvJKh0lRlx9SuHvPM7\/AGb5o3tES9ZRr\/BeaN\/EEXhJeqcYrQmw5hFUOgSFH1e0dgTyY9kVc3upnPspk5SujuacH1SXrsqNgtzYpm9kdI5uaH7IoZ+nj2MKv1c\/3LPJOOMeX7pLYMRXqOr4Ly93cwH2RUDW9luXubW4+EkM6Bx0Ydfq1Z7E8+LPlVxZh2Qt3aTpD60kPV\/ZTWN7D1O6SC2ksX2jCa+lv7pXmOC1xFElbwVmjW5iUekhULU0NS174w6PqkglGXsRlbUb8JEZkK0gtyc6re6VqQmKrmFxNNJbCyS7CQruBKbp3EbYMLbQTmSwRquZMRri2lBdscVp5VMzuJrgaziSZg6tsXl3Ek7kaWDibaixqruJMR1NLBxNsDWcHFMSYjvA1nA0xxqFzxrFzE7iSJOLTVW+XZPmFWUWKZ0u8QkIo5yTskzJ+JPkLQ9MSkipQ7dCAs1FSfiaAc1u3g45aDZF4Rkr4yXsfomok+WqXelFG2W8KZfTDhpsAPqplNCx\/EcRGz6rWv4Rmebsr4SzKp97pjEe8MUW5Z2T1zvvrmmPdFX+2wA7REfCK3TK6JB3zEbPqdrdcSqst7IaQY6xEaKMu4Cy1jyRYD1hEkW4pJhaUXoRR9Ra\/wCJoxp8ppm9rTY+qKdg0I7RH7K38qXlRIAnPcXkWEscVjyqZnMTbFJYSUzJiZS8q0MhESIitEZF3VF4Z7TXFIhEdxIb3JX+M4hFrZuhJfyrXHFMQzamJsnBdGIjIuVNsoz1qpxIdhiVokXtkPUKp5ivIG4c9TvhPgnElvKlhisrUzjuIR8SPBzMkyzr\/wAmdkIlYW7lTSvz9hooj6Qu6hfi7OKupY0KYRa1LSIi5Vn6j6hRWCrNz8S9Y9QzACvelKJDGUS7qG6moaHUETlLvLtneVVjAkOmUesZEJd5QtDkj7silGI3dS86FDHcDPX0WAgYPEnsnqWxESIR2xiXMn+WZU2RkUivKUR2itct4acFsS3FHcSlqdomIy+6qs4Bx7S1jqc7TC7LOIqmjYFoh1IjaREW1PqDjF8vfWreoUHPvuOjBvcp7JcvNtv0pSl0p4fUXBAB4mFqK6axlhyYeUWcsOgRiYiI7pLk\/nbfKJEhnyANsRj+cudRWCIxEhRH+r2EekYmWUyeJMVOeO8sQEVFu5k6VxuF3RElEPVUu94U0erLhtSD6+5uSTLiqST9YW7UKXiJPMt4xFgHBdk6YlYI7oqGHLnXWnHyEhaaGRStkoKkdEiIdy42s1Gnw49\/maGk0aW53e0uDJs5YrBk0V3MPMKkMUG8B0gyN+W23pFLi\/iEZCww5cJScIS2j0r0FGvPlxbZwf5ilulBu2JHWPExa5CQiLUiGX6SJWnRMRISEhK7cqqcf1JRujtTLLczcaccLUcEhLbIo+FZmn+sOjHfyCePyj1v0wOuV4Ily44rXyoJoeL3BtdETiO60SU7lHENNUkQy0yHlNblOvpt4B5mXZo7E7EmpJSXE32xGRGIj1SFbCYltKXeFNbgeouU95sQCW4R+ymlRldM5uaEvVFOlhd2yAkdQazHgXLX9zDfqiKFsy7IaNy5oibLuxVn+VLyobUo3Yhk1NqdNKCzPsmrGpEw5PxChTMOFszpvfKYiHqG5eqJLRxpstzYl6qXfQ1t1xHa\/qli\/i5nkFw3AKLjbg+ISFaecL1VX8MZfU++MN\/ZQbnPZJQuyJr0Rd1Kv9PYfhOY\/X9XrP4xiULi+saqPs67JK5qRMOi6PSQlJBOZcOZlSe+0xx6hEiFKvQ6diP16mqz8LSMwBLEV1wSQ8w+JxitfKpPL8tqakosMOOS6dqsHh7sfrqmJVZaDcdoxkiJU7\/hEBbfXV+IyqSf5R3dKlco4azKuIRYpnCEuYhiK9I8N9l+W0XkImhdPqKJXI3paNpoYttiI90RTqaL\/IzMu+qjqsf7nnzh\/sQqXYlWPwHmFuQqzuH+y3KqOPoBcIeYrkfLHlTiUIvQmbZq7bPxGNaWgYaGLbQgPdFOsEscVr5UWLzbyrK5+VZUzOYmfKl5VhLyqS0ws+RLypYLkkysJYrBKTkWOKzhihLPM19J6ItvL1LSkz0huIvEKzz9SqV9hjY0Tld0IKzNWmiiRXDuXTL61t8ZASq7iHPCOpMgCIkMbksirn4lFyJCREkv\/XAtK+0b\/wDN\/p7veGXGfEgUYkwLZOuOBdG0RkguhqBfkJSHu7Zd1dW6ZypdJ992WpbG22K5ZjaVo+Ilka7UNfZvPQ6mjpqUqTYOz3JcW2jGIkPhJRVQD7BSG670ZdKYvVRCMWyuHl5iWhZtImxdkMeqQ3IJsyM\/HxCrSf2h3R8RVYsCLrQkcbTlK3vD8qZ5xWm+IyfkO4hEYiKEqziOJE0wAmQ2kREUVlmoffJq0WylEmx2kjPrr3G3d7RW3QAIWAAk+xiI7bl21h5lH1jLobRtUc5VFLqWaayp5nmypk85UCVsRIe9tUbU5Sw5cNpd1NHKko2yIh6eVcaavLaRbtqIivjImppPp971+LWcfl8ySxbJsYiUvzlEVeJkWnEhIlKediJRL9ol2Gpb3FER5R5l1WycHgzi62yskOOYstpxaiRbuYuYk4q8xFvm9VN23WnIlKPdJYqMraduk4Pe3JytFC7s5MVLh23NOWNYTm4oiorM3fSDEijGVvMoTMjrm3SbbYIhlaXUpSlqSaJsXxISIRlIVZj6cYmlp6ADuBBjF\/PCaKLfrdUU4YzibgiA3DdJzaufE7LTRarRCWoofJc1bNwhEfSDyqbSvftNAadLPViSPFParVkJZe202MRi7b+amHC+ba5FIYlapTFmjqdTztgZEMRcbiJKGp8mGmcMmHbSuiRSIRRbybwGJzDUrVWpUDBhnTcRutMFTMe+OlcXdUUeJjbtLmItxEg9jOtKrEiItPaXTJGGVZ23rtkQi6JFuG6KqzF1CN7Th0\/hHeB3zO2U1JBqC5KRXD3RUlgyTTY1cJARELiacR1zTlSOgI2jdEYrvWZgXmJDIRASElSupVYj\/UjElQ2O+4xfp5lqUjgiUpEwXMPiXKlzXTd03BJsukv83yJnW4i6YG2cRiPvdpJ87RtPt+kkWntKVys4XH5znHTSX881ZSKQj3lKZbnp022RDG0SQE3VPlIQEW2hKMi3Lcn3Su1StG3vIC3WVvuUnMu2jVxtPUsYuMKndEBHpIU6yTiF+rf04iIxuVK4Z6WvpukRCVvNHxLXPOKfNnBbpnYkQjIhIpCtDT62\/eDYciAu+koBtUcz0i7XNC4LWoJOF3k4Xl3KOJHxPVJ8iIStkUlcfA\/GvnMW3yEiiIiten6mrttYY+Jk6n6S9S7l5x3D7ypSWJcy18q1JkTfypSWnlS8q7OTpNcaimadGLjYl4hWZJSXJzODPK\/DfB+ZZkQ6DBCBfGODERVucL9jbDUTrnCdLpjarbp6dtoYtgID3RXfDFJ16NF75mrd9Sts4XgflIzK8jpKQYsMNtiPSIyUktlomgMdREnPJmfKlgseVJSVmccVjFLBJSWiwWVjyLK5JF5VrispKSTXyLccFjBZUkmMVhRWYZyDDogXNzDy+JD3HoVkBq6PMNDTH3q0hNB8wnOD13CrSxIHzDQnBHcUUOcR56LZaDRXENxdKr9vMM1fJsnasSiO0Rin1I2RNOE+V8oisrVfUsqQn+5oU6DBy5nKpqYiREV3L4k3\/KFveUbmFUIuCMuZNGsxaF+LhR9W1ee2FvVnubQrx7TvmuLkm7SIZXEK60z5NlIbuWPUumYVzcSiXLbFcMuxt5Y\/eIlwY6neSvMkwN3cIkMRkQxTWuzQWyi4Mu8Ip+ObC0MdQREhlyptU1TRN2k2RK1la49JlKzz6hGTjwuFISj0xXVmkl6MjFyV0j6ulCNa3qVbAtnp6joiRDtUzmGDoPi0LhCIkUpKoGI21fsDJYstaaIicbGPU2Sf0uYNNsOkwQkTXVcQ3cyjGHCdMabmJsnJFtEVxpOHHx1LhJpwS1XRKI9360WokNnEXdAykO0lseMXSDTi0Urtty2y2k85bJxwRESltJCVEIhIoiUdxFzLWu4qNoSESJu4YjEYx6kS1t\/fMWT6chOFEn82oHaRon2yk22Vw8wplSPi+IkNp8w8yft50LjTRuRNt2JHG6RKPzIW5uVLAwEyuHaXiQlwBn7R3SKaTs9o+YdmOmURIdrhdSg86rX6ZyL5REtsdrgqTBwXQ1ecYiQx3d5dKumaq2IPjcNoluIPD8y6yhu4P6h9NW8b04aQDGec35ykmeI4jc4PhkgXPGHaF3SdbKRXNOfFvt9Q\/OmNPgRERXEiLRiYyfTj\/dLCquLoXbrv4JQOZ8YuOlEoiI3d5RgUjhCPN3SXfHK2vjG7kXaoGI5RpUrOcRnVZ9qju28slEZTXENYMSjqWkpR7hZopE3qNyu7qZN8FVhGLrD7Vu0XJK6KnWZqeKgHEMsRIY3EQltJYASEiIS3CQlJMmKLNGBEXG23e82Sc5VTvu1LAG0Qtm6IkXKMiXFAWKueCcyB4hwEWibG0i5opnktadJG6QyHmir5414HYrGGhpoMOtRESjaTfN\/SgrPeyVvSImKtwyiJEMfzVVnSs7WPcrV9TqZArcRhQ15OvkcYtuFt6kWt1zDVMTRgO0riu3ChPIeHn2hFsZkI2kTtpSUy9kpuCQuOEIl0oXilH3LK3aqgYBaDXD1OTpPt6lrZFp3cslPUuO0RcISXSi4faYH0ct0pEUk1zVh1uTg3Fu6VYOjdQQ11dr7VP6Rfkd0nCi6RCRbUzzCjcaGN27aO5a0XEpbREiIu6SeZfX69SQxcJy3UGJWkqMq54mmjuv4sYnDLslJ10TfcbbbESEWxjqEPeWma9mdI6RONPk2UpbpXJ3xVldYw267TD6SPvZbox3Cqto86zBsilUuiUikEtpI4qs9jAeI1hyDCDOOEn8vEndUDbG7dEopnk+dONEJDbEuUlC5hV1NTvfcMe8S464tCXMi+ESOe4yrcYbmemOzzi\/zlsWnyu5bke4rx\/wAP8TG042QSEhXofs\/4uLMvRkMYjcXqrT0Os2kVWd+xmD9T+mFM219e8N5LM1oZLjNbU8\/HMkvKuGGKzhipKmTqS18qxgqQsz5VnDBY8qz5VyWmfKsYYrHkW2Ck5mYxwSWygK7iEWyIWmydiUSLlkg3ahKRlziXStrDhRJ7DFYxTLLa8alvUG0uYS5U6xxREcOoZepwqVODN1rJZwxWnlVpyb4KPzLNWmhK8Z8o80lz4gzDzZgileVoihEcbZu7iukSztZrDWdid+\/5RzTaff6m6kHnOauyLqIlAVlcRDJ83YN2xESK4ttqL8xBohlaXMo2my+I6pDJxwhiJbR731rzufUWY9zeq24AxM5bQOkIkUhGMg5SipB0SjAoiPN1EpWidIALUiVpXCovGtEyHl3SJcJC4BMrhmJxI2soGtwjdyluQ1nTPo\/SMahCVpCUSRFmTwtBqCUrijbuQlmGe6keUruXmXBYvQjFNbk5jVjFq3UIpdI3RFPcZCXoCc0+8NyGBxbpmjrhJxwjcJtwSuFsu6tC4ucES0m7y5i+LRig6AlnUljtPEJMxJtsfSmIkXUVxeEUK19aUS82LvSkh2vN+pLVcIyMNolzd1OuGW6nMnybINIWiEXP8qsum9zCL6B3CbKMqq3Yuuvk2QkJDEbpI2rNV292WqIyGMY2juJNCwNsmxFsYt7bpSUgxWC+JCJCLg8ojK7p+ZAcc8QbWlvVBnJs7Jon6t+2IGIjK1wulSmT1blcxc2bTUpbiEnfV+RQb2TDU5gLTnvctVwZWiQlt+fBGzjGmJRiIiNsVV2xiWtKdDsxlWUjbYyOIiN0eURVf5jVatTaIm2Qk0PrcymM8r3HRJu7TLcX6KhMsIRqaYbRHVbl0jcrV95hqUKAk9wswZby+mFty0bSGVxeqh3MuKX35N0jUWtpGY3Ei3jMBcdK4XIxu2jEh5UA1jMHBiVstvKu7ArHMJpSLBubuHfDNQL7BDL0gXBLw3ASf4jzjbbd1CXSg3J6smqtohK12Ql0yRy6AiQuDzDePV3kLkSzP4b4PRjbifI\/yrSNNNEI1NPhi+1PGzbe3\/oqhZzAhdgPKRCY95XXSkQFMCiRRK7aVyDOPeF\/Nqs8wbEdCqFsyGQyBwhuH6rE7V61x8RS7FbZ+Z1yOJDFzb+ap1vK2HRtujchDKG33R9GJEPVtFEFFUkI3WxtEpIZWJuT2I7aZ0tsY9Jbk5qNKIlpkJcsVAVlc44REI27e6iejrw0mxdFsRFvqkSoteeJ1zgBjI3DFxu4S+1apHh6qccdbIhGIuCuJNa+0beVYy5qL7Y3DpuDb1d5TOIvqLFCHI5lnG\/amLr21c3HLbfWSwcaIe93UDU0M7gflMPEgc\/wIWzdb+LGRCh7hzPyfd0ibj0kjV1kfSCW2JfmqvuDacnal0hG1twhEto7lKlYelo3Vsapww66hu1T9IesSF+Oqw6RgnJDIotx8SLKzEmxudEY8o9Kp\/jTMCqXSbEvRNlu6iRaqtpgNBUWtB9hHWTZgIiM+UpStRrwrmzDTpejlqFInC5fEqny6huEhIijykSLKN90hgUY22o\/4TkT0bgNwZZ77w1d0okRXEXKPd8nwIW7QOAqSsDUo9JqrAZGco6viH5UywF0bhIrrd1sU4p81MXGhIRK6MiIh+0i+Oe2HcXRMH0HqU7mOV1lIRNvtRj07fEok8CctLavSeZNUNYxU0j+mw+Te7cO20hJVRU8HO0xDK4S5kVn2jMa09oYndwf5gTSiMhER5rlcfY3LXKHvY7vsoGd4cb1Bk5pl9lWx2a5aNGJaZCQlu6iVdKVsuX9Zf6ldjTkSx3XVyFy5MzeXJl+5emJnicSZmlJR+NQthdXczmIW44rHlWvlW+C5LxDgui1wWMSUkm3kWh4pY4KC4hz4aMS5jQ7LVrXcxwJdK2c7Vk3g4gLNS0n3RbKQzlHpXCl42qdS4BJuMun7PzqMfzcX3SdhAXSjHdHvLz31TWVaioCs85mzo9JZUx3DjEfZTnxUj8ikYEMSGUf4xRlQ8QUztMVSJRAN4lGQl0qr8zptRyPLzJpRZcLTZSfIhIvexK2P+KW0Gus06bDyOY3qNDXd6gcGXbSVAugLgXCQyH+PgQpn3ETrThC0No80kGU+cO0gloOmPLGUhiuONeb42ycIpSiKc1P1VnrAqyGilX07a+W6nTiLil90ZENzfLJa5JnRVjeoZXdMtqgo6jhNkUpCQkPSmWX0D4mQtEQtyjLlFZhZ2G+w8nua4pqC7QOpYlHRk4W6Iy27rVI5k2LYtCPUmWSk61pNiUtoyIdymM6GwS3EJD9lVUgrxFiSHAkG9VkZC0PTcXKoxtohkMk5rakTMRC0QEhkO5NXnCiRSQjgnnmOKNq4kHxE6QtkWptErVUmY5u75yOkMo8pFIUYZ\/mNrt22SrekqiF0nRK7vJvToDzNCtfDTmWRkFY0xlj7b5BKsB20riFzuj8CC6alcERK4ojcQ7lCYZoOuJGUpFzcqsulb1GxMRFsSiIyjcUdyb2lRzM5\/SS3zI\/h+lEibE9QhISK2Nt3MrK4NoqZtoibFq4yIiIb3O99SqHOczLLXwC7QOUoDsuu+tWLwWTjtNqiUW3LWzLcTfUhklfV7QV43L3CZnTffiQxESukQxIR\/uxQ3nNM2w64TbpME5yht9YvlXTiDMPybQuviMxGMhLcQkXKh6pr\/OaQnyLT1BHTbHcI9RfOh\/\/ACDIg0BXn26jGm4uFipCYhIXRAilukW5WUxTnmEoFEAGRiPT3flXmPjQcBfAm9xylHqFWz2d1tcOWsERE26MolK42x2yVrtKqotnf5RixwTtXgj3hhnVDEXBIR9Hb6vKSrGrrRCupmh5nxEvtIvzXiEhbIXRIiLmFVzTyczBg7Sk+MUDTrubnoRmlSqEtLLzN8XfOZFL0UWiG2UULP4E590UTZgQg+O0RcYK3pKKgswxFuI9RDFEs4Mpp24wJu6xptMOytF+4kX5ZmMrSIS9HzdKFc3zAW6HSEboylHvKPyzz5zTEY+kG0pbR6lUrn1D95ZhvHq4lnZdVC63G2Qlb3RUfxO2L4NMCJE\/K6REQk3dJNMhafakL7rbg6QiIxjtJPqlwSca+LcJwZFzNh3fmXEbkhZbaGXnmS1BWsUlGNNoCURiJbfvIHzwxYlqE2IvlJu4reoU\/wA+zUXXW2GtolEi5f8AquFZTtuREokIjbK6K6AUbkxRQNvXcHhzMikI2j0kX3l0oK8RIWycuIrpFtWMwCmYdjaRXENvSmNXSsVg67HonRIR0i97d\/VijBRYOJ3Zt5bqWUxUjpiIlt6VJ0sXCmTkSiNwqp8vrNIouajd0e7Lpl8KMMmzQSGMpRLckbK2SVNQPUPcKgiabILiIib3dK4tvt94S2x6UJU9cTb8ZENwkPTKSLAbbqXxESiTdxENslY2M4HyIA6dK856M7eV0iIWxIhLqtKPeTHKqdqkbIdxEROFFOq2sFp\/T\/k9pEW7xeT3VGZzMiIWhFvUGQjK0i8XwYK9RVsnP6xC\/R5Ho4zIHtC4ogxoMRE3NxSuEVW9FVz3FL+Ny58RuPtVLgVgEL8ZEPLHu\/Lgo+kcjG7cScCRvTUipMDuFlCPSXMivLGdtyB6OtaGMju5kTUWcsRG4httQ2XEu6sRxCipcEW7SuHlUITOuW4hLp5YptUVxHGJRbIri5lMazYwbbEtMRGJc0u8hnnudRCgjxqh0mxcMhc23F0qaosWzMiIhcFuNvKhmvzYm6RxrvSElrw9mWpp3ENwz7ym8K3EDfU7LunPtVaYFpsmBg6RDcNqddm+D+lIiKKneJsqYq2LpRt0+pQ2R1JUw6ZDanU9dwbHXxONaBptnv8AnDQqpJp1QQV7ZFuUoD1q3EbM8+6Yj\/XWzdRJRmLi7U+JIuYPEsvFbeVLHBM8zIgacISiQjKS6zbQTOgZOI88q0ecFoCNwoiIyIi2igF\/i2pH0bTYkXM4QqueOuIKx9t0XXXNIZSESjIo7Vm\/+nW34c5mlT9NssbB4EN827YaKm1JDqgJEIk2JIR4d4yHPn6khaMRCNx2j4RVP5Q665rtujISuEeUUfdlmGk6+0O2FoxWZq9QXQq5m8PpqacFlh4dMUS1BESHbFQDmYC3qiUhiidzGV0tvLzKCr8gJ8iJsSi4PSsSuts5ha3X++dMrzQX2olGIj6xIOz7Nypn2yErSciiGl4WJgbnXRIeUtqHG+EyffJ2rkYSsbG0fESZCjPqhazWGJB4j3HNSdGQiRDzEKMOGeIPNKMgJoS1JRON4io1nLW2hEWm\/VEVrhQE+6I3DcJF4elXqu8FsiLXhLBj2jTh7Kak6t90i9FdcW4i7qN6NjSG0RL80f8AVNjeEYsMe+c0bhbH9aIMjy6dpcu6XMgPa+ofCwJbC5bqb5dRlHVLlu\/j5E7zwCKkMgG4gJSFU3ECEelctbyNRIdoxTfgrWNn5feK+ISQ35yumW4jH7yb5w\/FsvCpXMRFtw+ncKg6qidqxJsbBK0jj+alEGJrhg2GPUqXPau0hlc4RfnKv6urKRDKSu7POyt18R0K6J7fStWx8WClOzDsmo6FzzzNzbrHxL0DAj6BuJe+F5d2P9i1dNZUq5JndXq1xheZV3BXZlmuaEJiwTTZDLXftCPdH4Vc5dnr7TQiLrYmLY7tokIq1BztsbGGLRHuj6vtfAovNHnXbiiIlbES5ULUX7+Q0yvHsY9YEpes4EzBx8bmHGh3SK4hRcTJNtg1EWm2mxbGI2+JElQwXMUekRHlTGpYIhiUbuVLhiwwZey0t3FlmRUeYMENWGu1KOlK0vF5E3zbswpnG9NipdYYLc2IiRD3fb+Bc8nLzYibIyGRSHlRdSVpR99FweklxLlHpzMu+21HyrSssey7LBfabacfKpH0jjtTcIh0j5B8mGKszJ+z+hGmiTjjhENzglH1RH4E5wNuJaZRIt225RjGZEw6TZOFEvV+z8qZTVonNgzA2ay1xjdMVfZpkzsZt1ch3CJ2moym7KMoaqRfFurIRKTbZO2tlLltR\/l1bKMjl0kSl8D8m6Mfgx8icrsqsGVAEqNZd1uP+5XVRwJlTjpOPt1ZS2jq2j3Vyd7OchcEhKmqnJXCROkMPCSst5uQ7RL1UxOnGMh\/+1RgFOMCdGrtH9xlMcb9krjotfkYoR99arHyuHlFu1QtHwpmGWtyq2HZbSJv0jYj4sF6AMiERkUu91d1YbMXRICkEhLaXL1fWhuitwvcPX9TtUbW5H3nn08w3cvL3lDZlnEhjIiLaJdIqT7W+FqzLHTqxNypo3S995mO655Pg+dV1ljzj7otjebhRbEepJLSw7nsNPbS1AdTnMPKKjaIBm7GPpFIZFlo1MpO6bQl74W6PdXdngB91iLtcLDpRJuIybHul8mKyzkjlG3oa4kfN3v1LqkdtM2ywMMIeYz4i4ZptKpdF8nCaGweoeaRYIKonGmBskJF1F+ario8kq32HGxIQk0QienLcPT8K8\/8WZZmGR5gdDVELtoug5GIkBcw\/qRqazYMrxJXqcehzmEVVnOo2TbjYOSumIxiXVFaZTX6VxEQoeZrxIbpDLdan2UZedWchd02hIRIIyIh7qu6Fhh4Qsqj0wvwzKV3hijjIcyImtUS223dSjsooKNpsbR0x9YiKKZ15k0B6ZR5u6s+yrAyJTxFt9OIUA8RlqkI7pSRBUETu4RiQ2iMRiXUgbLMwIGxbcIbh3cqe0tWUpSLu3feVam2ZB94O2snr2gr2vcMVlSVNWMCOkIaBStiUt3z4IJzjhk6ak1WqkSdab1HRLb3hH5cVeWZ5hqtCw6Ql8VItoAXN9aF8pba1SpnWBfFwiaiXMJc31LQSzlQvXvBqSFOZQ7dcRc277SmsorDIhkW1TXHvAY0evWUk9BsxkwQ+9y3f0JhwXlJ1J7SBq2ThD+b5Uxft27vaRLwibmMOeHnBLd0\/aRDloE4JDplGVpdJLvk+V0zAjEZRH3xz\/Kp+gxJwtNoZRG7aIj4lkNqD\/YJm2fUtxOwSCrMpMxuGXe5UspyIWyukMfsox0HYxi2UeW1bhUDtcbjbt2igHUBj6xiCX6pYBtI4mtWwwLA6dpDHvXIZzWnFuPeGSKX8uFwbSu3RHaq\/wC0TMHKbQEhIS5e8K2tLcFJOOxL12LqBtU856M5+cti4IyiSI6R\/wBHLUGKpfMM3InBdKQjtUmxnbrjcRKIx6kXzDq5Ijz6BSgzLRHNhIojFSAV1u5VBk2Yui7Eil6ymMzr32xk3d3URNXYOT\/qK2fT1ztH+56jxND\/ABfX6bYtDuK4lMVLwtiRltEfWJBXEeZtutk+Mh0x+M3Jz6jd4dRAPJiGipL2DjiCWbZs6RaTAjKVznSKE86yd199ohcIWwLUIdwl6qksairdfaJpr0Zc20Y95OqmkdbcIp7hjutFeZVyoyZ6cKUOBAYstcKscIRFsSIRK2Mh7qtYMrYbaacphESJsRHqlzKrCy7Oswrh8zYk004MXSKLQ3bi+VXRTUL7DYiZNuGI3kIxES7qKy7huPvO6hyMDdB3EqvVERpiMtSJEPKPUXzJ1nefjTDFuJON27pCpPVdESEZDK0i6kPZvlcmyEYy+8go3h9QIIcjcJ1yXOBrJC+WlH7ylWqWRejiQjuJAeR5G+5VkMibab3EO0u6KsE6gWg0xtEUUle2\/wByt6hWwn\/5Nagm2ht3JgLkigHvjm4ulcKhzVcEeWUVIjTC0TenyxHvESXKlufacC7e5JZVkot+klcW6SKWICNtpbVHaMmhErdS61N2nnGD03RHEC96dHm8XzplAKj6RF2zZ7yVeIrpF4Uw89ARMjLm28yxWulC0txRl0iudJQCQyIhIpbuZSxyTxOKoA9Uhq+pF0hHSIhLlKIkXhXek2x0yHpGKmsMrbtKNw7SIk5CmES5fChBW7Ms1oxiRAUrhcoiPeXTGg6tymH+UVxeVbEHRlFsPtGLVOLf+ZNsXCJ\/TiItxu8SduGmzmAylK7b4VVFxjEtn3M5E3Irtqa1VPGLnKVpF0pzUkQ3S2jJMszq9Rofi2uouZaCbQpzAsCTxBHjR8aYRdIo3Dd6y4ZXn225DPaTW69MYCREQxIfVJBeQZ7IREiuFKHTizLj5hracKN0v5jN5DuXDMswFzcPrCX6KAMpziUblM+fSHd9lK3VsBiZN1GORC\/Ic\/ESFsnJfnf2qx8trxcERxuEtpLzxWOyu5h5m7SU\/wAA8ff74OWVhQdMZ0ru0KoOn5jw+RTSCxc7eR7xZckZl9CXL95c32o3D9nqTOhrJCIl6pdSdzLaS1xYGX\/7xJG5RIbdpbh6VHulpOCQ3DKJeFO6sDAicD1h6kxkRSlGJWl3UDeQ2DwZyOM4Yaq2HG3GxdadbiQlcDg9BLyLl7TWW8T+alEGwfMRGUmwEh9H9auDtu44ruHaRpqkATKu12xfICJtprT5fgnevMOU4k7UtGREREYkRSuL1vlWgtRKl29xNX6apXPPBl89oGZ1QFTebE4YkcTEZRG7f7XwoxyClkOu+Q6hRJsSlLbuLy+5iq+4UxDzsn3SP0bRaYzKOp1EKOqaokNxbhkRcxeH5MFi2PgATZdNq7V\/3CdvMdMhFstORRkVwg5LdH5EL9ovDeX1LWrWD5y4LvonZELgy3D84rq1Vi2REXxcSKV0hkt66q12ClpA5ItLmlbzfIj6e\/jB\/aL+DhgR+8pLiHhQfPBDLGnSYgJHqFIBd7pfDgs4U1Tlrjeq3pi5G6QxkjPJsxJtyJjEhKMY83V9SZ9rVS3U0LbpNti7TOgLZDbJstwkPwplb97bGjLIUP5TtQ5w2TdxRt5itQzV8Yg7VtUzRSbI4OuF1dIqvcwq3RtIij0iSjaY4vtEOMSmJYYdJiSbTRjktA+KFPpnpPKctJsG9UbbY+FSuY5cTBCXxZ+9kP5v1qKoq7XaYIi3C3zWyjcpvEBcYiLpCTZERCRejK3cKzdobKzjuwOTG2YF\/uxHpyEYlIfzSQuxUGThOiVzZCQlzW8oqQzl\/wBBUti4OnpyFwiiMhHb9aB+Hc2E2u8JLm043LC1rwcy0CdLNGHSGIiIjqNSEnC7xeX3UMUAabrjREPoyK0RiMf6FEFXkwWq1zDdyyFdH3iGNW25qNkQiQ8xDzf1IlgNi8TO1dGU4hyw5EJSu2j3e8pnLsxbBsWx2\/GF1OdSC8tJ92RCJafKRWknNSLrQyIYxulyrMJOcA\/tMMd4hu3WSLu8pcy4P1brb5NONkLZRIXYyEvW+BQuSV2rHlluLlRo\/mLAsaY+kKMbrorTp09dtZLcQ6kKeRmNKSptgREPNIenpTfiRqjrKbS0ycd+LcLcJdP1KCzOsiWmJXbnO6PSntMVoylIvzVn0bqWI7HtHKdEOLDx8SqOP8gqaZtofNiEnCtIbh\/sUfQUIiIi7IS5lc2d5SMmjckQxlEpREkN53wsbkXRjpHaJj+ktgZbg9zWQnbz1KrrqgWKn0BWiivKKonxGSGnMlJurcbdKUStIUa5Llj+n6Ju3cq2DB\/OFZwy4Il55nmhPlBoZN93q6vbUMWQE+XpSHwytJSjAiI3Wx6eZa41QiepIreVK26g2ne5mfWPD9Ncjc4ywWgEQGItfFjzKCay9s5E7KNpDdt7qncyrCO64hLmUOTo80oj9lB37jGF3Y5PMI6Uh0NJoQaEbiKMZf1fCtCIRuMiKPUURQ8\/mz8S0hbERHddJQbwareqdSbktwkRWkqeI5P6QqUAjOYUZvxFSN7iEeWI3SQ4xxC3Uv6DQkRFuKJREf1qEdy8XdoxHbK4pLXL8nfafBxopGRREBV9pbknMZWqtB+csJpvTARb98IpFGO3qUZnDbox7xbuldWKYxuNwhf5h6e6lX1UotlGRcxJay0ZxBKhzmdWgbaJqJSlGXeLq9tTTLUnW5FbKXrIKrcSEhuiIkMuqKMMpByQkRSERkPrJpWLdDiDsXAzmFBnJ0tpCIjFKsYExgQkW31VGVbwsELoiRSHaKVJmM4zKUrh\/wAqJ4wBIbsxMVnhhGlXlzjUiaMiEriAro+FOMneIiESEv8AKpESGRES604yKQjHvd1VerJDA\/tLNaSMNHOGPKuoiIj5fa9ZM3QEh5reZYawltuHpVg5zgiLlZ1dPd+iop7Eh5pd1O6kXSGIDHqJD50bmpIjtH7yXtz8Q1Sj5mmYVcbi3SEYyWtHUCWp1EPrCmecsi63GUSG4S7yggq3ZDEouiMXCHaQ9SCDg8x5agyyaerCMtOUYtkPiuQjxPnemDbQytlb1EntZWREiHdHm3ICzOpuIiKRERRR68tDVUjOSOIP57WuXE4W7aKCalwxMXREo80RJGOYAJkJEW0Ux1mxkMhIfDuWpRhB1K6sbxicMnz0rbka5fm+2W0upAgNtyJwREZJw267tHaKltQfqZ\/gjHqljYOtuXFLxCgztEbI2G3WiLXpjE2iDeN13uLnS5yIiQkSm8j9O4Lrm3lHd6yXRfAbxPiYtgCEiWZ2Vcb1h0bA5m0QOiAjqfyg8rhfIXyq28v4ipnBEdUCltuu8Ko6gqhJzTEZF8bHa10y+f5kS0LgjGMR\/SSYts3kqOD7fEDnMth2vaHcbQjyycEf70yqH2CvB1q60hFwSkXd8nuoIcFsx9I2Lg\/8y5ZLKKN0SbcYEZDaTchJsuVwfIiWWv8A3LKkH2ktxdF9gRERdBgiFwHBErSHpx93Bec+KeGGKTM2n6UdJgiInQHYJ\/8ALHH3MMUfUD7jDj7BOERNETbhERXXWkq97Q63VqQITERY3CMiIyTFFjM2B0RHfp+7xRJehrJOWiMS+6i\/K8wJsSKTZEUR9VVOFW6xEXRISK65StHnpRi2Ij4iQHobsT1LAMJbzde1plJpsuUSIox\/Wo2srGGwIZCZS2jy+sgVvNuovvJrW53IeWPdQ\/BcmUSsCT9Znot6hk00QxIRkPpCUKw\/52OmbbenuiQyQ+yTtS5IhKIlaPKKmsXhaEbhEU2KyAM9yzMBwJN0PCOW1NzrEe9KJbUIcV9nRUmlUNuNusORJowKJiUi9GTfyqWw4uYasEicLpElI5HX+dyddEhESERAil6yKLrK+TACgk59videDqCu0j1WPRgIxiYkY+qpx14XBFqRCThQl6s9qJchfpGqR0iMRfkMRjIiHp+pA2e4VJVhPsNETYkRNNhaIjHlQtgYgjsym\/LHdwBAHPs+GpE2NrDbhXSISIlDZK+LWwlz4p4Vf1XXWrgKThARRcbl1DghFkybKQkQkO5ayaVdmFMU80Q3I4lnOZmJCQkSMuzjIzcHXfuaIvRNFyy+MVU8H4HmFcxTENpFIiHlAV6b4eoxbbEYxFsRGI83dWRr2NHoHZiuv1np2J79x1S5fIbR0xG2RbYrg6dM4ZUhO3xubJshGPUPl91SubVjFI205UkLTbrmmBOS0hKO0vJ8Kg8M4arJQGRN7TKO3u\/Ms1aPTv8AeYi1nuVfnbNZQ1brRPuCLRzaEdrgSt+vBSVZxkQseijqi3cRbRKP96ddsgOExSVY2k36B0u7ykq4onG9O4pSKRSLctOnD1hp6fRIl9Ssw5HEsLs9zQsyAicbc1dzj5XNldtjh7mKN85AqZttyQyIiFuRREXOlQPCT1NTMNwAWxIhK227\/FGFPmouvxJtoxcui6MhIh6fkxS7Or2Y6HtGnQqcgdTWh4n1WCafEdURG7cn2XZrSA0TDlsylElWvFuXv01cLjDZiw+5EWxl6M+kfmTrO6l1+hbInPSsOabjYj6Rse8nRa69zorVsc4B+0Lcy4Zy991p1vduIRK1SBZaTAi603YNpD3VAcKPELQSKRRK5WHwkYulBwRISkJCS5X\/AFbPjMxtVqmWzGcgThXiQcwl1CtyobRMublQ7W5q6+XowIWy3OFb9lTzZCIjfy3SWfsHIxNIqVAmKploQ5fCgqtrB14kQ7StlGKIMxxIhckYtiO0upVbxJgbbs9Jx0ZRIu71Lqk5xiHoqDdmGtGwRiWmJRj4vvLfLcjFyQ2iIlLuqWyvBhukGJCIxGN0iK3ao3NM3dC2Ittx27fW+tdbanJ5nVZySqxtUNNNdJCJdS55NqvvlUtiLbQi4EubxD86hqCqYzCqGl1SbIpQAZEbpc0fk+tWAzlGk2LcigIxtKIj+vFDG4DMI5CcHuDz1U2JCQkQxGJSK4u8SjMHBdKUtpWy5UQVNE3qRJoTEea65M8wZaER0xES6RS+AxyYZXUdSDr6psBLUcGI3XEpnhHPRzCRA6JiBCBQ2+FBHFdCxUtFqFF0RIm47S9VTHY7SExQkJDE3HyIvtJxFArznmcuUbMy2nmhjKO23dKSGamqdF2Ij6QdsdvrKYKtg3EZES2yDLSuNy4iKUksQbbMLEkIrUlp2y510xHVER6iFSDjmmMto7d1xLNXiLdvMmlXgRbxjEZW7RR3yvpHMXyHOY8bdK1cK3O2mHGgIhEiK5Qb1Qd0SEhEuXmTTNWQfg5cJN8vUXUh+OyiEWgE+rqG2L4wIpWjchZ7MPSF0ltFYZryJsboxG4YqNqjHUkK7bebAAs5XSFJzOOYOyLmEfzkwqMREeUepb1NRzIb4gzC2I\/ZFcrqMbXLcDqMM6rxcIhHaKEsxdkURT6odlt28xKKc3SGRXWiP5y0Kq8RskIsiqulO4hk53epQh5iXlgLBlyliI7Uf0tERFErR5kS5bk4x9GI96Ip1SF9plW3fMqIXRERH85NsxzEqYCMbpW91XHmPDVM+MXWhKUhkNpeqWHwoB4g7NRwCFK6ZHqywJ87Abjtj8OKtXZXuw\/EXexiuUgPkbpvuydKV0iVpZQ5EWxEYytLligyj4ZrKPc1LlkFyIaOoIRkQkMijcMYqmr22HCzEaty3qEM281YpBuiIlIiKQ+kc6vrXRjirVIXB27RuVK8W54NW\/AC9E0MRHvdSjqWvda96dcDwkr16Hav5w4rzPTlHm9si3FyyU5SVJEIkRRGJOF3RFU52YsV1YJPvujoSKBF77L9SsHiOubpqQmxd9K7u7rQ7pLP1iY9AgmGDBjiHOxbKpf5jcIh73Sq+p8JVLZuekInJEtM0zQql8rosN+9KW4RoSdfG0nJW2jJGSrwkmxoaxWhcyazKkFyMhkXLIeoVXLuZC2ZhdISIbfEvRmU9mOZZgQOPkFGx3r3YxtiOHuKTy\/\/AGdMjaKdW9XVhEUi9KLQSl0iPl\/tTFFfpLN1LWfUETrmeesoYqayxs9KdoxGRI1y3swzIab0XpSuIpNuNkUu9ivR\/D3BOS5aP+6UbQe174ZEZ\/aL3FKnVNjaLokPTuQ7rNnXUVf6mxPpE8wZb2b8VSIRpGmGuYn3xiXh8ntqUa7EMzqQx88zOkalysC88Qj\/AGL0Hi70y8PKm9S4LfpHSFv84v6vhS9l1p9SgfrANr7j1xKAquxMqH09DVY1xCJCbDo6RlbuEsPaUKwwVIRibZNkQ3NOjEvEPyq0uKO0lhh1ymoWiqXxKJOOjpMNF\/eSBM1pqvMHdesdJ9yNogItNND3fJ7uKCrW2f8Ay8zS0NlyjNnX3nDL8xF8Si4INjaQl75\/0Ra5neXsMDqCJEQlpkQ80epAVRkjbZEZORIhErS3f6rvxbm1CLTTbTevEfSavKWnyl4kZKAejiO3OrkcZzG5YsOVJOOti01GTgtuS5eUsfdUNmuUUtcQukwItBaER0zcHvFh7qkeH8vF9tonLm5iJDLcJFtRZxFwLmA0hnRiLo3OCw3vFvpH5cUwLSvRgGRAcGBXZHk7QP1zoXCL+k2RbhEeVegsoatH1VR3ZQ7Fp8HRITGqKYkMSEu8OPuYq9eHnrh9VZOvZm1BJ\/ITzl64tI\/ORHa5mw0OVEIiBvuvtNttuNatt0nI\/Bjh8qCOCcC1JRiJAQx6v1K6M1y+mqRIXW5EUri5bf7EGjwp5m7IbmC2GJe9l0l8y0fCLUrtEniALtgn2pUpv5Q+ICRF6NwRHcVyoVwH2Cg6BAQxtK2XhXpDjfAhYbGUdS0e9covMMmYrMvfEmGDJpoTIj3yH+TL3VXSv4Y2Edman0u0oh\/WBPC2ZDpAThWx29JKwcpKRAREN1w90YqqcuMSEmxjECiirh+uhFtxyQ3Rl+agXpg7hPQlCyy0KrAn5Nk4LsR+z0uD86FKjK\/NqbMNRwnCkDguFuIZcyIcprRcJshERuESjzCm3GjcPPmCEm23aQiD7PUiVvvXcZnHKNtkblNTtjtR9wXViD4y735qqbg57Ubb5rY+spouICo6xtipi2LlzZjyq9W5TvHsZi31b3IENanFwitbiO0Vyey90pE6+4PdFTWZ11MwIlqNjKIjIxEZdS4DUtlIZNE5GTYkQkJ91Iqh3ZJm1vOOBK2zXNjpiJtwtdvUtLmH\/RTVFg2\/pEWmQldEeldc38zfAwKkiZFcbYyEe6kzwk75mJtPk27KUSGMR6UUYAzCswIGeI6r80Ybbi2LYkO2O4lFULXnxOHIotkMi3CXdVfca1+Y0rosaDgmZQA9wuEW2PwKzez7J36SjAqoNOMtW6ThGqGtiNzQ7otaZB5hBR5S00JVOk03Uk3piYiImLfSK6jTEVxHbG0RIoiuFfXC56QtvKPSudFXiQld3dyE1m7j2EVCORunOtwJoSKJEO5AOc5sMpagjuR0eZjEmyiVpDdzCqQ44ohpn5NkRNukRD3S5hUqQM2BNPQ1hzteLNM3laJSjzI17P8AMy82buuu2+JU6bisLs01HAHdpjaRJx69qx7W0oKuJctE\/qesQiPdRhQiIiQ7kD5IBREuUiJTz9YTbZEAk4QjIREoyQdO+zLGeZvTcdojnN3hF1syK0RiX2k0qM4piGJFIhltl\/HkUKeYuVIkRNaQyuEoyJMn3BcKIx71qXu1R3EKO4avTAD1e0kDrBJsbRHliKZ1NWIjHmlFcG8SEtMht6llx0RkRRtFBRGY8whwsZvvODtu6hScftGXStKl\/m5UMZ\/nQtDESkRcqYrrxLgeJxO2c5qLYx5kJVVbKRS8RKJzPNJXEVxfdQ\/WHUv7Ac0vCV3eT9VXzHUqCjmGlukRSlIbYrTK2RkO6RbfChehwqxiJC7ESGQxKMUdsCMRLbEdqZXAil+QCAZ2dorZDaiLh8xtly2ko1lwXGx+yt6B4RO4ibEhIhiMpOcoo\/pU7pkOC\/pk\/WC1KMoiN0i6ulcqinEvexkQjIi5fWUPWVBiNw7ilLlSYrnCKMiISHaJLPuuyx4h00pC5zHYNtNkJSlIh22j\/quOZUjFSRMPgLYEJFt98Lol8GCeMOtiQ6kSG7amxVbYuSjLbd03JfJHMMvPGJAV\/BGURFrzVrcNzUhIS6ZcyYV3ZzlUgscaJohEhErHLub50S1tfeRNlHpQ\/mfGNK2RMVepq2kLjd0h8Pwpiq+1iQpMs9VYXLAASabrqTLWiFsRb0xIW2uUe99Sqbjji0nyIRKWoVxdX6sEWY5BmGeHbKmaIYgMby77nyYKZyzsBEjEqzM8S5iBhq6PeIvcRVsorffc3PxPN3bUsIzxKeoXWyiJF0r0r2OUVJTNi65HXIbSLlHpTjK+yfh2mjp0hPkO52pdI\/siiRqlpGo6TTbTbdoxGMklrPqqE\/0wf3hbtaLE2JxDIszbHYXiHlWj2avmNsR9aKFDqxHxcopm\/mHL9opW+FLH6iz\/AIeBEd2JPvOuEUnbv\/WKMrasWBJyJEQ7W27iIulQzmZCN3Ly3XEovM+IBAZfGcojdHw\/LikzlzCI2TgCdH+IsytMvRCXxcvSD3VNZRWC6OpInCIeYpXIKoPOatwXSsbltK4iRLQNixaAxukXi\/UnhY23BE2KdOAMtAPtBjSZm6cSi\/pviRf+juiuOT5mRlGI9UiK3wkpPtQon6loHRGQtFKQjtHmFC2V2kN3eTiOSmR3NdVQoMy1crZYGmEjbB0hcuG20STHOuE8tq4i+wI6shbFq1xsyG0vaUL+VSESjzCK445zcJEVw80rkZNRtHUTOncncDBhlwaEnWNxtGMC6gEt31q7uF8\/pHaRom34yERlK4nOZUBxcWuUmt8la\/BjzRUOXmTAtk22LciH0ZR3W\/L8646ggNLWpxzJzirhrVc85YEfOREj1WxERf7rg4e7j86h2s40mGqkfiy03bveyl\/mRi3nzQl6NwZN2j0oDzzzYql9tsfQVwkZNjtbf6h9ZL3VKeQZiaylvxgSy+G+IWq5shEh1RiLrZDEh7w\/MnNRmTQyYEmnCiUmyIf48qo6iqX6OskQk404IgULYlHf9XzIgdrGhEnSEpCMm+Ui7vzq9DWqdg6+Zlq5bgiRHaBnwO5hSUko6UojLdduTrLa3TdbKOoJWk2PMJbhQDmuTvu1P5TltciLG4m2uZFNHXtiLZRISG660kaxNhDCen0VOyrGOfeQ3aPl1NQ1jZUgui3VxcaEh3dQ\/XgSZ5ZkuYOmJNtxESkOoSIs1rBrjpm4ap0xOELhDIgkSPcjoh0hkJSlcX8e4hX2A8qJqLqTUgDdxlllC+2wJuDG7eJWy6fqXTjN83MqffGTrrTBjHux5flU3nuUi2wTgun73qC1yuF3RQrWZroUdZbIm2DcES5fR8yHThWA9jFGbxPWPaV32XZwLuqMthCSd9qjpCdM6VwkMZdNyq\/s9zUmcwESKIVJEJeJWpxm15zSE3ucERIftLWesVsV9jzMnxf6u4wYqOJqzNSClEycALsSjtHvIm4d88bfCmYccIHC9JIpCI9Qlj7mKzwjwVU5YFSL8SIz9GbZb2x5vmRrkOWE3cOlMhKIkUfvJC4pnbX1PQ78DJEfNOuMELYjaRXEVw+JEzdcRDF1yJRt5RIelB1VnDctN0dPaQxKV3iQ\/jmJvvmIuFaXoxkURFJpk8GVercN2IZZs41VtFIRcITiI8wkK4FXVIiIXEIjzkmGXDpRk42W4u9IlLYMC6IjtLlItpIdgz6ZZcL+kbU9WL5G26RNkIjEeUlC19aNI6Oq4QtSISIbZWqaaiwWoQyIi0yltEZbkFdp1UJO4i0YujERGGFsu75PcTFdalBNHR7Xbb7RYcRiRkIlIRK2JSt6VEcWvi+2NwyEpDLd3lGcMcP1L7kiBwQujEolLqRZU8JC204TpSKN3UPeViqVsDmXuaut8IZVrzog5IrxVldnNY1AiGIiTkoiSrvN6XSccEfSDyy5UuHcwKjtlEZfwKdtr31+mINYzttYz01l9eJS5ZEMR7qd5lUejkO4eXuqmcs4nJwRIS27kTM8UDG7p3LLcOBgiAOmwciFDdXIS5ZJtTuXEhh7iZgRIhK3wknGQ5n59bSxdjvIdod0vnQq6TncYVkIWFeNUKiaytEfDzId4wzVzLQkYk4PU0MhHxfIqnzftDqHbWmhH5yxkn6dM93KiLlUrGXMtbPeJW2xIRKRR5YquM0zmRSG5wt3SKCRzh11widO4sfVU9loC4QiPMnBo\/C5aGqvQj0SRpgmQkVyPMkovREUZCMRL1kK45fpx0HJFGRDtHwqSos3cjAYie7TIoiZf4IVgkZy44loZfljAi2DjQlqNjEhL85YzTh6mEvRiQy5ZFKSr3KeOxFyFY0YQIRiO6PdJHD\/ABAw600TZFKUxLmEekvnQrfSvIigRw\/chc1y7zPaXLLwqH\/KJOFERuHaSf55nzcSEpOOkMRbHaPeJDdG\/tj1XKlbuy8xjYBz7yVwdItxFu2ltTzKq4mnCK0pDER3FJNzfbIbh8Mepa4VrbbuoANiWmIjLaPe+fFW2Y5lS+4EER5UvE05F23aRD0qNfzURkI+JbZ1XUhxiRuFudKUZF+pCWd05nWNCOJMBgImQDzjy3Lq1AnBM6OF3ESeqc7HluUjwbwgWZVPnUIjzVJSIvC35VI8E8ElUxfqwjTCQxDmcL\/DBWu6\/TUbQiRCw0NoiPL3RH5Upbea8rV38zK+oa0H+nWOZvlWWtUgC0wIiPMW6RdRF8OKeG4Md0Wx3F1Jp54JCJNiWmVw8skzr62IiRWtj9lZfyTyZhFGY5McVNT6rfL3kwqKnm+yPSo6tzVsZSIdsu6IoTrON6ESITMh726Siaa1+cSwpY9CFdVVjdd4i\/RURVV\/2R2j1f6IHzftEox2NuOiP2SQljx5WVzuLVHSDMiiIiJOH\/pgtGn6Zc4zjAlxpXJAI7liZjnPTInCtERu+yuuRZWbha9SV3KPSK6cI8Nm00L9YU6oxv2waH+SH50SEQiJCI\/dRDUtYwJp6XTir8zHbeIi2I+spSnpRdk4RRb0xt5hUEy51Jz+USEYiSLQVz6od0PtIHjitfoaNx8YkDpEwIlEiEXOYh+BVjTVgiMe6jbtU4ka8xdaOBOVMRatiUhL3xVB59anlqDDKxyk7V57ht+UhjuUY9mfpOa77qF2swJcqisKV0vV6l1dNCeKIRt1MnSu5Zfso8ouLhao2mBb0xbEhkMbSluUZk3ZpVE03Uv1LYk+2Om0IyjIbZF8qlct4FfKQv3CMrWiuIv6fgS9r1j3nFG7uDWZ8ZmNTBi4bRI9siUDnPGlcAiQkAwckJc3h+pM+JcfNql2kjHQdIeW5DubPzEQ3XCnqNOmQcQGpOVKy3sg7TaF0W9WmdJ8RuARtIu6ScZnnZ1bmpp6Dd0Wub1kAcH5WACTrpCBRtEhkI+H50UYVDYNyK0REikX5yHcArYSK6bR1od2OY8zCu0GicJyMhjGUZd350Ps5jUvu77S\/N6UHcQZ8NVUtRLHSa6rcMe8ijJnxIRIfVirvpyqAtG6tQCSFll8MCLVMRRuul3hU3lHEBDLUIhbEdo2iSBsvqjIrnSaEd0RtIVIN1ov+ibk4PNakLV4zDIm4nPMNcy4tYKmcM9TTAbT3EJcoiozKXxrI+icfadERdEW9QtPvfIoPNnhaoyptDVF0myIR5briIvg+pT3CLWrpCwRUzcdNyJEOoI\/UhV1Dg\/nCOoRTgSse3DK8ry\/MMvfywW2CiI1NIAxJomy3kPziiWlk+3IRIgIYyHbtVe9r9Zr5zUyGBNCDHeOI70Wdmmdk20JFe3HTNvw\/wCK19RuNasO553VLtbKy+a\/KtcyEJRAOa0RHmQVnZlTELgjEZR7pKxmHNJuJXE4NxdPdQD2iVjVMxuGRFaJd3mWBbjeMd+89Do2Zm2e0HM3aJ0ffWxcjKAlcscFG3KrJyJGAi3EiHm+MWGOH332ArCdiT4yASGMR6YrplXDY0jhvk4RE6IjERtG7+1HXaCY7a67CmZrntdoFcMpbe9aozIeKH2qkWzMTYdIREeYC7vzLHGzVW+YCxSVbu6UGnCEVvwhwLXPm3U1LTtNB20DaITKPN7fwKKqKm5oA2VhfUwlgPNCW67qHcg7M6BsXZ\/ycnBbGMbVYGGS1I3EMSL7MVGVvD9Tti2QlK3mSotXOcwNOvqrON8d5LWsFQtPttC266ESEdwihXjSvgJC1c+7b1R7yf5Vw\/WUwvtkUhIhFjdYPMo\/MOHquJejk4XUV3qoj2qzDmVrvoDlt4lMZ6w6xIyOciuEt0v1JhTDqRIkccQ8E5y5EgoXHSlIhEhJDFXw\/mjEidy+qb6vRFEf6ltU2KydjP6yWX1F\/SwP7xg7VOtHgLRXHj5LepXhwRwy36J+pInHLbS97Eo7SH4cVWtDwLm0qWrJhoWig+JEY7O8Py\/MrhaqypGBJ+N5ejjt\/wCqW1jjaAsuHJHpMnaymaiVrdtsdNuPhQ\/lVcxRtvg0w01J26AxkUd3tLV7MX6sRbYHTlaRSFOst4epo3VMXNzmoN0u78qza6nIMtuVRhzOWOSlmQuCRODIbYjKQ8wkOPwKu6nsgGZFrngJHYIN+0I9JeX4VcmUZqxSFDvR1OUR6k0zTOBctEhiJEWoPNduRUuakf02\/WUyznBXj2lT5l2T0o+3qPtngO0YlIkK1nDx5eQuUzpHHcB7vV8iuGqzRtsSccKQjIiKX3VX1EBZvWEw2YtAREc9xCPR7Scp1VhB3HIEt4IHOMTpwznLeoPoxjIRi7ylG76l14goWxKQkMXPSCQ8pSRM1wjTUsYjqDzEVxEgHjTOTpqgqYGJD5PL5S6u6uq\/ittUTm0L6gZE51VSFuQ+nbciRDzCpKlYcbbEhdcjGRCJe9\/6ILHMHSf9Lu\/RRhlVVbHqtLwpmysqAIIWhjkTq04QlEhKRXSLmToXyHl+yuY0k3Bie60ZcqkscncaHUcMRGRej+M8X1Km0EZMEbDnAmgk6Q2gUR6dyjayqG7q73UnONQQCUSHxSITj0\/Uh+tqhLpVfDB6hEsI7mKnNJFFccM60DAnXynt6iEf1KAzKpEZF+ao3K8MH6poTlEzEcPh9vlTtelBXJ6i12tIO0dy98tzx8mmhCpcKQjGLkvtfIi+hoXZNv5g5qAMSFu4ilykShOFskpqNgfRCThN+lLmEv8ABO6vMDbIRmRj9oo9KwL7BkqkZ8mGHWD7w1erxId3dGO1Vr2ncSv0YtQISJ0iGJyiIj3UYU72o1qDzcu0h\/rVOdrbhuVVO0AkRDMsRj3l3R1K9oBHEE2mQDqDGfcW1zwk2TsZYXYB8KbZFlFS6NwxEuc9361IUXDzjhCZiI+JGmUUmkQlESt8Q+JbL3LWu1BBCjYcgSMo+BRfLTcrCEbZRb\/SVlcNZNQ5UMaNoSK2TpDJ0i8S0oXRIRi0BF3h3f1KTxxbIbmIl1CUR\/tSLXM3BaUclj1NnK6RFG2SaVFfFR9ZVNBL0olG4hEhIv7EM1PEBEYg03pgUhJwrnC\/UgBcmHSo+8JnMz5iOKhM740CmGAtk46W3UEhH\/VSLFALdMTtvpBIZEUiEh5ooZ4poxqaQSlEmJGJdVu36kSutS3qjI29LB2tpCzJ\/wA6fIvKXuCJWgPSPlUTxFlw0giQlIS6lN5ZVjpxl6yHeNc0EiFoeW6X6K0qNzMF9oK4qiloPlUlLuqe4KMXcwaEoxG+6MSIfrTPI+Hn6ovbAhD7xK0OzbgijH074E+\/IoNyIRCPUPwo+qtrRCPfEU06WFg\/tmW\/ktXJpti0pE2ZdKK6mmaEZCMdQSIil3v7kHUrg0zrcaaMRISGMVOlmo1IiIiIwGO6JbuleXOMHMesUk5XqUN2x8G1w5nKnpsCbNrA2iGIzwld7vukhfIuz7NTdEiYEeYZGK9PZ482+xpHHVabLSdKMhc5R+fBVcecGwWmVptkRbrpfqW5ptSDWFzFbA5bdiDeHBeYDucYiMZFL3v1fhUxScADVjF2rkBbRbHd1S8q4ZlnBncTm7vRkingWr1QtKRSL7PdQNRbt5WGVWKktKC444Jq8mqdN+JNOEeg6G1wJf2YphkzlQwYk3LEfLt5Yr0J2j5COZ0zg7H6YSdalL0kRuElROsLDRdQ7R6v9FpU6nx0iBq8I5ENMozxp+bWm6RDaYjtRhktI42JRbBsXBjKXpEK8D5JoNC6RTKp9LIdselWJg600I3SLd4Vm6ogNhZo0E4595NO5YGW0LDpGL41ZCJsF1cpS\/vXM8G2HQJt8DbIC0haH4\/4wC+TBRtbnR1NM0wLYxYKQucwqOxZdISflpiJSEeoub+lALjoD2H+4ULx6zzkyuu0vJhfrql1oiImyESluKI\/3qF4AzEQqSpikN0ru6jSmyurqXH33B02ydK6Mk8\/JtI16QWm9XmOIyJaYfFe0j9J57U3KWIWXW7UPyKWmI8ox2oTqOEXczrBfqWj02CGES9E62PV8iPOEKTzmRvjtKIjykjgNsRCIrKp0+\/+qTjPU0L\/AKg2nJSvvrME6ThlsokdwjGIxERHuqT\/ACay1dBoO9EZKYIC8KHs2lMhLaI7epC1Z8IcDuYz3WWH1GauV7bdoiThfZGP9C4P1rpSIYj02\/rQ3xVnnmIhFsSJwZXFtUTX58VrZEWpESt27dqVSjPLmN16Cx1DY4MMWag3JekkQ9K7GLlsolLl5lWnsgdphk5FwSubjbaiHIM3cfiQxIS5RkRCXiRkprxjBzKX6J6huPUJ8ZFy+qt6YWpXjFzvJ5St6g7Y+sm2bUOo3Jv3xu5surukrZ8EgtyImBmSAZU3u3S5upau8OjGQlcXLuGP9KjsgdqS3ORjuFHFI3aPNyrfo09NwztlCMGVzmGTCwNwjErtqGs9yQKloRIoiBajfdc6vqVlcStCQkXSgepKW7qWVrdMKmOziGqves5UwBzfAaNoXdUhHU047S8X1JgPELe2Yx6iIZKR7UhbKhc2iTZCY\/aVDO6huxkRCRWiK7p6vHTPU9Bo9T4iZbky4qniVhuUnW\/tDtURWcZZdKPnJXDubGUe6q09jta84MhgBFGRY+39lHOS8IsMCXka1SHe6+O23lH4EZtFTWPUcn8o0NUxPpXH6yM4o4jYqWtBh9yO4jjcXdU72RUvmzouk2RXY4lMdwl3VK5fw43EiiAl3WxFEGXgVM42VrmmQlcI3D0qrOBX4aDiRrQzZPfUNnGAcH0Y2kMoluElUPbBkmINMZg0MolF36iLcrnaqGy2xi6IuDHlL+TUDxTlwv01SwQ2EBRu2kk6H8OwNKKf7Z5Zr8JEMt\/KQ8vdUhluYCJRK0vzlvU5eYEQE3KJFdbJMqygciBCJWluFb+5XGIF1KHIhzTPt2lLdt7q612YOObiIyjHvf8ARAVHmRCUCEpKeos6aAry\/SSzVMvEqGB5mMwrJD\/Fqgc3dcYESISv2Fy4ooqfyfVf8SDR9W2RdJeVStfw+3+TxpnbyIZ6vSXKQ\/MrK61kbxOWFnGElPVNRiazRE4LoE3hjiYmJD5PbuwJHmR9nuvGbhRIuX4UeUHBNLRiJYAIl1EQk4P6k2+tqUYXmILpLGOW4k1wSeYZk0TtSDbAlH2h6u986lqOllViDtrQiUiHcpHInWGKPSLcLkhcuukky61MnBdHaO7m8S83cy7iyib9bsRg\/EZ1QW7YxIo3cqFMyZ1\/SNlLdIunu+2iesqGokOqJERSlK3wioKpxGOqLgRlGPNL\/BUrYiMqoxzIPCnl0rm424PKXqrk7WE264MJNHzDuH\/RZCuLlj6ydEA9eDxNDrKkbW3XQ8JKBzl3MjEh86fdEeXUISRY07K025EXSuj2WNOSjISHl7yNWwU5xFHwO4H8G5iwJEFTIDG0Zcy6cQ5w2Dg6RXCQknlZlYla61d1CMS8UkPZlwzjjImHcZfybm77SZVEZsniU8UgS3MnrG3aEZDIxuL7KCc+qRJp9oZXCQpvw3XusNC0dpCMSlukmVY\/eUuYpeqlvD2vmMV4xzAh4qlgbDKC45VTlU1ACUikUj9oixjhze18Ce5w5B0x9YU84XdzCjqW66lp3T3CXo8SbMC3B9S2g3oz7kTFdP6mOSAepc9Vwj5sw0753IiAS02x9I3IVLcIP01IJMOSI3fjS\/RW2S1rUWifByRAB6bd0bfevb+RYz\/FpyRsWkJS2\/Z+peccl+zN5MfhI\/eF9VTtuDMXSEStES3KEqcHGikUv+W4IkUi7yFco4y0HRYq7hMogcbRLpR7lmeiUYxIeYSGQpVlwfV0Zc1tXx3GDGZagjOMtsuUiQ9xllzbjDjrZadSJWuRkJdQl8iIs+xak1pNR1CIXC5ZfrQjx4TjDTQ3E1Ula7yiQ8hfJii1Jtf0zmVYfErzMMK6O0RHmJvpVo8NN6TDAMRAgAbh3F3kC4viQiMlM5FmpCMZXDaj6kkjj2l66wRLNp6kSITfaMh0ybJ0SGQlHdH4cF5\/4g4DzMqvSaYJxo3S03x26UtxfIrgps0iAiRSFPsqrCJ0WjcGG9vvD0odOsspUkARSzThu4IeZnRgwwQxGGmJStERXOsebK1uQjG4y5i7qMu0RgRo2n229SD9xdIkO4vmVYVNVEbd5belWrc2ruMJXj2hVlpCQ6YkIg2IyKW5bcR8QMUbEjkTQkLWmHtnIuaKGqfMvNGi1S985bbu6nmSO6sSdEXCkTgyGRAK7gKcsOJLa9wPMPeGq6j82ERItN3mIYk4JcxeVQvEuSk02TYSJt1zUYdbuED5m3PkUdxLn7TGXu44w9FLTPmJwto\/0IP4e4\/qSCJlcMRLpJaNbl064E8tqNM1Dccz0dwPmTtJmB0jhTYfHUAi+KMeVWRjVCqN4mPUEhbImndzbg+jiY7fc+BN+z7tcqZFTZlTE42BEJVgjtIeUh+FZelsfw9h4xNv6h9Pa7+rX+4\/\/svbF\/wphmLIujISka5UOb01W0L7brbgFcMSitzzFvaMY9S5dXkeozzxBU4MBuMeE28ybiTjjT7YlpkO0ukSQhmPC2ZUglUuEDsWhEdOThSjuirhqH2HOYfVUbURug4PhJCS0IMPzH6fqVtahOxKdzandfqWGiEhk00LjggQjKKsrhnKBbbEQbIY924u8pQDIhEdMSj0xL+9SlBmOkPpR\/RJNV3U9lvtK6nXG1QoGJ0FvS3CXdtimGa1em2V1xbR\/SXGuzknCKIkXd5RTEWhItV9z1ZREfWxSF2L3wn4QYmD7md8lluiXeRdjmTbTQiRCJc13Mq\/zTizL6T\/AIthgR3SNsS\/sQTXdqWVGZA0+T59TQkQfax9pbVOoapfQMzorZzhRLKz3NZW7pcyE6utERIiIRHcRSEREfFihepz598ZNiLfSRFIkNZvQPuF6d1w+kSIo\/2LOussvb1cCPUfTmY+s4jHtIzgXwIKZ2QEXpy6ukR+ZCGW0kbiKJbpEP8AHtIgzrLS05RlEbR6f1rTJsIjIhFyQjaQ3STtOEr2rNmupaRgCTdLSOOiJEUnBES6Yj1Irp6SDTYk4RE4MvEXSSdZDlNNpNkTZxjIiHdLp+pZzJyVXFhuLYxEfDHcuW1lRk+8B4284Am7bMREYxXTFluJEUREdxEQiI+t8C5k4LbROuOCIiUO94hUcFa3VuFqEIsCMRb\/AJTvOJWxscCErqLcmFPBzf5QImKZ9p1ti43QIS0i6VYDXDzAiMxJ2RXaib9n2SsUNI0LTYBrkbrhCIiRFyyRI5tb8SulSgZmVqtUzOQh4EFazhHKiEpUNIUijImhkh7Ouy\/Knyi0x5sTg\/FbR9VHr5W3dRKIbzthwiJp1t3TImygQkQkO4SH3cEWsc\/6iwe3sEzztx52WuZeJ1IiVYw1c6QBE2\/EOHwIGpKNp0ZA1IR6RkvXONQxVtOQcB1p0ibIhi43ISub9r4V5t4wP8i5hU0gBFgi1WxAbYlyyTGX6mpo7vE9D9yNy3hrXLU0hER3OGIjH1flU8AXN00hcES3D09P1IWc4pIhKMokNw3Wqd4AwKpI3y1LSiBchDzIFwcjLdCaS1qvMLMKYhH0UhiNsVLZHl7bTZOvyN0rilcu7LJRIRGREJRUjS07TbGo+RSHlHqSWSxlQeIydrGrhJshHlKPKoioi5c20XiLmU3RDSuhVG+RWj6AZRkX+Kj6KvbASHmIYiPL4lQjOIcDbnAjLDKRjtEeaIpi\/lrYiREJSIlMFUW7tv3iTN6olaIq6sBKgv3IXzZojES3RXQsoaIYjESjuEbvD9aeNU4ykVxJwyxJyIlGVxF0iiBpxmgNmThUNSNpE1Lm3h+tSzNSBydFy1y7dJTmYZYJekdEXLpDK4iUHxBw0JNatGRNPxIib2i54R+BMVuH4ErYBgZicrBuEil+kmrrTRXcv5vdQQ1mlS07AxkAlEpbhRTleasSajcIkUm5XRj86MyMsXCg9SWpMgdfGQjbyknbPAjROgVS44Q7iEdsemSNaPNh82YaCmaGA++\/GEKYZvnb5CIyGIyEhGIkSRsvbPBjFSHOMSAo+EMq1RxJoC8nuTieKL8ctYaEY+jbjIIiIjL+hCmOYi1cVxF1cqZ1fFzEok+JEPxQkJeqrKzuPVkyz0+rjiE1c6LUo6YjEiIhLaorh2qKpJ8d2oURLcREO0RW1DS+cgRPiUiEdAI2lLqT3KspKhdFwgIqYpFbaQF1fUhhueYX0qhGeZDZvwwVS5pNe+AQmRFaIlzCrAy7JmxabYKI6cSMmxuIo9XyKGzA4utxKIuENwlyovZZ0xG8bo3dKHax6EG9hKiMqktAnWyEXG24k2DkZeIkMcT041eW1bESEvfWo8rg7fd9zBPuLcxEHSK4tIPSR+MihQ+JxK7SJttwolIbUStmIBx1ItRbmVjXN17Q+94D3oyl+pRWU58+1VAL9g7Stj4SXoaiyejrKb0emJj8V1D1D86COLezWcibjIduMSEsP9FpU6ithhx3F7C+70nBB\/YzNLWyESGJRipalqid0yG0mylEiiJD0qv6OqOjcJqpEhICiRcpKcyfNJ3cspS6Uk9OM\/E0CMjIlsPmNTSOMEQxcGJdQ\/64Lznnj1ZRvusPg6JNEXvgFslaf1K28nzAn6wRbcKJCNv6RIjqaFrMmqvLKs4CYe+tRJ8RFyYtyx93CXwKulcUHDjIP2ilqMv4T+crrgnzGupgKpphMh9GV1wnyuyx+BE2WVHmZkJC2UbbREreVYyrs\/KkfDL2n7juFw9p22+57mPzKRohpqYXRq2yJ8bQbLq6i8qK\/wDUzjrPE5uwPkn2kFxzkdJU0jT5EIgTl7A2iPe+tVNmmU+YuCIyIHLgLuq6czoW3Babc9GJCMilbLqQRxFkxFKmcjISImnB2pqi7AweojdVuOR3LuoGZtSIRIh6riL1VDZhRNk6LpNxFuRaQ2tuF1EOHwqa4fAm22pDqFG5P81Bp+5oIEIkJSGUlibWIyJob9r49oJP5poNk604DYxIiiNol0xUdTdpm3VbF0ZCJEFty3zKjEpejulcMrSTJzh2kqyIm7YjIgR6lWwZMltFJHrX94XFxVbLTKPNao6u41FoStPqiIrvRZRJgJR0hGI3XeFRGd8OakibkNqB4S59UUGioJxO7PGb5DJoSES2kUU0zbjDMhAyFwRiJbhkmWRm20DjRt+kEubp6hUXxY+IsOx2kJNjLqLmRVoUYEKuip3YC\/7kNm3aHmUI+eRIh5BFDgZpmVc4DT+YVJCRRjqkA+t5EPOZe7PAYykW75EW5Jk1SMXIybEriK2S2BXXSvpxO+ChOAoGJzquCBxkRPlLd1feW9Dw7cQNDEhGRjtl4fKipt+UWx982xJdWhJoxcdbIh3R7qD4zEeo8S6oFPA5jrh7MSbAWH27YxByPe5kXFTsEItagkRCJCQlK3pUGTlNpNttEOoRERiafU1J5sJEQy5myEpRS9gHUr75xiRucUelLbdt8PShQasW6vUjtIbeWPhRBxDmLrsW2mo3XmW31RUcWWxiQtyc5i6u8uUn3jTKNuGhfl1YJUzrsrCGDYiUSmRLkVcFG04+\/MhEZEIjKVu2SEslJx106FqREJC7P4tseYS+f5Eb1DAm3oFcMYlLm\/1RrXzjMS8EIcSm+IOLKqpdIy9GwJeiYG0RH9aIuBcwCqqaNgtciffaAiECIB9JzFh8HzrjX8Kj59R0bREQ1j+lEtwBK4pK6sG2Msqcto2AEGicbaGIjcXVLD3Vy5q9owIayxlXavxLbZaFuDY7RtHwxWHsREe8Mk4wC6XSo\/MXeVUztGTPKjk8wdzN4jlJwhkJDbbaXN9ar\/KcgpssfFxqUicItQiKRSK6Xy4o8zTDmHl3KAzRgXRbuK0xckqFWHIMfpfHHsY24TBqmzCpo2mxBp8nKkhHaTpbi+ZRnH7INvjIRIjHmESlH\/BcgeIs+Y0twuXeHTu\/oTztDdLXCMdQRIpFyjLaKKWzWcn3h1UrcpHuJCUuVMaYloNERXRJsYil5sIlaItx5RERb\/sWaJ8iLcIlEbdxF4U7FkxkRjESK0S3Jc89RrLDuPsqjGUrhKPh7y7OuNVIk05bplIiGP2vnUQ04TZakRjzCRWqDrc5cacJ1shHcLjZXCTZIlYVfxQtVbMeJ34gY0Hxi+JiQy0x2txL+\/FMMKkSKQ96Sjc1rCJwZR22xttXA3iba1LZFcKE65Y4mstfo57k666MVwaftTGmqZCMoyJOwC2Mri3eFWCYibccToFTyj6pcop4wJDduIt0V3oMqiO20huUlS01wt8vSO5EFZHJidlw6EaU1A4\/K3luElyqMof3RKI\/GDyjFG3DtFYThXEREQy5U+OMXB5o7h2igBSDmW8fjbPN3FOVuNk6+Q+iIt4\/nEg2vMQubKJDGUVdPEuMnHWCGTZEQj+kgd7hYNTvCXiEvEtOi4Y5lra8cyK4e4lfdi0eqUSuiURIf1ogrgcjqtOuuNCXNKbXdL5U2rsqKmEndKIy3N7R7yH\/AGR+akV0hLc31YK2xbD6BKq5RdzNM5xUOuYkBuuEJdJIcpsnfccPSx9tu7y4lFFNcTVSIvtRFq20SubJdeFTjWNDGWqYt+JFSw1qQJy6tbPWx\/OX3wBljtdTUzj4QImBnHbMRVmsZG1p6ZDK2JdK48FUWlRtDzFuFFQsEO77KWXTB+RMG\/Us7d8St844HDVbdYjaUtMitcHp+tMGbiISHTiRCXiirTdbt6UL57lYk62\/GIxi6O0S731pPUaYo2IzptYfwP8AtKK40N9jNXGiIYEAxjdJvvfJindDRDUtExEiGOpIRuGI7lr2jZW41mQ1MhNp+IBHcJCO0ljJqiJCN1xCNtv8YLoYocTeb1IGWN8gcjF9pwtISiXqlcMVZmW5o3WDy6kYi5ykUeYVUr1Q3l+c1LDZDoEQ6jcrRcIRkSsPLWRbi+1GLm8V16j\/AGwFzA\/i\/YyQ4h4Ioa5oicaHb6Uh3DLmH51Q+a5A\/klYVLVS0CInGHxEiF0OUZfBj8q9TUDjbjUpWiIiQy3KI4xytuuacYdETt1aRwhG043CmkPpxF6dSa3w3UrHgWhaaaKuci2VTIWBlIhbEun5cVOMuBRtP1bhCT7kRYbLlluXakyUSpmHXLdASImxG4SHljh8Kq7N80OrqSckQMCUW29pRHm+tLMpbsRtQthJz+sL3MzIimTpE7LUkJXSTcwOrcIiMpCQy5iioOiMRuHcpilqR8JFuJLlSsY9I67kpmuSuVcGKapaKUbnSgIlHYq+fwqRqSYfGJiRCN0hIRLcJfIjoqsXJCNxFuLpTLiuhFqjYrGiIyFzSqWxH3u605Y\/DijUPuBUCBI2EZ94b8HZsFZQgY2vtOmwcij72W7+lTtXmGoQxD0kSEhHm7yguFeDmqFuxxwmyjqkRFJxzmIR+BSuaP7dMdMR5h3faSzuFJx1KNtZvTBnM3CbcJtxsRKXKooqhymc1RakLgxkMSGPe8nwqVzSmJ0SciURiJS5v9UI11TpFaVokVu67\/BDTv0x5EDCEnD2eG5JqpJpsiMiYalcLXT7fworbiQx3d7pXnygq6zMK4nWLQAoi6UojH+\/FHw8Wv0emNc0US+NbuEu97XuJ01bDg9mJ307+a4X1uUarThRiIiQyt1PEqv4l4aq2ikJHUtbpXEQqxsvzymrBHQOctzQ7v7FNVWAtUxaoi21ba5GRIJYVtkSlbuvpMrThbhECphccAtchJwhcGMW5blK5hw3ViJaUSIRtA5CP9ic0ebl54JOejbdE2mxlaQ8tvwonq83pGhk6+IFIWxkQyL1Vx7SRuHZ9oWxXU4lS4cF55U1WDs6VrBqM8BIsW4y3F86Om8mpoiL77j7giIkQ2h\/qtsyzJxzUYYbJsSKTjsokXd9r4EOZlTVjbZOUzkrSIhK77vyq5ta0AHiTwz2THubNsNN6e5sdsdwlLq+HBcaHMnA2lIIkN11qChzY3bX3XJSuErfurpW5l5sE7iGW2VyJ4L4lhg8GGTNe045plGJbo7hTqiwbddFqJRItvNEVWVTn8rhsKIx5iVo8D8MZkxTFVvlJypESCRCWk11D3lV6yi5Ms235hA5SNDLSbFsStKIjd4iwUTWvOEJNsNi6fNG37ycZi1pMFIiJwrbSjdJc6KoKkKwhkQ3CVwkMdyEHDfpBLWV57M7cL8KsDHMKl8napsTk03GNKEv701dqSqXW3RItCjfEmiMokRS+dP+FKkTzAXCdJsSFwTjH0v\/AC\/rTrjSvpnHRy9oRkIzcIRGTUdo+18Kpu5GZxg2SPy\/1LpwekLZS99iX3VGPmLjjgjubtWmUv6lDSH\/AMtv82CZZiWhWavxboiLn+ZHdsjP6TzIXDEfrOOYNdPKJSQ1XELQkXKMiuRbWbS7yBOJXB97IhESK4i\/k0a112cQ1XJxGPBNJF13MnN0XNOW25QXFzmvV6kh0xEWx7ykcM014tsSFhvp\/j3FG8UUYjpxKMy+7+tLK+SEH\/0zWrU797fGB+QkVhmgMek\/kriItoqMY41J+rOIlpSGJEVqE+NMz0hGllcdxF3ZJpkLojcPKSfFG1cmMegy2Xq0Y7t3SoCpraSTovi5Ehi0Q9SZt5kMZbvzRTNth+scEhGTYkUf5Mi6UAKS0PQoXuc3TI3JSIuUZdKe5hGI3bRGVsYqSrsjIBB0dxNiRDtiXLb8ib5gAuC23KRaXpLY3SXWrI4McFqvjEjaN6624R3KXyd2b4kRWiQy8KgGyJoSblcRCulA+Qn4d3eVYO1AQZbXnbcbCEunurjrly7hQpR5oXKSkGMxEuZR7N0yfLlZZdAQ6bZD0jK61dHoiw44VojIiLaIqH4UeF1iQ8pRdcLlT3i7EW8trIkUiYcEbu7uQcnBMrt9YWVVnD0hcPUEpOFEe71IeYcKVxbriWuoWyREI7ZDH1loSKqnE0nIBxJnXFxtxpwhiQlu2qk+IQEaog6TL7PKrLdqBG387mVWZpUk7VunG4j2rS+nqdxP5TM1+AgHyZIZYRCJAPNtRd2eNSzyhAuaZD0y0y\/tQ9l9KTkSVgcDUn+\/UjkREmzjLbGQolrjkyhyKyPynrPJ8RbaH\/lgMR7y66zhXSJMaUi0xErtqkaTESWYd1rbc4A\/mYY4jph0SHvcybvtCYk25tL7q54Yxc7pLcnIlLl5lexyybW9jIfmVJ2gNF6VhxuWkLhN93pcFVs9mjTAtETm4okW4hIeb2ldnadRyKmfHa4JMEXdIbSXnWtdGmfdYJuRNOFcXN3kJV3Hmej0d2+oRjX1YOZk6+JETbrg3FuIoqwskzohpnKaVwxIfCq5zIm3BEwEQJv73eT\/AC\/N5SIrSIREY91HsGV4jQAbuWnkub6bjZC4RjIZNSjIlaTAN1bAltfEZBH81efMtzENQHCtjzCrW4c4mbIQESiTcSEkpS5rb1dQOsp3AFO5MYlplqCJXFF0eUS6vmQBxdwXTC\/520JF53dpjaLTvSPy4Yo6LMhdMitETkRCW0l0wabdEWyArYl\/6MuofmTBsDcA\/pFELVnP+55pzfNgoH3Kao1AdbIhLytkP+mKjceLpl6Ju3qIlbXbxluA5RU1Jiw6JOMC04IelaLU97IvhwXnXLsdycqpR03EcxhdQ24D2lhZNxQ6JRMBMZctpKdzHiTVpCYHUEXTbk2W0iHmL5fIq+onRASLm5e8rC4Qy5p8mpNCRkJD6QpDIh5fkxS1laVndGDYWl1DWCRbi\/aTeprAabuIRG4iEuXvEShfymxpCYlqyESb0ylKXN7XuIYz6oq3wMdKwoy6i7qxkVuoRKAx54mOJuJid9BSFGUpulaPhFDFXRNkNzhCJD6Qu9FReYG6BCIjtjaXi2p9W1RRGIkJFtltT9de0cRpgEAAnTIqsKRjSaGXKUvFuH51pm1eTpbYjb\/BIYqqeqKo1WPIDUY4kXN4VxHO4mQlykQ49QkmjQSd3cB4qjIxiGXDucVOWum7RkAm42UicASHbuHy+5ipfIc+rs0diYk6Qlc+RRCRcsfgQIWYNEO67+LUXdmOdNsG6wUf95Ns27rSIeVCtrBUkiVzgFhgmSuY8JuecjUvkUxKQiJxEfCOCd1GTsG6LY3SIL3OXvKyXRa0G3IycIol3UD8VC2wTbvIRCLnLFJbjkA9SlV5s495GvVGm+TZuSEBiRN8wipimqaYm3CEdOQCIkW4i6kyq2wq\/SDpiQt7ZDePd+XFYyXTi43G4SFwnCIoiI7hiigYOBL2YZcnuMc\/4baqZGIi3UgIxIbZeL5cELu5IIi4VTpiQ7W5Wl4VYTDzbhE4UoiJCJFby2y8igc6xYcYHU9I5IhIRH3sepFSwr+kGmSds5cIZFSEPvUiJwYkUY+t5VYp0FcAiIjJqNpSHb\/SgXgvMRaqW2NwuRFuXV1fUrBzFlyIyck5uIRKLYj3UJwGJLTlzFWAMGc0o3RbFx0hEiMvRiQlER5i8iHKmriJEReEVO5g62REJFGIyHvF0qv+I6pyUytGV0VxKw3XUYq57jXNs5d1WgpjMdMiMzbErPW+VE3ZvquOE+fpXKsXBIi3EUlPcIZKxTZfOWq5XFruxiQiMYC2sUdJpOiLRC3Fwib5YoljqPQonDaGDKJbXBFRqUZMFKTDhNkJKVq2ddorbm7SH9JAuQ5wLToFLcUXRHbLqRnVVcSF1opS98HlLvLlW0jaZ5jV1muzPzzI6pqdJghc5RIhLu95UPxHnpV1WTTZeiEolHmRt2r8RkbRULBQN3UFwpbR6faVd5Dl+kLUo2CWqUeblXdi9x\/Q0YXe37Q64aoybGPdkuvFzJvk023ubKRFykMV3yd+IiTke6X6JIsdEDb5Yj4ZSQM45HcZztPM818UcJVmYZm43TDc0AiZGURl3UP1uXVmWukw+MSHxRIeoSV5cTarbrtY1IRaj5zEilH\/ABxXJmraIicfa15COnIRckJDu+ZaK6xioyMiTw9pyJU9Bg47GJXEUf4+ZE+QYkwTZCUdNyRDuGXhTTiWracq2xpmxAWxJv0dtxFzeRFfC+QNFTOEbsHPfGiK4e8JIo9QyBOs+38Rk9nLzWmP\/Mb1PCUeVCzbJHIhGQjzFG3urthqERMamqTdtu3+1bZtR+bNtycGTm5oSkXrDglmcsc4jVSbOM9wZrMsIpuzt5RG65R7NRbHaSlSqiGVu7lUU5TE6TYhc4RREe9JcTJ7j565nUnnW4lLvKTosyIojpSIu6Ret7SdUnZ3mBkJOug0JbtxmPqqxOFeFm6EiIXXHyIR3CIx9X4EN7Kx1zFrbEA+TIvsszIjGrYIoXC5eJDy7fbRfq6hiwUSHddtJSbeX024hujdbH+MVC1ORHJwmiJz+TluBKs4aJ5DEnqcMwyRip1PRj6MYkW0vVVecW8Ku0LHnLRE6xKLgxua\/Xh86smnpnWh9O6Il9mX61D8Q5xGhfHTItQSbKIyl\/Uu1WENOerPEobNK\/AAI8S27fF\/ig3L\/SOniW7HGSn6sCIpOjYNogW77K402XOvmJtNEDQ8xWyXo6MIhi2py7g+wkpSELQyl0+FG2SVzbblMTZCQuOtaniltQRVUkR5rRuTChYfddhTGQxv3WiQpcpvzzCNgjE9yUx2t+EVI0hXRQbwbmhVeW0j5boNi6I8rgjcjCmiQiSU0pHikTzrjBwY8qw2po9t\/OXeoc23Jo+6NqrqSNzD9JX2kLxqEqEupogcCXTJeU+0N1v8r1JNOSEoEXLFyNwL0p2pZy1Q5U6bu4rW+8XSvGFVmZuVLrh7nTIi9YkTQVM+TNPRP4dWT8wh1hK1ai6Taj2asV1xMokX2U0a\/maAu+JN0mbkNpcqK+Ecx1X4yIRERIhVZ6xKb4czAmnRIebcgXU5UwtVmeJ6KpHWoC+JWjuEunpUVknEwg+\/IrSKIy6UEO8T6bBFLaO3qJCNLmxkWoMpERSSFdLYlxWDkH3npeip6PNWHaWrADaqR0DAuaQ2mPyY4EvInEeRnlWZVmXuiQlTPuCMtxN\/Fl8\/lFXFw5n7ok2QlcJD3bZbvrUF246FZWUtVMfOSbFuqEfhAdpF3k\/pLtn9Nos9BV8iVrl5ETgl9kVa3Bj+m6JnbESIe7aoXKGKa2TYRISEbdpdS6NuuUj4i4NpyESLaQquoO8cRmtAPS0s7hzhajy6jCmF3UcGJOuStcd7vl9zBccwwcAiIS1LYiPN4lyrn9ISEpC5LbyocrOIdIrit3d6KzQ7O2T7w6UtjI5m2YMNuyF1siLlKNyEM4YrGPehKpHp5hFehqHs8aq6RirYrHWyfbFy4BISkKFq7snzJvVIH2n7pNiXoyWitDpg4ig+oVnKlsSgfy0+6fm4sYg7zS5fVWjeUEAkRCUjIsSkNxK0M34VrstdF9+hIiHc4IiQiPeLD4FHZoY1dotRPdaJDFXa7bwox8wiAWerOfzlafk03XRaC0jKIyKIou4b4NfYdEZEb8hJuNogQ83trtl3C1c4+0+1pBpHK\/cXdijaryrMNUowIYjE5RKXd+ZS3UEAD2M54ahic8ycwq6ujpm\/PHG5OXXEOp4i8nuIY4pzumfYMBPVI47dol+tRmZ0FdKNScQKXvd3ql8iYv0TADFqV24ilcX60kakzuEYqwpyef0jnhbMDEiYIxK30ci291TlczIBcaImyj6RvcJFJA45DUm6ItOiIiOqbkok2KNKfLqtpuRkXpBEhlzDHcr2V7fUIRrFZsyRZzUW2h1wkJjF1sSEZ9Jj8mOCEs5zUQkQ7S5ekU5qyiV24f4koauxEt237S4BuOTJWApknwnmA+fUjrpQbFwbeYvWVscUZiwA6pm202W2TgiJf1rz3g\/Et3e8P6lgsgrKzHzuvfLzcRkAE4RFp\/o4Ip0wftsD+YrqOWDAZMOc6zxuUgIXRISG0pR7yrniHOXXS0xlEC+0obiHMvi2LGhKIkNsh\/Up3gTh8q5hx83SHTOI9Scr0y0pvaBbWhn8NR+8sjspzkjpSYdkJD6MZcol9aJ3hIJEQlGURutJV7T5U7TETgOkRbo2iKNKJ4nW7ykURlzCsu9RuJX3h1\/y\/wByK4kz8KVg3SIh5REbSkmvDHbBhiw6NaQi4wGGLRyiT4\/yRD8OPzqUz\/IGqqmJo+bm6SVCcQ5U5QvE05hcO0uoeUk3oaKrAVb8UV1vrUHHAl00nEVDXSdlItzg7iH+v4FPtY0gtE4UdPbLbb1Km+yzISqXiqHLWm\/cujhL5fnwV8ZOeVeaOMEwJaZRKQkQnLqLH3MUPWUrSfSZWi0uo4gtjxrltMUTdl0kN0f6kS8JcZ0mZPt0bToTckQiVpHEfn93FAnE3ZwwRm\/l8gbL0mk5cI90S+RArA1mWZjRPkw60LD4kTuEoEEril8GEUSmmm0ek8wlpwMkT05nBi7TVlNTNCThATUStujzF8qrmn4SzumYG0XbInFyRNj3UW8KZ+BOkYxNp0pg5KQlIUVvVHeiPNG1ZxuNZwfmWIK8DmUzlPAMLn3zK6WmQxJFVLTNtELY7eUSUnnlc2IkhUqwnBkJbftIpuLSwrZhkx3mrYiLhAQiY3DEd3dQDU5xIy1JS5pblNVeax1NQS7pIVrGwfGUrpbuZHRd3cd05CcPJJp8ST3KaeVSxGIxcEvDFR\/DWQVLpFKRD4to9SsXIuFWNQNQtQuYRItPaunvaJa+2tfeEVLWPi2MRFwikUhLl73kTmnrXyuiIl0rnSuiw0TAAI3EOpzR6VGHUxtlcsu0ANgRRF3c4jPjeucKkdLzlxrTEi9E4QkRdKrrLOJszYECHMXxErimUrf6Ud548w43pEIxMbpdSBTyhoijKQyiIpvT7QuDG0C7cGTWXZq\/VukTpm6JDbIitLqFblxRU0bhCQi63yi50rOWUw0w3DER7pId4ldGrcImtpFEelEVVLflAOobgdQsGiy3iFsqmmbGmzCjIXSGIycjykOHu4YqEzLLS98Yalqe+NNjtLmtw9xPuyfL3GKx2pFwhbbpiB2XMRKd1BFx0g+NcIvD\/orG3a20HIiYUqTK3ZbjqC+1utJstwqKoWvM3yLdTHtLmAukvmVj8TUGo22TY+lErhHmFAdVTlLS0yFwyEREhR67Mj8oXAPctnsZ4jb13KEnBi+U2rtxxuFXSzJvvLzzwNwtTUzrTo6pVLTokJyIR23Wr0PkdWL7QOjcQ2uIWFLcTG+o1hX3L7zfGRF0ri+O4eYblLVrUhkPiTNzC0XFVqeSJmZlY9tNY0eVFRnpuP1YxaEiubiXvnzYrybmlCQkTZiQGJcw\/e+pelu0Vsa505CTTrEvNi5XAlcKqvN8sGraICtMZRMdwl3vlwTujfwxgzXqoxTiVmGBBuKSetVKa5hSP0ruk7Ih5ceUlxJweWQl91abJu5gBbt4MlR8S70TsVDeckIrQastqE1JMYr1AHMJca8S3OCIiuuXV4GZCEvEW2SFQItqnMqARt2oVlQVY1XeWMsqnbdYpBqRbbKdo+kGQl3lGuZa1U6hPuETjhDGO5vvKGo3zOIjIm5Xbv4wUnqOAUhK4e9ypPbg8RkEnsxxllI4LnmwlMWytOO4SUjxtQCGWi7qOaolt5RiX9ia8OC6bjhCJEUhl3USZ5kdZWUxNATAkdoiaGDh5x2xiBea9s7dSIiWURtiWPn0pfP7yhCt4zF1yXmuIj5cJBr+WQ9Mo+0gtYWyuhoU5C\/czHX6leowG+wnp2k\/2pxaaBkOHYg2AtiOGa8oj\/8Atlof+1P5f\/y\/\/wD6v\/0y8zJJnYIgQDyZ6SqP9pttwCbPh6Ql7RSzXy+X\/wCGQhmPbLTvuEY5Lpy5fyhL+5jBU4sIbaetuxCV2tX+Ey4qftjaBwHPyR7YeXbXYDgX4Cfn26Nl\/wCZvgt\/7Q2l1e8Kj1hCbQ0Mclfuf+ww1do95bz\/AGwNOFIsqL\/+w9r\/ALhdQ7ZWRbgOTx+THz4ccPs6Cp3yJeRc8hR\/j9z\/ANnfO3f5fxLIzPtHafKY5dpOSuIarcPSQ6afD2unpC0VCRxtEiqsNvT70qp8qS75GnGNv3P\/AGdOuuPv9hDvN+P8X\/eaXFg\/Lu1tX2umMMEwc4tkP\/k+Mvl1bfsxQmkrjSVAYCzvn7\/8v4k6ef8Al+K+\/wDsrd7iV0hh6TTjGGrIfzUPrCt5ev4lDrLT20dvVUvg\/tRnwjx61ljQtYUGLu7EsSqo4ERc0dPHyIBwWVZqUcbWHEGL3B3A8yzKntRn\/wCb4\/8AtUv\/AA1rR9qJNf8ABy+T\/eI\/+Gq0WULyVPW37mEGttHv9hLcb7Y9wnluoBe6PnkfvaSgeIOPKavDEHcs9r4ssKkdRv1tL20ApKLo6VOQvP6n\/snnLes\/YSx8j7R2aNoWhyyQ4CI4\/wC9YDKP\/qk+y3tYFrXEsum265NsPOo6WHk2+9Yy\/sVVeVZUbR1N2Puf+yDWWjgH7CXY124tgIYDkvtjuIswlLD\/ANx7Si6\/tcbfIv8AskRA\/LNvzyQl+EqmSVRoaB0v3P8A2Tzdvz\/EtDL+1NumEQYyyDYbA87wiP4SmW+3ItQSPLNRsfi\/Po+X1tL\/AAVLJeVcP0+hjkr9z\/2d87b\/AJfYS5+Je2xuuERHJ\/NiHmGun5R6Y6OCgW+06IxGh\/p85\/dqtllQaCgf2\/c\/9nV11wG0NxDis481RISpfaL\/AJ\/ufcXPL+NG2BIfMp4l7hE\/5I\/cQX5VjyonlKvj+ZPPXf5fYS3qPtjFhoWm8qwwwH3cfPLix\/8AdLqXbWUYDlsG5SiNZd9rRVNrKnk6j\/b\/ADB+asznMuJ3tr8okI5ZES+mSx\/7pQ9V2nEeylcb8uPt\/wC9S\/8ADVaLKH\/59He37n\/sKn1C9Om+wlrB2sN+QZZVMh5irPzfRe0pAO2akGP\/AOHwkPN59hL\/ALhUykuf+dR\/j9z\/ANlW11zdtLlf7aWTEh\/IxDL\/APUP3CHKjj6kMvL+THBGUoDXW\/8AcqvUlYaCgdL9z\/2cXWWr00tdztdixoMZdgwPMQ1UiL8LBN6ftU0\/+Al\/7Vj\/APLVYLK55Cj\/AB+5\/wCyDW2gYzLLx7VDljj5n7WPL5z+7XKp7TdQgPzGJtlIS85\/dquElYaKkDAX7n\/s55u3Ocy2aPthxa\/4CRdXneH\/AMpEPD\/+0MdERf8AZGoBYe2H5QhhLq94xVCpLg0NIOdv3P8A2Ve93GGM9ONf7VMRjjw\/L\/8Alf8A6ZMK\/wD2mcXQIRyOEtpflOUf\/hsF5ySRfK1\/H8xcADmXBm3bQdSIj+ToYj5bvO5y\/CwQjhxwciLQ3FiXvv7KDUlUaSodD7mNLqrFGAYV5lxXhUt4tP00hlgXvsSw+6mgZzSYCIeYlHDD+c3fa00PrHlRBSoGB\/JlTe5OT\/AhBXZrQm1iDWXk04Xk9L51qfd08P71DNvR\/wCq4LKuEA6gy5PMeM1kcdvl\/pTwM5iMYfe\/ZUMsqpqU9iXF7jownpOKiaGAtW83pPJL7qclxkP81\/Hx\/wAqDklTy9fxL+as+ZZXD\/aZhRDHzDU8pS8vnOn\/AOHiiKn7cBbx8v5IxxLq8\/j5PwPdVKLCp5OrOds42qsbszCSSSZi8SSSSkkysJJKSRJJJKSTKSwkpJEkkkpJEkkkpJEkkkpJEkkkpJEkkkpJEkkkpJEkkkpJEkkkpJEkkkpJEkkkpJEkkkpJEkkkpJEkkkpJEkkkpJEkkkpJEkkkpJEkkkpJEkkkpJEkkkpJEkkkpJEkkkpJEkkkpJEkkkpJEkkkpJEkkkpJP\/\/Z",
                        "deskripsi":"Nasi goreng kecap."
                    }
                ],
            "status":true
        }
        
## Request Menu [/requestmenu.jsp]

### Request menu from Android [POST]

+ Request (application/x-www-form-urlencoded)

        username=tester&authkey=30dc08cd0ecce4fdc0706053a274b31a&id_menu=1&jumlah=1&keterangan=Pedas

+ Response 200 (application/json)
        
        {
            "status":true
        }

## List Menu Kantong Mahasiswa [/kama/listmenu.jsp]

### List menu to show on Kantong Mahasiswa [POST]

+ Response 200 (application/json)
        
        {
            "menu":
                [
                    {
                        "id_menu":1,
                        "nama_menu":"Nasi Goreng",
                        "harga_menu":10000,
                        "rating":0.0,
                        "foto_menu":"\/9j\/4AAQSkZJRgABAQAAAQABAAD\/2wCEAAYEBQkJCQkJCQkJCQkJCQkJCQkJCQgJCQkJDAgMDAwJCgoOERkTDg8XEAoKFCAUFxobHR4dDRMhJCEcJBkcHRwBBwcHCwkLFAsLFBwXFxccHBwcHBwcHBwcHBwcHBwcHBwcHBwcHBwcHBwcHBwcHBwcHBwcHBwcHBwcHBwcHBwcHP\/AABEIAWgB4AMBIgACEQEDEQH\/xAAcAAABBAMBAAAAAAAAAAAAAAAGAAQFBwECAwj\/xABdEAABAwIEAwMEDQcJBQMKBwACAAMSBCIBBRMyBkJSB2JyERQjghYhMTNBQ1FhZHGSoqMVssLR4uPwU1SBkaGxwdLhCCREY\/Els8M0RXODhJOk0+TyJkZldIWVpf\/EABoBAAIDAQEAAAAAAAAAAAAAAAMEAAIFAQb\/xAAyEQACAgEEAAUCBQUBAAMBAAABAgADEQQSITETFCJBUQWhMmFxgbEjQlKR0RUz8PHB\/9oADAMBAAIRAxEAPwDyokkkpJEkkkpJEkkkpJEkkkpJEksrCkkSSSSkkSSSSkkSSSSkkSSSSkkSSSSkkSSSypJMJJJKSRJJJKSRJJJKSRJJJKSRJJJKSRJJJKSRJJJKSRJJJKSRJJJKSRJJJKSRJJJKSRJJJKSRJJJKSRJJJKSRJLKSkkwkspKSTCSykpJMJJJKSRJJJKSQ09hX0r8DH\/Ml7CvpX4GP+ZGOApQJZnmn+Zv+Rq+P5gd7CvpX4GP+ZL2FfSvwMf8AMjLBtbYNKeaf5nfI1fH8wMw4J+lfgY\/5ljHgr6V+Bj\/mRvg0tcWlzzT\/ADJ5Gr4+5gT7C\/pX4H7SXsKw\/nX4P7aNCbWkCXfNP8yvkavj+YHewz6V+B+0lhwX9K\/Ax\/zIzwaXUWlDqn+Z3yNXx9zAj2FfSfwP2kvYVh\/OvwMf8yOdJY0lzzb\/ADO+Qq+P5gThwR9K\/A\/bW2HA30r8D94jYW1vgC4dVZ8zvkKfj7mA\/sE+lfgftpewT6V+B+2jzTWpNrvmrPmTyFPx\/MA\/YN9K\/A\/bS9g2H86\/A\/bRuTax5FPNWfMqdFT8fzAj2EYfzr8H9tL2EYfzr8H9tGmIJQXfNP8AMnkqfj+YF+wj6V+B+8WfYPh\/O\/wP3iNcG1tBc8zZ8yw0NPx9zAb2E4fzr8H9tLDgnD+dfg\/to40lnRU82\/zOeRp+P5gR7BvpX4H7xY9g+H86\/A\/bRxpLOmp5t\/md8jT\/AI\/cwG9hH0r8D94l7CPpX4H7SOtNZwaU80\/zJ5Cr4+5gH7CfpX4H7SzhwPh\/OvwP20bk0lg0p5t\/mc8hV8fzAn2D\/SvwP3iWHA\/0r8D94jfSW2Danmn+ZPIVfH3MBfYR9K\/A\/eJewf6V+B+2j3SWcWFPNP8AMnkKvj7mAXsGw\/nX4P7aXsGw\/nX4P7aO9JLAFzzb\/MnkKfj+YC+wX6V+B+8S9g30r8D94jzBtbCyp5t\/mW8hT\/j9zAH2C4fzr8H9tb4cBfSvwP20e6azBV83Z8yeRp\/x\/mAGPAf0r8D9tL2CfSvwP3iP9Na6anm7Pmd8hT\/j9zAL2B\/SvwP3iz7AvpX4H7xH2mli2p5yz5k8hT\/j9zAHDgH6V+B+8WfYD9M\/A\/bR7prbAFzzdnz\/ABJ5Gn\/H7mV\/jwF9K\/A\/eLXHgX6V+B+2rCxBciaVhq7PmQ6Cj4+5lf8AsI+lfgfvEvYR9K\/A\/eI\/GnW\/m6t5p\/mU8hV8fcyvvYN9K\/A\/bWfYN9K\/A\/bR\/pJYtLnm7Pmd8jT8fcwB9gv0r8D94tceBvpX4H7aPoLXTU83Z8yeRp+PuYBewf6V+B+2lhwP9K\/A\/bR5iCxgKnmrPmTyNPx9zAbDgX6V+B+2tvYH9L\/A\/eI6wBbeRc83Z8zvkafj7mAfsD+lfgfvEvYH9K\/A\/eI98iUVPN2fM75Cn\/H7mccGltpp1gC2EEtmNYjTBtZgncFiK5mdjfEVzxwTvEFppqZnI2xBLBtPBBbC2u5kjTBpbYAnWILEVzM7OGALMF2wwWy5mScYJQXXDBbYYK0k5YYLEV1xxXHE1BKzBAuBgpGny+pd97YcKXdU1RcC5q\/tYiJdRCiKjHoQT2ovZEExFLyKzKDsjzBz3wxHwxJEND2Lh8a+RetFFGmsPtF219K+8pHExWRMeW7w3L0dQ9kmWhuGXiKSnqTgHLGtrA\/ZFEGhb3MA31WsdAzy2ww65taMvCJKSYyKsc20zn2V6qY4fo29rAfZFPAoGh2tj9lEGgHuYBvqx9lnldrgnNHNtNHxEpCn7M8zPlEftL08LI9IrOAog0Se8E31W09ATzix2SZgW4xH1SUgx2OVJbnx+ySv9JXGjq+II\/Ubj7yjG+xcuZ8k8Y7F2uZ8lc6j87zIaRrVISIe6umipBkic87exwGlZh2N03M6ResS7B2PUXMRfeTXPuNq50i0CFpqVtt0U4yPjgqRsiqyJ8S+0KSXWacvsA\/eOHT6vZu3ftHQ9kOX9X3iW+HZLl\/8ESjXO2G4hChIuklLZF2ki\/HXY0pEI+sjC7Tk4GIJqdYoyc\/7nHHsjy\/p+8S5F2Q0P8ESs9kxMRIbhIZCs4prwaz7RLzVw\/uMq0+yGj5ZfaJcS7IKTlIvtErZWq75av4nRrLx\/cZTzvY41yuufaJNHOxrpfJXZjil5VXytXxLefuH90oZ7sffHa\/+cmD\/AGUVw7XBL1SXofEx6vvJKh0lRlx9SuHvPM7\/AGb5o3tES9ZRr\/BeaN\/EEXhJeqcYrQmw5hFUOgSFH1e0dgTyY9kVc3upnPspk5SujuacH1SXrsqNgtzYpm9kdI5uaH7IoZ+nj2MKv1c\/3LPJOOMeX7pLYMRXqOr4Ly93cwH2RUDW9luXubW4+EkM6Bx0Ydfq1Z7E8+LPlVxZh2Qt3aTpD60kPV\/ZTWN7D1O6SC2ksX2jCa+lv7pXmOC1xFElbwVmjW5iUekhULU0NS174w6PqkglGXsRlbUb8JEZkK0gtyc6re6VqQmKrmFxNNJbCyS7CQruBKbp3EbYMLbQTmSwRquZMRri2lBdscVp5VMzuJrgaziSZg6tsXl3Ek7kaWDibaixqruJMR1NLBxNsDWcHFMSYjvA1nA0xxqFzxrFzE7iSJOLTVW+XZPmFWUWKZ0u8QkIo5yTskzJ+JPkLQ9MSkipQ7dCAs1FSfiaAc1u3g45aDZF4Rkr4yXsfomok+WqXelFG2W8KZfTDhpsAPqplNCx\/EcRGz6rWv4Rmebsr4SzKp97pjEe8MUW5Z2T1zvvrmmPdFX+2wA7REfCK3TK6JB3zEbPqdrdcSqst7IaQY6xEaKMu4Cy1jyRYD1hEkW4pJhaUXoRR9Ra\/wCJoxp8ppm9rTY+qKdg0I7RH7K38qXlRIAnPcXkWEscVjyqZnMTbFJYSUzJiZS8q0MhESIitEZF3VF4Z7TXFIhEdxIb3JX+M4hFrZuhJfyrXHFMQzamJsnBdGIjIuVNsoz1qpxIdhiVokXtkPUKp5ivIG4c9TvhPgnElvKlhisrUzjuIR8SPBzMkyzr\/wAmdkIlYW7lTSvz9hooj6Qu6hfi7OKupY0KYRa1LSIi5Vn6j6hRWCrNz8S9Y9QzACvelKJDGUS7qG6moaHUETlLvLtneVVjAkOmUesZEJd5QtDkj7silGI3dS86FDHcDPX0WAgYPEnsnqWxESIR2xiXMn+WZU2RkUivKUR2itct4acFsS3FHcSlqdomIy+6qs4Bx7S1jqc7TC7LOIqmjYFoh1IjaREW1PqDjF8vfWreoUHPvuOjBvcp7JcvNtv0pSl0p4fUXBAB4mFqK6axlhyYeUWcsOgRiYiI7pLk\/nbfKJEhnyANsRj+cudRWCIxEhRH+r2EekYmWUyeJMVOeO8sQEVFu5k6VxuF3RElEPVUu94U0erLhtSD6+5uSTLiqST9YW7UKXiJPMt4xFgHBdk6YlYI7oqGHLnXWnHyEhaaGRStkoKkdEiIdy42s1Gnw49\/maGk0aW53e0uDJs5YrBk0V3MPMKkMUG8B0gyN+W23pFLi\/iEZCww5cJScIS2j0r0FGvPlxbZwf5ilulBu2JHWPExa5CQiLUiGX6SJWnRMRISEhK7cqqcf1JRujtTLLczcaccLUcEhLbIo+FZmn+sOjHfyCePyj1v0wOuV4Ily44rXyoJoeL3BtdETiO60SU7lHENNUkQy0yHlNblOvpt4B5mXZo7E7EmpJSXE32xGRGIj1SFbCYltKXeFNbgeouU95sQCW4R+ymlRldM5uaEvVFOlhd2yAkdQazHgXLX9zDfqiKFsy7IaNy5oibLuxVn+VLyobUo3Yhk1NqdNKCzPsmrGpEw5PxChTMOFszpvfKYiHqG5eqJLRxpstzYl6qXfQ1t1xHa\/qli\/i5nkFw3AKLjbg+ISFaecL1VX8MZfU++MN\/ZQbnPZJQuyJr0Rd1Kv9PYfhOY\/X9XrP4xiULi+saqPs67JK5qRMOi6PSQlJBOZcOZlSe+0xx6hEiFKvQ6diP16mqz8LSMwBLEV1wSQ8w+JxitfKpPL8tqakosMOOS6dqsHh7sfrqmJVZaDcdoxkiJU7\/hEBbfXV+IyqSf5R3dKlco4azKuIRYpnCEuYhiK9I8N9l+W0XkImhdPqKJXI3paNpoYttiI90RTqaL\/IzMu+qjqsf7nnzh\/sQqXYlWPwHmFuQqzuH+y3KqOPoBcIeYrkfLHlTiUIvQmbZq7bPxGNaWgYaGLbQgPdFOsEscVr5UWLzbyrK5+VZUzOYmfKl5VhLyqS0ws+RLypYLkkysJYrBKTkWOKzhihLPM19J6ItvL1LSkz0huIvEKzz9SqV9hjY0Tld0IKzNWmiiRXDuXTL61t8ZASq7iHPCOpMgCIkMbksirn4lFyJCREkv\/XAtK+0b\/wDN\/p7veGXGfEgUYkwLZOuOBdG0RkguhqBfkJSHu7Zd1dW6ZypdJ992WpbG22K5ZjaVo+Ilka7UNfZvPQ6mjpqUqTYOz3JcW2jGIkPhJRVQD7BSG670ZdKYvVRCMWyuHl5iWhZtImxdkMeqQ3IJsyM\/HxCrSf2h3R8RVYsCLrQkcbTlK3vD8qZ5xWm+IyfkO4hEYiKEqziOJE0wAmQ2kREUVlmoffJq0WylEmx2kjPrr3G3d7RW3QAIWAAk+xiI7bl21h5lH1jLobRtUc5VFLqWaayp5nmypk85UCVsRIe9tUbU5Sw5cNpd1NHKko2yIh6eVcaavLaRbtqIivjImppPp971+LWcfl8ySxbJsYiUvzlEVeJkWnEhIlKediJRL9ol2Gpb3FER5R5l1WycHgzi62yskOOYstpxaiRbuYuYk4q8xFvm9VN23WnIlKPdJYqMraduk4Pe3JytFC7s5MVLh23NOWNYTm4oiorM3fSDEijGVvMoTMjrm3SbbYIhlaXUpSlqSaJsXxISIRlIVZj6cYmlp6ADuBBjF\/PCaKLfrdUU4YzibgiA3DdJzaufE7LTRarRCWoofJc1bNwhEfSDyqbSvftNAadLPViSPFParVkJZe202MRi7b+amHC+ba5FIYlapTFmjqdTztgZEMRcbiJKGp8mGmcMmHbSuiRSIRRbybwGJzDUrVWpUDBhnTcRutMFTMe+OlcXdUUeJjbtLmItxEg9jOtKrEiItPaXTJGGVZ23rtkQi6JFuG6KqzF1CN7Th0\/hHeB3zO2U1JBqC5KRXD3RUlgyTTY1cJARELiacR1zTlSOgI2jdEYrvWZgXmJDIRASElSupVYj\/UjElQ2O+4xfp5lqUjgiUpEwXMPiXKlzXTd03BJsukv83yJnW4i6YG2cRiPvdpJ87RtPt+kkWntKVys4XH5znHTSX881ZSKQj3lKZbnp022RDG0SQE3VPlIQEW2hKMi3Lcn3Su1StG3vIC3WVvuUnMu2jVxtPUsYuMKndEBHpIU6yTiF+rf04iIxuVK4Z6WvpukRCVvNHxLXPOKfNnBbpnYkQjIhIpCtDT62\/eDYciAu+koBtUcz0i7XNC4LWoJOF3k4Xl3KOJHxPVJ8iIStkUlcfA\/GvnMW3yEiiIiten6mrttYY+Jk6n6S9S7l5x3D7ypSWJcy18q1JkTfypSWnlS8q7OTpNcaimadGLjYl4hWZJSXJzODPK\/DfB+ZZkQ6DBCBfGODERVucL9jbDUTrnCdLpjarbp6dtoYtgID3RXfDFJ16NF75mrd9Sts4XgflIzK8jpKQYsMNtiPSIyUktlomgMdREnPJmfKlgseVJSVmccVjFLBJSWiwWVjyLK5JF5VrispKSTXyLccFjBZUkmMVhRWYZyDDogXNzDy+JD3HoVkBq6PMNDTH3q0hNB8wnOD13CrSxIHzDQnBHcUUOcR56LZaDRXENxdKr9vMM1fJsnasSiO0Rin1I2RNOE+V8oisrVfUsqQn+5oU6DBy5nKpqYiREV3L4k3\/KFveUbmFUIuCMuZNGsxaF+LhR9W1ee2FvVnubQrx7TvmuLkm7SIZXEK60z5NlIbuWPUumYVzcSiXLbFcMuxt5Y\/eIlwY6neSvMkwN3cIkMRkQxTWuzQWyi4Mu8Ip+ObC0MdQREhlyptU1TRN2k2RK1la49JlKzz6hGTjwuFISj0xXVmkl6MjFyV0j6ulCNa3qVbAtnp6joiRDtUzmGDoPi0LhCIkUpKoGI21fsDJYstaaIicbGPU2Sf0uYNNsOkwQkTXVcQ3cyjGHCdMabmJsnJFtEVxpOHHx1LhJpwS1XRKI9360WokNnEXdAykO0lseMXSDTi0Urtty2y2k85bJxwRESltJCVEIhIoiUdxFzLWu4qNoSESJu4YjEYx6kS1t\/fMWT6chOFEn82oHaRon2yk22Vw8wplSPi+IkNp8w8yft50LjTRuRNt2JHG6RKPzIW5uVLAwEyuHaXiQlwBn7R3SKaTs9o+YdmOmURIdrhdSg86rX6ZyL5REtsdrgqTBwXQ1ecYiQx3d5dKumaq2IPjcNoluIPD8y6yhu4P6h9NW8b04aQDGec35ykmeI4jc4PhkgXPGHaF3SdbKRXNOfFvt9Q\/OmNPgRERXEiLRiYyfTj\/dLCquLoXbrv4JQOZ8YuOlEoiI3d5RgUjhCPN3SXfHK2vjG7kXaoGI5RpUrOcRnVZ9qju28slEZTXENYMSjqWkpR7hZopE3qNyu7qZN8FVhGLrD7Vu0XJK6KnWZqeKgHEMsRIY3EQltJYASEiIS3CQlJMmKLNGBEXG23e82Sc5VTvu1LAG0Qtm6IkXKMiXFAWKueCcyB4hwEWibG0i5opnktadJG6QyHmir5414HYrGGhpoMOtRESjaTfN\/SgrPeyVvSImKtwyiJEMfzVVnSs7WPcrV9TqZArcRhQ15OvkcYtuFt6kWt1zDVMTRgO0riu3ChPIeHn2hFsZkI2kTtpSUy9kpuCQuOEIl0oXilH3LK3aqgYBaDXD1OTpPt6lrZFp3cslPUuO0RcISXSi4faYH0ct0pEUk1zVh1uTg3Fu6VYOjdQQ11dr7VP6Rfkd0nCi6RCRbUzzCjcaGN27aO5a0XEpbREiIu6SeZfX69SQxcJy3UGJWkqMq54mmjuv4sYnDLslJ10TfcbbbESEWxjqEPeWma9mdI6RONPk2UpbpXJ3xVldYw267TD6SPvZbox3Cqto86zBsilUuiUikEtpI4qs9jAeI1hyDCDOOEn8vEndUDbG7dEopnk+dONEJDbEuUlC5hV1NTvfcMe8S464tCXMi+ESOe4yrcYbmemOzzi\/zlsWnyu5bke4rx\/wAP8TG042QSEhXofs\/4uLMvRkMYjcXqrT0Os2kVWd+xmD9T+mFM219e8N5LM1oZLjNbU8\/HMkvKuGGKzhipKmTqS18qxgqQsz5VnDBY8qz5VyWmfKsYYrHkW2Ck5mYxwSWygK7iEWyIWmydiUSLlkg3ahKRlziXStrDhRJ7DFYxTLLa8alvUG0uYS5U6xxREcOoZepwqVODN1rJZwxWnlVpyb4KPzLNWmhK8Z8o80lz4gzDzZgileVoihEcbZu7iukSztZrDWdid+\/5RzTaff6m6kHnOauyLqIlAVlcRDJ83YN2xESK4ttqL8xBohlaXMo2my+I6pDJxwhiJbR731rzufUWY9zeq24AxM5bQOkIkUhGMg5SipB0SjAoiPN1EpWidIALUiVpXCovGtEyHl3SJcJC4BMrhmJxI2soGtwjdyluQ1nTPo\/SMahCVpCUSRFmTwtBqCUrijbuQlmGe6keUruXmXBYvQjFNbk5jVjFq3UIpdI3RFPcZCXoCc0+8NyGBxbpmjrhJxwjcJtwSuFsu6tC4ucES0m7y5i+LRig6AlnUljtPEJMxJtsfSmIkXUVxeEUK19aUS82LvSkh2vN+pLVcIyMNolzd1OuGW6nMnybINIWiEXP8qsum9zCL6B3CbKMqq3Yuuvk2QkJDEbpI2rNV292WqIyGMY2juJNCwNsmxFsYt7bpSUgxWC+JCJCLg8ojK7p+ZAcc8QbWlvVBnJs7Jon6t+2IGIjK1wulSmT1blcxc2bTUpbiEnfV+RQb2TDU5gLTnvctVwZWiQlt+fBGzjGmJRiIiNsVV2xiWtKdDsxlWUjbYyOIiN0eURVf5jVatTaIm2Qk0PrcymM8r3HRJu7TLcX6KhMsIRqaYbRHVbl0jcrV95hqUKAk9wswZby+mFty0bSGVxeqh3MuKX35N0jUWtpGY3Ei3jMBcdK4XIxu2jEh5UA1jMHBiVstvKu7ArHMJpSLBubuHfDNQL7BDL0gXBLw3ASf4jzjbbd1CXSg3J6smqtohK12Ql0yRy6AiQuDzDePV3kLkSzP4b4PRjbifI\/yrSNNNEI1NPhi+1PGzbe3\/oqhZzAhdgPKRCY95XXSkQFMCiRRK7aVyDOPeF\/Nqs8wbEdCqFsyGQyBwhuH6rE7V61x8RS7FbZ+Z1yOJDFzb+ap1vK2HRtujchDKG33R9GJEPVtFEFFUkI3WxtEpIZWJuT2I7aZ0tsY9Jbk5qNKIlpkJcsVAVlc44REI27e6iejrw0mxdFsRFvqkSoteeJ1zgBjI3DFxu4S+1apHh6qccdbIhGIuCuJNa+0beVYy5qL7Y3DpuDb1d5TOIvqLFCHI5lnG\/amLr21c3HLbfWSwcaIe93UDU0M7gflMPEgc\/wIWzdb+LGRCh7hzPyfd0ibj0kjV1kfSCW2JfmqvuDacnal0hG1twhEto7lKlYelo3Vsapww66hu1T9IesSF+Oqw6RgnJDIotx8SLKzEmxudEY8o9Kp\/jTMCqXSbEvRNlu6iRaqtpgNBUWtB9hHWTZgIiM+UpStRrwrmzDTpejlqFInC5fEqny6huEhIijykSLKN90hgUY22o\/4TkT0bgNwZZ77w1d0okRXEXKPd8nwIW7QOAqSsDUo9JqrAZGco6viH5UywF0bhIrrd1sU4p81MXGhIRK6MiIh+0i+Oe2HcXRMH0HqU7mOV1lIRNvtRj07fEok8CctLavSeZNUNYxU0j+mw+Te7cO20hJVRU8HO0xDK4S5kVn2jMa09oYndwf5gTSiMhER5rlcfY3LXKHvY7vsoGd4cb1Bk5pl9lWx2a5aNGJaZCQlu6iVdKVsuX9Zf6ldjTkSx3XVyFy5MzeXJl+5emJnicSZmlJR+NQthdXczmIW44rHlWvlW+C5LxDgui1wWMSUkm3kWh4pY4KC4hz4aMS5jQ7LVrXcxwJdK2c7Vk3g4gLNS0n3RbKQzlHpXCl42qdS4BJuMun7PzqMfzcX3SdhAXSjHdHvLz31TWVaioCs85mzo9JZUx3DjEfZTnxUj8ikYEMSGUf4xRlQ8QUztMVSJRAN4lGQl0qr8zptRyPLzJpRZcLTZSfIhIvexK2P+KW0Gus06bDyOY3qNDXd6gcGXbSVAugLgXCQyH+PgQpn3ETrThC0No80kGU+cO0gloOmPLGUhiuONeb42ycIpSiKc1P1VnrAqyGilX07a+W6nTiLil90ZENzfLJa5JnRVjeoZXdMtqgo6jhNkUpCQkPSmWX0D4mQtEQtyjLlFZhZ2G+w8nua4pqC7QOpYlHRk4W6Iy27rVI5k2LYtCPUmWSk61pNiUtoyIdymM6GwS3EJD9lVUgrxFiSHAkG9VkZC0PTcXKoxtohkMk5rakTMRC0QEhkO5NXnCiRSQjgnnmOKNq4kHxE6QtkWptErVUmY5u75yOkMo8pFIUYZ\/mNrt22SrekqiF0nRK7vJvToDzNCtfDTmWRkFY0xlj7b5BKsB20riFzuj8CC6alcERK4ojcQ7lCYZoOuJGUpFzcqsulb1GxMRFsSiIyjcUdyb2lRzM5\/SS3zI\/h+lEibE9QhISK2Nt3MrK4NoqZtoibFq4yIiIb3O99SqHOczLLXwC7QOUoDsuu+tWLwWTjtNqiUW3LWzLcTfUhklfV7QV43L3CZnTffiQxESukQxIR\/uxQ3nNM2w64TbpME5yht9YvlXTiDMPybQuviMxGMhLcQkXKh6pr\/OaQnyLT1BHTbHcI9RfOh\/\/ACDIg0BXn26jGm4uFipCYhIXRAilukW5WUxTnmEoFEAGRiPT3flXmPjQcBfAm9xylHqFWz2d1tcOWsERE26MolK42x2yVrtKqotnf5RixwTtXgj3hhnVDEXBIR9Hb6vKSrGrrRCupmh5nxEvtIvzXiEhbIXRIiLmFVzTyczBg7Sk+MUDTrubnoRmlSqEtLLzN8XfOZFL0UWiG2UULP4E590UTZgQg+O0RcYK3pKKgswxFuI9RDFEs4Mpp24wJu6xptMOytF+4kX5ZmMrSIS9HzdKFc3zAW6HSEboylHvKPyzz5zTEY+kG0pbR6lUrn1D95ZhvHq4lnZdVC63G2Qlb3RUfxO2L4NMCJE\/K6REQk3dJNMhafakL7rbg6QiIxjtJPqlwSca+LcJwZFzNh3fmXEbkhZbaGXnmS1BWsUlGNNoCURiJbfvIHzwxYlqE2IvlJu4reoU\/wA+zUXXW2GtolEi5f8AquFZTtuREokIjbK6K6AUbkxRQNvXcHhzMikI2j0kX3l0oK8RIWycuIrpFtWMwCmYdjaRXENvSmNXSsVg67HonRIR0i97d\/VijBRYOJ3Zt5bqWUxUjpiIlt6VJ0sXCmTkSiNwqp8vrNIouajd0e7Lpl8KMMmzQSGMpRLckbK2SVNQPUPcKgiabILiIib3dK4tvt94S2x6UJU9cTb8ZENwkPTKSLAbbqXxESiTdxENslY2M4HyIA6dK856M7eV0iIWxIhLqtKPeTHKqdqkbIdxEROFFOq2sFp\/T\/k9pEW7xeT3VGZzMiIWhFvUGQjK0i8XwYK9RVsnP6xC\/R5Ho4zIHtC4ogxoMRE3NxSuEVW9FVz3FL+Ny58RuPtVLgVgEL8ZEPLHu\/Lgo+kcjG7cScCRvTUipMDuFlCPSXMivLGdtyB6OtaGMju5kTUWcsRG4httQ2XEu6sRxCipcEW7SuHlUITOuW4hLp5YptUVxHGJRbIri5lMazYwbbEtMRGJc0u8hnnudRCgjxqh0mxcMhc23F0qaosWzMiIhcFuNvKhmvzYm6RxrvSElrw9mWpp3ENwz7ym8K3EDfU7LunPtVaYFpsmBg6RDcNqddm+D+lIiKKneJsqYq2LpRt0+pQ2R1JUw6ZDanU9dwbHXxONaBptnv8AnDQqpJp1QQV7ZFuUoD1q3EbM8+6Yj\/XWzdRJRmLi7U+JIuYPEsvFbeVLHBM8zIgacISiQjKS6zbQTOgZOI88q0ecFoCNwoiIyIi2igF\/i2pH0bTYkXM4QqueOuIKx9t0XXXNIZSESjIo7Vm\/+nW34c5mlT9NssbB4EN827YaKm1JDqgJEIk2JIR4d4yHPn6khaMRCNx2j4RVP5Q665rtujISuEeUUfdlmGk6+0O2FoxWZq9QXQq5m8PpqacFlh4dMUS1BESHbFQDmYC3qiUhiidzGV0tvLzKCr8gJ8iJsSi4PSsSuts5ha3X++dMrzQX2olGIj6xIOz7Nypn2yErSciiGl4WJgbnXRIeUtqHG+EyffJ2rkYSsbG0fESZCjPqhazWGJB4j3HNSdGQiRDzEKMOGeIPNKMgJoS1JRON4io1nLW2hEWm\/VEVrhQE+6I3DcJF4elXqu8FsiLXhLBj2jTh7Kak6t90i9FdcW4i7qN6NjSG0RL80f8AVNjeEYsMe+c0bhbH9aIMjy6dpcu6XMgPa+ofCwJbC5bqb5dRlHVLlu\/j5E7zwCKkMgG4gJSFU3ECEelctbyNRIdoxTfgrWNn5feK+ISQ35yumW4jH7yb5w\/FsvCpXMRFtw+ncKg6qidqxJsbBK0jj+alEGJrhg2GPUqXPau0hlc4RfnKv6urKRDKSu7POyt18R0K6J7fStWx8WClOzDsmo6FzzzNzbrHxL0DAj6BuJe+F5d2P9i1dNZUq5JndXq1xheZV3BXZlmuaEJiwTTZDLXftCPdH4Vc5dnr7TQiLrYmLY7tokIq1BztsbGGLRHuj6vtfAovNHnXbiiIlbES5ULUX7+Q0yvHsY9YEpes4EzBx8bmHGh3SK4hRcTJNtg1EWm2mxbGI2+JElQwXMUekRHlTGpYIhiUbuVLhiwwZey0t3FlmRUeYMENWGu1KOlK0vF5E3zbswpnG9NipdYYLc2IiRD3fb+Bc8nLzYibIyGRSHlRdSVpR99FweklxLlHpzMu+21HyrSssey7LBfabacfKpH0jjtTcIh0j5B8mGKszJ+z+hGmiTjjhENzglH1RH4E5wNuJaZRIt225RjGZEw6TZOFEvV+z8qZTVonNgzA2ay1xjdMVfZpkzsZt1ch3CJ2moym7KMoaqRfFurIRKTbZO2tlLltR\/l1bKMjl0kSl8D8m6Mfgx8icrsqsGVAEqNZd1uP+5XVRwJlTjpOPt1ZS2jq2j3Vyd7OchcEhKmqnJXCROkMPCSst5uQ7RL1UxOnGMh\/+1RgFOMCdGrtH9xlMcb9krjotfkYoR99arHyuHlFu1QtHwpmGWtyq2HZbSJv0jYj4sF6AMiERkUu91d1YbMXRICkEhLaXL1fWhuitwvcPX9TtUbW5H3nn08w3cvL3lDZlnEhjIiLaJdIqT7W+FqzLHTqxNypo3S995mO655Pg+dV1ljzj7otjebhRbEepJLSw7nsNPbS1AdTnMPKKjaIBm7GPpFIZFlo1MpO6bQl74W6PdXdngB91iLtcLDpRJuIybHul8mKyzkjlG3oa4kfN3v1LqkdtM2ywMMIeYz4i4ZptKpdF8nCaGweoeaRYIKonGmBskJF1F+ario8kq32HGxIQk0QienLcPT8K8\/8WZZmGR5gdDVELtoug5GIkBcw\/qRqazYMrxJXqcehzmEVVnOo2TbjYOSumIxiXVFaZTX6VxEQoeZrxIbpDLdan2UZedWchd02hIRIIyIh7qu6Fhh4Qsqj0wvwzKV3hijjIcyImtUS223dSjsooKNpsbR0x9YiKKZ15k0B6ZR5u6s+yrAyJTxFt9OIUA8RlqkI7pSRBUETu4RiQ2iMRiXUgbLMwIGxbcIbh3cqe0tWUpSLu3feVam2ZB94O2snr2gr2vcMVlSVNWMCOkIaBStiUt3z4IJzjhk6ak1WqkSdab1HRLb3hH5cVeWZ5hqtCw6Ql8VItoAXN9aF8pba1SpnWBfFwiaiXMJc31LQSzlQvXvBqSFOZQ7dcRc277SmsorDIhkW1TXHvAY0evWUk9BsxkwQ+9y3f0JhwXlJ1J7SBq2ThD+b5Uxft27vaRLwibmMOeHnBLd0\/aRDloE4JDplGVpdJLvk+V0zAjEZRH3xz\/Kp+gxJwtNoZRG7aIj4lkNqD\/YJm2fUtxOwSCrMpMxuGXe5UspyIWyukMfsox0HYxi2UeW1bhUDtcbjbt2igHUBj6xiCX6pYBtI4mtWwwLA6dpDHvXIZzWnFuPeGSKX8uFwbSu3RHaq\/wC0TMHKbQEhIS5e8K2tLcFJOOxL12LqBtU856M5+cti4IyiSI6R\/wBHLUGKpfMM3InBdKQjtUmxnbrjcRKIx6kXzDq5Ijz6BSgzLRHNhIojFSAV1u5VBk2Yui7Eil6ymMzr32xk3d3URNXYOT\/qK2fT1ztH+56jxND\/ABfX6bYtDuK4lMVLwtiRltEfWJBXEeZtutk+Mh0x+M3Jz6jd4dRAPJiGipL2DjiCWbZs6RaTAjKVznSKE86yd199ohcIWwLUIdwl6qksairdfaJpr0Zc20Y95OqmkdbcIp7hjutFeZVyoyZ6cKUOBAYstcKscIRFsSIRK2Mh7qtYMrYbaacphESJsRHqlzKrCy7Oswrh8zYk004MXSKLQ3bi+VXRTUL7DYiZNuGI3kIxES7qKy7huPvO6hyMDdB3EqvVERpiMtSJEPKPUXzJ1nefjTDFuJON27pCpPVdESEZDK0i6kPZvlcmyEYy+8go3h9QIIcjcJ1yXOBrJC+WlH7ylWqWRejiQjuJAeR5G+5VkMibab3EO0u6KsE6gWg0xtEUUle2\/wByt6hWwn\/5Nagm2ht3JgLkigHvjm4ulcKhzVcEeWUVIjTC0TenyxHvESXKlufacC7e5JZVkot+klcW6SKWICNtpbVHaMmhErdS61N2nnGD03RHEC96dHm8XzplAKj6RF2zZ7yVeIrpF4Uw89ARMjLm28yxWulC0txRl0iudJQCQyIhIpbuZSxyTxOKoA9Uhq+pF0hHSIhLlKIkXhXek2x0yHpGKmsMrbtKNw7SIk5CmES5fChBW7Ms1oxiRAUrhcoiPeXTGg6tymH+UVxeVbEHRlFsPtGLVOLf+ZNsXCJ\/TiItxu8SduGmzmAylK7b4VVFxjEtn3M5E3Irtqa1VPGLnKVpF0pzUkQ3S2jJMszq9Rofi2uouZaCbQpzAsCTxBHjR8aYRdIo3Dd6y4ZXn225DPaTW69MYCREQxIfVJBeQZ7IREiuFKHTizLj5hracKN0v5jN5DuXDMswFzcPrCX6KAMpziUblM+fSHd9lK3VsBiZN1GORC\/Ic\/ESFsnJfnf2qx8trxcERxuEtpLzxWOyu5h5m7SU\/wAA8ff74OWVhQdMZ0ru0KoOn5jw+RTSCxc7eR7xZckZl9CXL95c32o3D9nqTOhrJCIl6pdSdzLaS1xYGX\/7xJG5RIbdpbh6VHulpOCQ3DKJeFO6sDAicD1h6kxkRSlGJWl3UDeQ2DwZyOM4Yaq2HG3GxdadbiQlcDg9BLyLl7TWW8T+alEGwfMRGUmwEh9H9auDtu44ruHaRpqkATKu12xfICJtprT5fgnevMOU4k7UtGREREYkRSuL1vlWgtRKl29xNX6apXPPBl89oGZ1QFTebE4YkcTEZRG7f7XwoxyClkOu+Q6hRJsSlLbuLy+5iq+4UxDzsn3SP0bRaYzKOp1EKOqaokNxbhkRcxeH5MFi2PgATZdNq7V\/3CdvMdMhFstORRkVwg5LdH5EL9ovDeX1LWrWD5y4LvonZELgy3D84rq1Vi2REXxcSKV0hkt66q12ClpA5ItLmlbzfIj6e\/jB\/aL+DhgR+8pLiHhQfPBDLGnSYgJHqFIBd7pfDgs4U1Tlrjeq3pi5G6QxkjPJsxJtyJjEhKMY83V9SZ9rVS3U0LbpNti7TOgLZDbJstwkPwplb97bGjLIUP5TtQ5w2TdxRt5itQzV8Yg7VtUzRSbI4OuF1dIqvcwq3RtIij0iSjaY4vtEOMSmJYYdJiSbTRjktA+KFPpnpPKctJsG9UbbY+FSuY5cTBCXxZ+9kP5v1qKoq7XaYIi3C3zWyjcpvEBcYiLpCTZERCRejK3cKzdobKzjuwOTG2YF\/uxHpyEYlIfzSQuxUGThOiVzZCQlzW8oqQzl\/wBBUti4OnpyFwiiMhHb9aB+Hc2E2u8JLm043LC1rwcy0CdLNGHSGIiIjqNSEnC7xeX3UMUAabrjREPoyK0RiMf6FEFXkwWq1zDdyyFdH3iGNW25qNkQiQ8xDzf1IlgNi8TO1dGU4hyw5EJSu2j3e8pnLsxbBsWx2\/GF1OdSC8tJ92RCJafKRWknNSLrQyIYxulyrMJOcA\/tMMd4hu3WSLu8pcy4P1brb5NONkLZRIXYyEvW+BQuSV2rHlluLlRo\/mLAsaY+kKMbrorTp09dtZLcQ6kKeRmNKSptgREPNIenpTfiRqjrKbS0ycd+LcLcJdP1KCzOsiWmJXbnO6PSntMVoylIvzVn0bqWI7HtHKdEOLDx8SqOP8gqaZtofNiEnCtIbh\/sUfQUIiIi7IS5lc2d5SMmjckQxlEpREkN53wsbkXRjpHaJj+ktgZbg9zWQnbz1KrrqgWKn0BWiivKKonxGSGnMlJurcbdKUStIUa5Llj+n6Ju3cq2DB\/OFZwy4Il55nmhPlBoZN93q6vbUMWQE+XpSHwytJSjAiI3Wx6eZa41QiepIreVK26g2ne5mfWPD9Ncjc4ywWgEQGItfFjzKCay9s5E7KNpDdt7qncyrCO64hLmUOTo80oj9lB37jGF3Y5PMI6Uh0NJoQaEbiKMZf1fCtCIRuMiKPUURQ8\/mz8S0hbERHddJQbwareqdSbktwkRWkqeI5P6QqUAjOYUZvxFSN7iEeWI3SQ4xxC3Uv6DQkRFuKJREf1qEdy8XdoxHbK4pLXL8nfafBxopGRREBV9pbknMZWqtB+csJpvTARb98IpFGO3qUZnDbox7xbuldWKYxuNwhf5h6e6lX1UotlGRcxJay0ZxBKhzmdWgbaJqJSlGXeLq9tTTLUnW5FbKXrIKrcSEhuiIkMuqKMMpByQkRSERkPrJpWLdDiDsXAzmFBnJ0tpCIjFKsYExgQkW31VGVbwsELoiRSHaKVJmM4zKUrh\/wAqJ4wBIbsxMVnhhGlXlzjUiaMiEriAro+FOMneIiESEv8AKpESGRES604yKQjHvd1VerJDA\/tLNaSMNHOGPKuoiIj5fa9ZM3QEh5reZYawltuHpVg5zgiLlZ1dPd+iop7Eh5pd1O6kXSGIDHqJD50bmpIjtH7yXtz8Q1Sj5mmYVcbi3SEYyWtHUCWp1EPrCmecsi63GUSG4S7yggq3ZDEouiMXCHaQ9SCDg8x5agyyaerCMtOUYtkPiuQjxPnemDbQytlb1EntZWREiHdHm3ICzOpuIiKRERRR68tDVUjOSOIP57WuXE4W7aKCalwxMXREo80RJGOYAJkJEW0Ux1mxkMhIfDuWpRhB1K6sbxicMnz0rbka5fm+2W0upAgNtyJwREZJw267tHaKltQfqZ\/gjHqljYOtuXFLxCgztEbI2G3WiLXpjE2iDeN13uLnS5yIiQkSm8j9O4Lrm3lHd6yXRfAbxPiYtgCEiWZ2Vcb1h0bA5m0QOiAjqfyg8rhfIXyq28v4ipnBEdUCltuu8Ko6gqhJzTEZF8bHa10y+f5kS0LgjGMR\/SSYts3kqOD7fEDnMth2vaHcbQjyycEf70yqH2CvB1q60hFwSkXd8nuoIcFsx9I2Lg\/8y5ZLKKN0SbcYEZDaTchJsuVwfIiWWv8A3LKkH2ktxdF9gRERdBgiFwHBErSHpx93Bec+KeGGKTM2n6UdJgiInQHYJ\/8ALHH3MMUfUD7jDj7BOERNETbhERXXWkq97Q63VqQITERY3CMiIyTFFjM2B0RHfp+7xRJehrJOWiMS+6i\/K8wJsSKTZEUR9VVOFW6xEXRISK65StHnpRi2Ij4iQHobsT1LAMJbzde1plJpsuUSIox\/Wo2srGGwIZCZS2jy+sgVvNuovvJrW53IeWPdQ\/BcmUSsCT9Znot6hk00QxIRkPpCUKw\/52OmbbenuiQyQ+yTtS5IhKIlaPKKmsXhaEbhEU2KyAM9yzMBwJN0PCOW1NzrEe9KJbUIcV9nRUmlUNuNusORJowKJiUi9GTfyqWw4uYasEicLpElI5HX+dyddEhESERAil6yKLrK+TACgk59videDqCu0j1WPRgIxiYkY+qpx14XBFqRCThQl6s9qJchfpGqR0iMRfkMRjIiHp+pA2e4VJVhPsNETYkRNNhaIjHlQtgYgjsym\/LHdwBAHPs+GpE2NrDbhXSISIlDZK+LWwlz4p4Vf1XXWrgKThARRcbl1DghFkybKQkQkO5ayaVdmFMU80Q3I4lnOZmJCQkSMuzjIzcHXfuaIvRNFyy+MVU8H4HmFcxTENpFIiHlAV6b4eoxbbEYxFsRGI83dWRr2NHoHZiuv1np2J79x1S5fIbR0xG2RbYrg6dM4ZUhO3xubJshGPUPl91SubVjFI205UkLTbrmmBOS0hKO0vJ8Kg8M4arJQGRN7TKO3u\/Ms1aPTv8AeYi1nuVfnbNZQ1brRPuCLRzaEdrgSt+vBSVZxkQseijqi3cRbRKP96ddsgOExSVY2k36B0u7ykq4onG9O4pSKRSLctOnD1hp6fRIl9Ssw5HEsLs9zQsyAicbc1dzj5XNldtjh7mKN85AqZttyQyIiFuRREXOlQPCT1NTMNwAWxIhK227\/FGFPmouvxJtoxcui6MhIh6fkxS7Or2Y6HtGnQqcgdTWh4n1WCafEdURG7cn2XZrSA0TDlsylElWvFuXv01cLjDZiw+5EWxl6M+kfmTrO6l1+hbInPSsOabjYj6Rse8nRa69zorVsc4B+0Lcy4Zy991p1vduIRK1SBZaTAi603YNpD3VAcKPELQSKRRK5WHwkYulBwRISkJCS5X\/AFbPjMxtVqmWzGcgThXiQcwl1CtyobRMublQ7W5q6+XowIWy3OFb9lTzZCIjfy3SWfsHIxNIqVAmKploQ5fCgqtrB14kQ7StlGKIMxxIhckYtiO0upVbxJgbbs9Jx0ZRIu71Lqk5xiHoqDdmGtGwRiWmJRj4vvLfLcjFyQ2iIlLuqWyvBhukGJCIxGN0iK3ao3NM3dC2Ittx27fW+tdbanJ5nVZySqxtUNNNdJCJdS55NqvvlUtiLbQi4EubxD86hqCqYzCqGl1SbIpQAZEbpc0fk+tWAzlGk2LcigIxtKIj+vFDG4DMI5CcHuDz1U2JCQkQxGJSK4u8SjMHBdKUtpWy5UQVNE3qRJoTEea65M8wZaER0xES6RS+AxyYZXUdSDr6psBLUcGI3XEpnhHPRzCRA6JiBCBQ2+FBHFdCxUtFqFF0RIm47S9VTHY7SExQkJDE3HyIvtJxFArznmcuUbMy2nmhjKO23dKSGamqdF2Ij6QdsdvrKYKtg3EZES2yDLSuNy4iKUksQbbMLEkIrUlp2y510xHVER6iFSDjmmMto7d1xLNXiLdvMmlXgRbxjEZW7RR3yvpHMXyHOY8bdK1cK3O2mHGgIhEiK5Qb1Qd0SEhEuXmTTNWQfg5cJN8vUXUh+OyiEWgE+rqG2L4wIpWjchZ7MPSF0ltFYZryJsboxG4YqNqjHUkK7bebAAs5XSFJzOOYOyLmEfzkwqMREeUepb1NRzIb4gzC2I\/ZFcrqMbXLcDqMM6rxcIhHaKEsxdkURT6odlt28xKKc3SGRXWiP5y0Kq8RskIsiqulO4hk53epQh5iXlgLBlyliI7Uf0tERFErR5kS5bk4x9GI96Ip1SF9plW3fMqIXRERH85NsxzEqYCMbpW91XHmPDVM+MXWhKUhkNpeqWHwoB4g7NRwCFK6ZHqywJ87Abjtj8OKtXZXuw\/EXexiuUgPkbpvuydKV0iVpZQ5EWxEYytLligyj4ZrKPc1LlkFyIaOoIRkQkMijcMYqmr22HCzEaty3qEM281YpBuiIlIiKQ+kc6vrXRjirVIXB27RuVK8W54NW\/AC9E0MRHvdSjqWvda96dcDwkr16Hav5w4rzPTlHm9si3FyyU5SVJEIkRRGJOF3RFU52YsV1YJPvujoSKBF77L9SsHiOubpqQmxd9K7u7rQ7pLP1iY9AgmGDBjiHOxbKpf5jcIh73Sq+p8JVLZuekInJEtM0zQql8rosN+9KW4RoSdfG0nJW2jJGSrwkmxoaxWhcyazKkFyMhkXLIeoVXLuZC2ZhdISIbfEvRmU9mOZZgQOPkFGx3r3YxtiOHuKTy\/\/AGdMjaKdW9XVhEUi9KLQSl0iPl\/tTFFfpLN1LWfUETrmeesoYqayxs9KdoxGRI1y3swzIab0XpSuIpNuNkUu9ivR\/D3BOS5aP+6UbQe174ZEZ\/aL3FKnVNjaLokPTuQ7rNnXUVf6mxPpE8wZb2b8VSIRpGmGuYn3xiXh8ntqUa7EMzqQx88zOkalysC88Qj\/AGL0Hi70y8PKm9S4LfpHSFv84v6vhS9l1p9SgfrANr7j1xKAquxMqH09DVY1xCJCbDo6RlbuEsPaUKwwVIRibZNkQ3NOjEvEPyq0uKO0lhh1ymoWiqXxKJOOjpMNF\/eSBM1pqvMHdesdJ9yNogItNND3fJ7uKCrW2f8Ay8zS0NlyjNnX3nDL8xF8Si4INjaQl75\/0Ra5neXsMDqCJEQlpkQ80epAVRkjbZEZORIhErS3f6rvxbm1CLTTbTevEfSavKWnyl4kZKAejiO3OrkcZzG5YsOVJOOti01GTgtuS5eUsfdUNmuUUtcQukwItBaER0zcHvFh7qkeH8vF9tonLm5iJDLcJFtRZxFwLmA0hnRiLo3OCw3vFvpH5cUwLSvRgGRAcGBXZHk7QP1zoXCL+k2RbhEeVegsoatH1VR3ZQ7Fp8HRITGqKYkMSEu8OPuYq9eHnrh9VZOvZm1BJ\/ITzl64tI\/ORHa5mw0OVEIiBvuvtNttuNatt0nI\/Bjh8qCOCcC1JRiJAQx6v1K6M1y+mqRIXW5EUri5bf7EGjwp5m7IbmC2GJe9l0l8y0fCLUrtEniALtgn2pUpv5Q+ICRF6NwRHcVyoVwH2Cg6BAQxtK2XhXpDjfAhYbGUdS0e9covMMmYrMvfEmGDJpoTIj3yH+TL3VXSv4Y2Edman0u0oh\/WBPC2ZDpAThWx29JKwcpKRAREN1w90YqqcuMSEmxjECiirh+uhFtxyQ3Rl+agXpg7hPQlCyy0KrAn5Nk4LsR+z0uD86FKjK\/NqbMNRwnCkDguFuIZcyIcprRcJshERuESjzCm3GjcPPmCEm23aQiD7PUiVvvXcZnHKNtkblNTtjtR9wXViD4y735qqbg57Ubb5rY+spouICo6xtipi2LlzZjyq9W5TvHsZi31b3IENanFwitbiO0Vyey90pE6+4PdFTWZ11MwIlqNjKIjIxEZdS4DUtlIZNE5GTYkQkJ91Iqh3ZJm1vOOBK2zXNjpiJtwtdvUtLmH\/RTVFg2\/pEWmQldEeldc38zfAwKkiZFcbYyEe6kzwk75mJtPk27KUSGMR6UUYAzCswIGeI6r80Ybbi2LYkO2O4lFULXnxOHIotkMi3CXdVfca1+Y0rosaDgmZQA9wuEW2PwKzez7J36SjAqoNOMtW6ThGqGtiNzQ7otaZB5hBR5S00JVOk03Uk3piYiImLfSK6jTEVxHbG0RIoiuFfXC56QtvKPSudFXiQld3dyE1m7j2EVCORunOtwJoSKJEO5AOc5sMpagjuR0eZjEmyiVpDdzCqQ44ohpn5NkRNukRD3S5hUqQM2BNPQ1hzteLNM3laJSjzI17P8AMy82buuu2+JU6bisLs01HAHdpjaRJx69qx7W0oKuJctE\/qesQiPdRhQiIiQ7kD5IBREuUiJTz9YTbZEAk4QjIREoyQdO+zLGeZvTcdojnN3hF1syK0RiX2k0qM4piGJFIhltl\/HkUKeYuVIkRNaQyuEoyJMn3BcKIx71qXu1R3EKO4avTAD1e0kDrBJsbRHliKZ1NWIjHmlFcG8SEtMht6llx0RkRRtFBRGY8whwsZvvODtu6hScftGXStKl\/m5UMZ\/nQtDESkRcqYrrxLgeJxO2c5qLYx5kJVVbKRS8RKJzPNJXEVxfdQ\/WHUv7Ac0vCV3eT9VXzHUqCjmGlukRSlIbYrTK2RkO6RbfChehwqxiJC7ESGQxKMUdsCMRLbEdqZXAil+QCAZ2dorZDaiLh8xtly2ko1lwXGx+yt6B4RO4ibEhIhiMpOcoo\/pU7pkOC\/pk\/WC1KMoiN0i6ulcqinEvexkQjIi5fWUPWVBiNw7ilLlSYrnCKMiISHaJLPuuyx4h00pC5zHYNtNkJSlIh22j\/quOZUjFSRMPgLYEJFt98Lol8GCeMOtiQ6kSG7amxVbYuSjLbd03JfJHMMvPGJAV\/BGURFrzVrcNzUhIS6ZcyYV3ZzlUgscaJohEhErHLub50S1tfeRNlHpQ\/mfGNK2RMVepq2kLjd0h8Pwpiq+1iQpMs9VYXLAASabrqTLWiFsRb0xIW2uUe99Sqbjji0nyIRKWoVxdX6sEWY5BmGeHbKmaIYgMby77nyYKZyzsBEjEqzM8S5iBhq6PeIvcRVsorffc3PxPN3bUsIzxKeoXWyiJF0r0r2OUVJTNi65HXIbSLlHpTjK+yfh2mjp0hPkO52pdI\/siiRqlpGo6TTbTbdoxGMklrPqqE\/0wf3hbtaLE2JxDIszbHYXiHlWj2avmNsR9aKFDqxHxcopm\/mHL9opW+FLH6iz\/AIeBEd2JPvOuEUnbv\/WKMrasWBJyJEQ7W27iIulQzmZCN3Ly3XEovM+IBAZfGcojdHw\/LikzlzCI2TgCdH+IsytMvRCXxcvSD3VNZRWC6OpInCIeYpXIKoPOatwXSsbltK4iRLQNixaAxukXi\/UnhY23BE2KdOAMtAPtBjSZm6cSi\/pviRf+juiuOT5mRlGI9UiK3wkpPtQon6loHRGQtFKQjtHmFC2V2kN3eTiOSmR3NdVQoMy1crZYGmEjbB0hcuG20STHOuE8tq4i+wI6shbFq1xsyG0vaUL+VSESjzCK445zcJEVw80rkZNRtHUTOncncDBhlwaEnWNxtGMC6gEt31q7uF8\/pHaRom34yERlK4nOZUBxcWuUmt8la\/BjzRUOXmTAtk22LciH0ZR3W\/L8646ggNLWpxzJzirhrVc85YEfOREj1WxERf7rg4e7j86h2s40mGqkfiy03bveyl\/mRi3nzQl6NwZN2j0oDzzzYql9tsfQVwkZNjtbf6h9ZL3VKeQZiaylvxgSy+G+IWq5shEh1RiLrZDEh7w\/MnNRmTQyYEmnCiUmyIf48qo6iqX6OskQk404IgULYlHf9XzIgdrGhEnSEpCMm+Ui7vzq9DWqdg6+Zlq5bgiRHaBnwO5hSUko6UojLdduTrLa3TdbKOoJWk2PMJbhQDmuTvu1P5TltciLG4m2uZFNHXtiLZRISG660kaxNhDCen0VOyrGOfeQ3aPl1NQ1jZUgui3VxcaEh3dQ\/XgSZ5ZkuYOmJNtxESkOoSIs1rBrjpm4ap0xOELhDIgkSPcjoh0hkJSlcX8e4hX2A8qJqLqTUgDdxlllC+2wJuDG7eJWy6fqXTjN83MqffGTrrTBjHux5flU3nuUi2wTgun73qC1yuF3RQrWZroUdZbIm2DcES5fR8yHThWA9jFGbxPWPaV32XZwLuqMthCSd9qjpCdM6VwkMZdNyq\/s9zUmcwESKIVJEJeJWpxm15zSE3ucERIftLWesVsV9jzMnxf6u4wYqOJqzNSClEycALsSjtHvIm4d88bfCmYccIHC9JIpCI9Qlj7mKzwjwVU5YFSL8SIz9GbZb2x5vmRrkOWE3cOlMhKIkUfvJC4pnbX1PQ78DJEfNOuMELYjaRXEVw+JEzdcRDF1yJRt5RIelB1VnDctN0dPaQxKV3iQ\/jmJvvmIuFaXoxkURFJpk8GVercN2IZZs41VtFIRcITiI8wkK4FXVIiIXEIjzkmGXDpRk42W4u9IlLYMC6IjtLlItpIdgz6ZZcL+kbU9WL5G26RNkIjEeUlC19aNI6Oq4QtSISIbZWqaaiwWoQyIi0yltEZbkFdp1UJO4i0YujERGGFsu75PcTFdalBNHR7Xbb7RYcRiRkIlIRK2JSt6VEcWvi+2NwyEpDLd3lGcMcP1L7kiBwQujEolLqRZU8JC204TpSKN3UPeViqVsDmXuaut8IZVrzog5IrxVldnNY1AiGIiTkoiSrvN6XSccEfSDyy5UuHcwKjtlEZfwKdtr31+mINYzttYz01l9eJS5ZEMR7qd5lUejkO4eXuqmcs4nJwRIS27kTM8UDG7p3LLcOBgiAOmwciFDdXIS5ZJtTuXEhh7iZgRIhK3wknGQ5n59bSxdjvIdod0vnQq6TncYVkIWFeNUKiaytEfDzId4wzVzLQkYk4PU0MhHxfIqnzftDqHbWmhH5yxkn6dM93KiLlUrGXMtbPeJW2xIRKRR5YquM0zmRSG5wt3SKCRzh11widO4sfVU9loC4QiPMnBo\/C5aGqvQj0SRpgmQkVyPMkovREUZCMRL1kK45fpx0HJFGRDtHwqSos3cjAYie7TIoiZf4IVgkZy44loZfljAi2DjQlqNjEhL85YzTh6mEvRiQy5ZFKSr3KeOxFyFY0YQIRiO6PdJHD\/ABAw600TZFKUxLmEekvnQrfSvIigRw\/chc1y7zPaXLLwqH\/KJOFERuHaSf55nzcSEpOOkMRbHaPeJDdG\/tj1XKlbuy8xjYBz7yVwdItxFu2ltTzKq4mnCK0pDER3FJNzfbIbh8Mepa4VrbbuoANiWmIjLaPe+fFW2Y5lS+4EER5UvE05F23aRD0qNfzURkI+JbZ1XUhxiRuFudKUZF+pCWd05nWNCOJMBgImQDzjy3Lq1AnBM6OF3ESeqc7HluUjwbwgWZVPnUIjzVJSIvC35VI8E8ElUxfqwjTCQxDmcL\/DBWu6\/TUbQiRCw0NoiPL3RH5Upbea8rV38zK+oa0H+nWOZvlWWtUgC0wIiPMW6RdRF8OKeG4Md0Wx3F1Jp54JCJNiWmVw8skzr62IiRWtj9lZfyTyZhFGY5McVNT6rfL3kwqKnm+yPSo6tzVsZSIdsu6IoTrON6ESITMh726Siaa1+cSwpY9CFdVVjdd4i\/RURVV\/2R2j1f6IHzftEox2NuOiP2SQljx5WVzuLVHSDMiiIiJOH\/pgtGn6Zc4zjAlxpXJAI7liZjnPTInCtERu+yuuRZWbha9SV3KPSK6cI8Nm00L9YU6oxv2waH+SH50SEQiJCI\/dRDUtYwJp6XTir8zHbeIi2I+spSnpRdk4RRb0xt5hUEy51Jz+USEYiSLQVz6od0PtIHjitfoaNx8YkDpEwIlEiEXOYh+BVjTVgiMe6jbtU4ka8xdaOBOVMRatiUhL3xVB59anlqDDKxyk7V57ht+UhjuUY9mfpOa77qF2swJcqisKV0vV6l1dNCeKIRt1MnSu5Zfso8ouLhao2mBb0xbEhkMbSluUZk3ZpVE03Uv1LYk+2Om0IyjIbZF8qlct4FfKQv3CMrWiuIv6fgS9r1j3nFG7uDWZ8ZmNTBi4bRI9siUDnPGlcAiQkAwckJc3h+pM+JcfNql2kjHQdIeW5DubPzEQ3XCnqNOmQcQGpOVKy3sg7TaF0W9WmdJ8RuARtIu6ScZnnZ1bmpp6Dd0Wub1kAcH5WACTrpCBRtEhkI+H50UYVDYNyK0REikX5yHcArYSK6bR1od2OY8zCu0GicJyMhjGUZd350Ps5jUvu77S\/N6UHcQZ8NVUtRLHSa6rcMe8ijJnxIRIfVirvpyqAtG6tQCSFll8MCLVMRRuul3hU3lHEBDLUIhbEdo2iSBsvqjIrnSaEd0RtIVIN1ov+ibk4PNakLV4zDIm4nPMNcy4tYKmcM9TTAbT3EJcoiozKXxrI+icfadERdEW9QtPvfIoPNnhaoyptDVF0myIR5briIvg+pT3CLWrpCwRUzcdNyJEOoI\/UhV1Dg\/nCOoRTgSse3DK8ry\/MMvfywW2CiI1NIAxJomy3kPziiWlk+3IRIgIYyHbtVe9r9Zr5zUyGBNCDHeOI70Wdmmdk20JFe3HTNvw\/wCK19RuNasO553VLtbKy+a\/KtcyEJRAOa0RHmQVnZlTELgjEZR7pKxmHNJuJXE4NxdPdQD2iVjVMxuGRFaJd3mWBbjeMd+89Do2Zm2e0HM3aJ0ffWxcjKAlcscFG3KrJyJGAi3EiHm+MWGOH332ArCdiT4yASGMR6YrplXDY0jhvk4RE6IjERtG7+1HXaCY7a67CmZrntdoFcMpbe9aozIeKH2qkWzMTYdIREeYC7vzLHGzVW+YCxSVbu6UGnCEVvwhwLXPm3U1LTtNB20DaITKPN7fwKKqKm5oA2VhfUwlgPNCW67qHcg7M6BsXZ\/ycnBbGMbVYGGS1I3EMSL7MVGVvD9Tti2QlK3mSotXOcwNOvqrON8d5LWsFQtPttC266ESEdwihXjSvgJC1c+7b1R7yf5Vw\/WUwvtkUhIhFjdYPMo\/MOHquJejk4XUV3qoj2qzDmVrvoDlt4lMZ6w6xIyOciuEt0v1JhTDqRIkccQ8E5y5EgoXHSlIhEhJDFXw\/mjEidy+qb6vRFEf6ltU2KydjP6yWX1F\/SwP7xg7VOtHgLRXHj5LepXhwRwy36J+pInHLbS97Eo7SH4cVWtDwLm0qWrJhoWig+JEY7O8Py\/MrhaqypGBJ+N5ejjt\/wCqW1jjaAsuHJHpMnaymaiVrdtsdNuPhQ\/lVcxRtvg0w01J26AxkUd3tLV7MX6sRbYHTlaRSFOst4epo3VMXNzmoN0u78qza6nIMtuVRhzOWOSlmQuCRODIbYjKQ8wkOPwKu6nsgGZFrngJHYIN+0I9JeX4VcmUZqxSFDvR1OUR6k0zTOBctEhiJEWoPNduRUuakf02\/WUyznBXj2lT5l2T0o+3qPtngO0YlIkK1nDx5eQuUzpHHcB7vV8iuGqzRtsSccKQjIiKX3VX1EBZvWEw2YtAREc9xCPR7Scp1VhB3HIEt4IHOMTpwznLeoPoxjIRi7ylG76l14goWxKQkMXPSCQ8pSRM1wjTUsYjqDzEVxEgHjTOTpqgqYGJD5PL5S6u6uq\/ittUTm0L6gZE51VSFuQ+nbciRDzCpKlYcbbEhdcjGRCJe9\/6ILHMHSf9Lu\/RRhlVVbHqtLwpmysqAIIWhjkTq04QlEhKRXSLmToXyHl+yuY0k3Bie60ZcqkscncaHUcMRGRej+M8X1Km0EZMEbDnAmgk6Q2gUR6dyjayqG7q73UnONQQCUSHxSITj0\/Uh+tqhLpVfDB6hEsI7mKnNJFFccM60DAnXynt6iEf1KAzKpEZF+ao3K8MH6poTlEzEcPh9vlTtelBXJ6i12tIO0dy98tzx8mmhCpcKQjGLkvtfIi+hoXZNv5g5qAMSFu4ilykShOFskpqNgfRCThN+lLmEv8ABO6vMDbIRmRj9oo9KwL7BkqkZ8mGHWD7w1erxId3dGO1Vr2ncSv0YtQISJ0iGJyiIj3UYU72o1qDzcu0h\/rVOdrbhuVVO0AkRDMsRj3l3R1K9oBHEE2mQDqDGfcW1zwk2TsZYXYB8KbZFlFS6NwxEuc9361IUXDzjhCZiI+JGmUUmkQlESt8Q+JbL3LWu1BBCjYcgSMo+BRfLTcrCEbZRb\/SVlcNZNQ5UMaNoSK2TpDJ0i8S0oXRIRi0BF3h3f1KTxxbIbmIl1CUR\/tSLXM3BaUclj1NnK6RFG2SaVFfFR9ZVNBL0olG4hEhIv7EM1PEBEYg03pgUhJwrnC\/UgBcmHSo+8JnMz5iOKhM740CmGAtk46W3UEhH\/VSLFALdMTtvpBIZEUiEh5ooZ4poxqaQSlEmJGJdVu36kSutS3qjI29LB2tpCzJ\/wA6fIvKXuCJWgPSPlUTxFlw0giQlIS6lN5ZVjpxl6yHeNc0EiFoeW6X6K0qNzMF9oK4qiloPlUlLuqe4KMXcwaEoxG+6MSIfrTPI+Hn6ovbAhD7xK0OzbgijH074E+\/IoNyIRCPUPwo+qtrRCPfEU06WFg\/tmW\/ktXJpti0pE2ZdKK6mmaEZCMdQSIil3v7kHUrg0zrcaaMRISGMVOlmo1IiIiIwGO6JbuleXOMHMesUk5XqUN2x8G1w5nKnpsCbNrA2iGIzwld7vukhfIuz7NTdEiYEeYZGK9PZ482+xpHHVabLSdKMhc5R+fBVcecGwWmVptkRbrpfqW5ptSDWFzFbA5bdiDeHBeYDucYiMZFL3v1fhUxScADVjF2rkBbRbHd1S8q4ZlnBncTm7vRkingWr1QtKRSL7PdQNRbt5WGVWKktKC444Jq8mqdN+JNOEeg6G1wJf2YphkzlQwYk3LEfLt5Yr0J2j5COZ0zg7H6YSdalL0kRuElROsLDRdQ7R6v9FpU6nx0iBq8I5ENMozxp+bWm6RDaYjtRhktI42JRbBsXBjKXpEK8D5JoNC6RTKp9LIdselWJg600I3SLd4Vm6ogNhZo0E4595NO5YGW0LDpGL41ZCJsF1cpS\/vXM8G2HQJt8DbIC0haH4\/4wC+TBRtbnR1NM0wLYxYKQucwqOxZdISflpiJSEeoub+lALjoD2H+4ULx6zzkyuu0vJhfrql1oiImyESluKI\/3qF4AzEQqSpikN0ru6jSmyurqXH33B02ydK6Mk8\/JtI16QWm9XmOIyJaYfFe0j9J57U3KWIWXW7UPyKWmI8ox2oTqOEXczrBfqWj02CGES9E62PV8iPOEKTzmRvjtKIjykjgNsRCIrKp0+\/+qTjPU0L\/AKg2nJSvvrME6ThlsokdwjGIxERHuqT\/ACay1dBoO9EZKYIC8KHs2lMhLaI7epC1Z8IcDuYz3WWH1GauV7bdoiThfZGP9C4P1rpSIYj02\/rQ3xVnnmIhFsSJwZXFtUTX58VrZEWpESt27dqVSjPLmN16Cx1DY4MMWag3JekkQ9K7GLlsolLl5lWnsgdphk5FwSubjbaiHIM3cfiQxIS5RkRCXiRkprxjBzKX6J6huPUJ8ZFy+qt6YWpXjFzvJ5St6g7Y+sm2bUOo3Jv3xu5surukrZ8EgtyImBmSAZU3u3S5upau8OjGQlcXLuGP9KjsgdqS3ORjuFHFI3aPNyrfo09NwztlCMGVzmGTCwNwjErtqGs9yQKloRIoiBajfdc6vqVlcStCQkXSgepKW7qWVrdMKmOziGqves5UwBzfAaNoXdUhHU047S8X1JgPELe2Yx6iIZKR7UhbKhc2iTZCY\/aVDO6huxkRCRWiK7p6vHTPU9Bo9T4iZbky4qniVhuUnW\/tDtURWcZZdKPnJXDubGUe6q09jta84MhgBFGRY+39lHOS8IsMCXka1SHe6+O23lH4EZtFTWPUcn8o0NUxPpXH6yM4o4jYqWtBh9yO4jjcXdU72RUvmzouk2RXY4lMdwl3VK5fw43EiiAl3WxFEGXgVM42VrmmQlcI3D0qrOBX4aDiRrQzZPfUNnGAcH0Y2kMoluElUPbBkmINMZg0MolF36iLcrnaqGy2xi6IuDHlL+TUDxTlwv01SwQ2EBRu2kk6H8OwNKKf7Z5Zr8JEMt\/KQ8vdUhluYCJRK0vzlvU5eYEQE3KJFdbJMqygciBCJWluFb+5XGIF1KHIhzTPt2lLdt7q612YOObiIyjHvf8ARAVHmRCUCEpKeos6aAry\/SSzVMvEqGB5mMwrJD\/Fqgc3dcYESISv2Fy4ooqfyfVf8SDR9W2RdJeVStfw+3+TxpnbyIZ6vSXKQ\/MrK61kbxOWFnGElPVNRiazRE4LoE3hjiYmJD5PbuwJHmR9nuvGbhRIuX4UeUHBNLRiJYAIl1EQk4P6k2+tqUYXmILpLGOW4k1wSeYZk0TtSDbAlH2h6u986lqOllViDtrQiUiHcpHInWGKPSLcLkhcuukky61MnBdHaO7m8S83cy7iyib9bsRg\/EZ1QW7YxIo3cqFMyZ1\/SNlLdIunu+2iesqGokOqJERSlK3wioKpxGOqLgRlGPNL\/BUrYiMqoxzIPCnl0rm424PKXqrk7WE264MJNHzDuH\/RZCuLlj6ydEA9eDxNDrKkbW3XQ8JKBzl3MjEh86fdEeXUISRY07K025EXSuj2WNOSjISHl7yNWwU5xFHwO4H8G5iwJEFTIDG0Zcy6cQ5w2Dg6RXCQknlZlYla61d1CMS8UkPZlwzjjImHcZfybm77SZVEZsniU8UgS3MnrG3aEZDIxuL7KCc+qRJp9oZXCQpvw3XusNC0dpCMSlukmVY\/eUuYpeqlvD2vmMV4xzAh4qlgbDKC45VTlU1ACUikUj9oixjhze18Ce5w5B0x9YU84XdzCjqW66lp3T3CXo8SbMC3B9S2g3oz7kTFdP6mOSAepc9Vwj5sw0753IiAS02x9I3IVLcIP01IJMOSI3fjS\/RW2S1rUWifByRAB6bd0bfevb+RYz\/FpyRsWkJS2\/Z+peccl+zN5MfhI\/eF9VTtuDMXSEStES3KEqcHGikUv+W4IkUi7yFco4y0HRYq7hMogcbRLpR7lmeiUYxIeYSGQpVlwfV0Zc1tXx3GDGZagjOMtsuUiQ9xllzbjDjrZadSJWuRkJdQl8iIs+xak1pNR1CIXC5ZfrQjx4TjDTQ3E1Ula7yiQ8hfJii1Jtf0zmVYfErzMMK6O0RHmJvpVo8NN6TDAMRAgAbh3F3kC4viQiMlM5FmpCMZXDaj6kkjj2l66wRLNp6kSITfaMh0ybJ0SGQlHdH4cF5\/4g4DzMqvSaYJxo3S03x26UtxfIrgps0iAiRSFPsqrCJ0WjcGG9vvD0odOsspUkARSzThu4IeZnRgwwQxGGmJStERXOsebK1uQjG4y5i7qMu0RgRo2n229SD9xdIkO4vmVYVNVEbd5belWrc2ruMJXj2hVlpCQ6YkIg2IyKW5bcR8QMUbEjkTQkLWmHtnIuaKGqfMvNGi1S985bbu6nmSO6sSdEXCkTgyGRAK7gKcsOJLa9wPMPeGq6j82ERItN3mIYk4JcxeVQvEuSk02TYSJt1zUYdbuED5m3PkUdxLn7TGXu44w9FLTPmJwto\/0IP4e4\/qSCJlcMRLpJaNbl064E8tqNM1Dccz0dwPmTtJmB0jhTYfHUAi+KMeVWRjVCqN4mPUEhbImndzbg+jiY7fc+BN+z7tcqZFTZlTE42BEJVgjtIeUh+FZelsfw9h4xNv6h9Pa7+rX+4\/\/svbF\/wphmLIujISka5UOb01W0L7brbgFcMSitzzFvaMY9S5dXkeozzxBU4MBuMeE28ybiTjjT7YlpkO0ukSQhmPC2ZUglUuEDsWhEdOThSjuirhqH2HOYfVUbURug4PhJCS0IMPzH6fqVtahOxKdzandfqWGiEhk00LjggQjKKsrhnKBbbEQbIY924u8pQDIhEdMSj0xL+9SlBmOkPpR\/RJNV3U9lvtK6nXG1QoGJ0FvS3CXdtimGa1em2V1xbR\/SXGuzknCKIkXd5RTEWhItV9z1ZREfWxSF2L3wn4QYmD7md8lluiXeRdjmTbTQiRCJc13Mq\/zTizL6T\/AIthgR3SNsS\/sQTXdqWVGZA0+T59TQkQfax9pbVOoapfQMzorZzhRLKz3NZW7pcyE6utERIiIRHcRSEREfFihepz598ZNiLfSRFIkNZvQPuF6d1w+kSIo\/2LOussvb1cCPUfTmY+s4jHtIzgXwIKZ2QEXpy6ukR+ZCGW0kbiKJbpEP8AHtIgzrLS05RlEbR6f1rTJsIjIhFyQjaQ3STtOEr2rNmupaRgCTdLSOOiJEUnBES6Yj1Irp6SDTYk4RE4MvEXSSdZDlNNpNkTZxjIiHdLp+pZzJyVXFhuLYxEfDHcuW1lRk+8B4284Am7bMREYxXTFluJEUREdxEQiI+t8C5k4LbROuOCIiUO94hUcFa3VuFqEIsCMRb\/AJTvOJWxscCErqLcmFPBzf5QImKZ9p1ti43QIS0i6VYDXDzAiMxJ2RXaib9n2SsUNI0LTYBrkbrhCIiRFyyRI5tb8SulSgZmVqtUzOQh4EFazhHKiEpUNIUijImhkh7Ouy\/Knyi0x5sTg\/FbR9VHr5W3dRKIbzthwiJp1t3TImygQkQkO4SH3cEWsc\/6iwe3sEzztx52WuZeJ1IiVYw1c6QBE2\/EOHwIGpKNp0ZA1IR6RkvXONQxVtOQcB1p0ibIhi43ISub9r4V5t4wP8i5hU0gBFgi1WxAbYlyyTGX6mpo7vE9D9yNy3hrXLU0hER3OGIjH1flU8AXN00hcES3D09P1IWc4pIhKMokNw3Wqd4AwKpI3y1LSiBchDzIFwcjLdCaS1qvMLMKYhH0UhiNsVLZHl7bTZOvyN0rilcu7LJRIRGREJRUjS07TbGo+RSHlHqSWSxlQeIydrGrhJshHlKPKoioi5c20XiLmU3RDSuhVG+RWj6AZRkX+Kj6KvbASHmIYiPL4lQjOIcDbnAjLDKRjtEeaIpi\/lrYiREJSIlMFUW7tv3iTN6olaIq6sBKgv3IXzZojES3RXQsoaIYjESjuEbvD9aeNU4ykVxJwyxJyIlGVxF0iiBpxmgNmThUNSNpE1Lm3h+tSzNSBydFy1y7dJTmYZYJekdEXLpDK4iUHxBw0JNatGRNPxIib2i54R+BMVuH4ErYBgZicrBuEil+kmrrTRXcv5vdQQ1mlS07AxkAlEpbhRTleasSajcIkUm5XRj86MyMsXCg9SWpMgdfGQjbyknbPAjROgVS44Q7iEdsemSNaPNh82YaCmaGA++\/GEKYZvnb5CIyGIyEhGIkSRsvbPBjFSHOMSAo+EMq1RxJoC8nuTieKL8ctYaEY+jbjIIiIjL+hCmOYi1cVxF1cqZ1fFzEok+JEPxQkJeqrKzuPVkyz0+rjiE1c6LUo6YjEiIhLaorh2qKpJ8d2oURLcREO0RW1DS+cgRPiUiEdAI2lLqT3KspKhdFwgIqYpFbaQF1fUhhueYX0qhGeZDZvwwVS5pNe+AQmRFaIlzCrAy7JmxabYKI6cSMmxuIo9XyKGzA4utxKIuENwlyovZZ0xG8bo3dKHax6EG9hKiMqktAnWyEXG24k2DkZeIkMcT041eW1bESEvfWo8rg7fd9zBPuLcxEHSK4tIPSR+MihQ+JxK7SJttwolIbUStmIBx1ItRbmVjXN17Q+94D3oyl+pRWU58+1VAL9g7Stj4SXoaiyejrKb0emJj8V1D1D86COLezWcibjIduMSEsP9FpU6ithhx3F7C+70nBB\/YzNLWyESGJRipalqid0yG0mylEiiJD0qv6OqOjcJqpEhICiRcpKcyfNJ3cspS6Uk9OM\/E0CMjIlsPmNTSOMEQxcGJdQ\/64Lznnj1ZRvusPg6JNEXvgFslaf1K28nzAn6wRbcKJCNv6RIjqaFrMmqvLKs4CYe+tRJ8RFyYtyx93CXwKulcUHDjIP2ilqMv4T+crrgnzGupgKpphMh9GV1wnyuyx+BE2WVHmZkJC2UbbREreVYyrs\/KkfDL2n7juFw9p22+57mPzKRohpqYXRq2yJ8bQbLq6i8qK\/wDUzjrPE5uwPkn2kFxzkdJU0jT5EIgTl7A2iPe+tVNmmU+YuCIyIHLgLuq6czoW3Babc9GJCMilbLqQRxFkxFKmcjISImnB2pqi7AweojdVuOR3LuoGZtSIRIh6riL1VDZhRNk6LpNxFuRaQ2tuF1EOHwqa4fAm22pDqFG5P81Bp+5oIEIkJSGUlibWIyJob9r49oJP5poNk604DYxIiiNol0xUdTdpm3VbF0ZCJEFty3zKjEpejulcMrSTJzh2kqyIm7YjIgR6lWwZMltFJHrX94XFxVbLTKPNao6u41FoStPqiIrvRZRJgJR0hGI3XeFRGd8OakibkNqB4S59UUGioJxO7PGb5DJoSES2kUU0zbjDMhAyFwRiJbhkmWRm20DjRt+kEubp6hUXxY+IsOx2kJNjLqLmRVoUYEKuip3YC\/7kNm3aHmUI+eRIh5BFDgZpmVc4DT+YVJCRRjqkA+t5EPOZe7PAYykW75EW5Jk1SMXIybEriK2S2BXXSvpxO+ChOAoGJzquCBxkRPlLd1feW9Dw7cQNDEhGRjtl4fKipt+UWx982xJdWhJoxcdbIh3R7qD4zEeo8S6oFPA5jrh7MSbAWH27YxByPe5kXFTsEItagkRCJCQlK3pUGTlNpNttEOoRERiafU1J5sJEQy5myEpRS9gHUr75xiRucUelLbdt8PShQasW6vUjtIbeWPhRBxDmLrsW2mo3XmW31RUcWWxiQtyc5i6u8uUn3jTKNuGhfl1YJUzrsrCGDYiUSmRLkVcFG04+\/MhEZEIjKVu2SEslJx106FqREJC7P4tseYS+f5Eb1DAm3oFcMYlLm\/1RrXzjMS8EIcSm+IOLKqpdIy9GwJeiYG0RH9aIuBcwCqqaNgtciffaAiECIB9JzFh8HzrjX8Kj59R0bREQ1j+lEtwBK4pK6sG2Msqcto2AEGicbaGIjcXVLD3Vy5q9owIayxlXavxLbZaFuDY7RtHwxWHsREe8Mk4wC6XSo\/MXeVUztGTPKjk8wdzN4jlJwhkJDbbaXN9ar\/KcgpssfFxqUicItQiKRSK6Xy4o8zTDmHl3KAzRgXRbuK0xckqFWHIMfpfHHsY24TBqmzCpo2mxBp8nKkhHaTpbi+ZRnH7INvjIRIjHmESlH\/BcgeIs+Y0twuXeHTu\/oTztDdLXCMdQRIpFyjLaKKWzWcn3h1UrcpHuJCUuVMaYloNERXRJsYil5sIlaItx5RERb\/sWaJ8iLcIlEbdxF4U7FkxkRjESK0S3Jc89RrLDuPsqjGUrhKPh7y7OuNVIk05bplIiGP2vnUQ04TZakRjzCRWqDrc5cacJ1shHcLjZXCTZIlYVfxQtVbMeJ34gY0Hxi+JiQy0x2txL+\/FMMKkSKQ96Sjc1rCJwZR22xttXA3iba1LZFcKE65Y4mstfo57k666MVwaftTGmqZCMoyJOwC2Mri3eFWCYibccToFTyj6pcop4wJDduIt0V3oMqiO20huUlS01wt8vSO5EFZHJidlw6EaU1A4\/K3luElyqMof3RKI\/GDyjFG3DtFYThXEREQy5U+OMXB5o7h2igBSDmW8fjbPN3FOVuNk6+Q+iIt4\/nEg2vMQubKJDGUVdPEuMnHWCGTZEQj+kgd7hYNTvCXiEvEtOi4Y5lra8cyK4e4lfdi0eqUSuiURIf1ogrgcjqtOuuNCXNKbXdL5U2rsqKmEndKIy3N7R7yH\/AGR+akV0hLc31YK2xbD6BKq5RdzNM5xUOuYkBuuEJdJIcpsnfccPSx9tu7y4lFFNcTVSIvtRFq20SubJdeFTjWNDGWqYt+JFSw1qQJy6tbPWx\/OX3wBljtdTUzj4QImBnHbMRVmsZG1p6ZDK2JdK48FUWlRtDzFuFFQsEO77KWXTB+RMG\/Us7d8St844HDVbdYjaUtMitcHp+tMGbiISHTiRCXiirTdbt6UL57lYk62\/GIxi6O0S731pPUaYo2IzptYfwP8AtKK40N9jNXGiIYEAxjdJvvfJindDRDUtExEiGOpIRuGI7lr2jZW41mQ1MhNp+IBHcJCO0ljJqiJCN1xCNtv8YLoYocTeb1IGWN8gcjF9pwtISiXqlcMVZmW5o3WDy6kYi5ykUeYVUr1Q3l+c1LDZDoEQ6jcrRcIRkSsPLWRbi+1GLm8V16j\/AGwFzA\/i\/YyQ4h4Ioa5oicaHb6Uh3DLmH51Q+a5A\/klYVLVS0CInGHxEiF0OUZfBj8q9TUDjbjUpWiIiQy3KI4xytuuacYdETt1aRwhG043CmkPpxF6dSa3w3UrHgWhaaaKuci2VTIWBlIhbEun5cVOMuBRtP1bhCT7kRYbLlluXakyUSpmHXLdASImxG4SHljh8Kq7N80OrqSckQMCUW29pRHm+tLMpbsRtQthJz+sL3MzIimTpE7LUkJXSTcwOrcIiMpCQy5iioOiMRuHcpilqR8JFuJLlSsY9I67kpmuSuVcGKapaKUbnSgIlHYq+fwqRqSYfGJiRCN0hIRLcJfIjoqsXJCNxFuLpTLiuhFqjYrGiIyFzSqWxH3u605Y\/DijUPuBUCBI2EZ94b8HZsFZQgY2vtOmwcij72W7+lTtXmGoQxD0kSEhHm7yguFeDmqFuxxwmyjqkRFJxzmIR+BSuaP7dMdMR5h3faSzuFJx1KNtZvTBnM3CbcJtxsRKXKooqhymc1RakLgxkMSGPe8nwqVzSmJ0SciURiJS5v9UI11TpFaVokVu67\/BDTv0x5EDCEnD2eG5JqpJpsiMiYalcLXT7fworbiQx3d7pXnygq6zMK4nWLQAoi6UojH+\/FHw8Wv0emNc0US+NbuEu97XuJ01bDg9mJ307+a4X1uUarThRiIiQyt1PEqv4l4aq2ikJHUtbpXEQqxsvzymrBHQOctzQ7v7FNVWAtUxaoi21ba5GRIJYVtkSlbuvpMrThbhECphccAtchJwhcGMW5blK5hw3ViJaUSIRtA5CP9ic0ebl54JOejbdE2mxlaQ8tvwonq83pGhk6+IFIWxkQyL1Vx7SRuHZ9oWxXU4lS4cF55U1WDs6VrBqM8BIsW4y3F86Om8mpoiL77j7giIkQ2h\/qtsyzJxzUYYbJsSKTjsokXd9r4EOZlTVjbZOUzkrSIhK77vyq5ta0AHiTwz2THubNsNN6e5sdsdwlLq+HBcaHMnA2lIIkN11qChzY3bX3XJSuErfurpW5l5sE7iGW2VyJ4L4lhg8GGTNe045plGJbo7hTqiwbddFqJRItvNEVWVTn8rhsKIx5iVo8D8MZkxTFVvlJypESCRCWk11D3lV6yi5Ms235hA5SNDLSbFsStKIjd4iwUTWvOEJNsNi6fNG37ycZi1pMFIiJwrbSjdJc6KoKkKwhkQ3CVwkMdyEHDfpBLWV57M7cL8KsDHMKl8napsTk03GNKEv701dqSqXW3RItCjfEmiMokRS+dP+FKkTzAXCdJsSFwTjH0v\/AC\/rTrjSvpnHRy9oRkIzcIRGTUdo+18Kpu5GZxg2SPy\/1LpwekLZS99iX3VGPmLjjgjubtWmUv6lDSH\/AMtv82CZZiWhWavxboiLn+ZHdsjP6TzIXDEfrOOYNdPKJSQ1XELQkXKMiuRbWbS7yBOJXB97IhESK4i\/k0a112cQ1XJxGPBNJF13MnN0XNOW25QXFzmvV6kh0xEWx7ykcM014tsSFhvp\/j3FG8UUYjpxKMy+7+tLK+SEH\/0zWrU797fGB+QkVhmgMek\/kriItoqMY41J+rOIlpSGJEVqE+NMz0hGllcdxF3ZJpkLojcPKSfFG1cmMegy2Xq0Y7t3SoCpraSTovi5Ehi0Q9SZt5kMZbvzRTNth+scEhGTYkUf5Mi6UAKS0PQoXuc3TI3JSIuUZdKe5hGI3bRGVsYqSrsjIBB0dxNiRDtiXLb8ib5gAuC23KRaXpLY3SXWrI4McFqvjEjaN6624R3KXyd2b4kRWiQy8KgGyJoSblcRCulA+Qn4d3eVYO1AQZbXnbcbCEunurjrly7hQpR5oXKSkGMxEuZR7N0yfLlZZdAQ6bZD0jK61dHoiw44VojIiLaIqH4UeF1iQ8pRdcLlT3i7EW8trIkUiYcEbu7uQcnBMrt9YWVVnD0hcPUEpOFEe71IeYcKVxbriWuoWyREI7ZDH1loSKqnE0nIBxJnXFxtxpwhiQlu2qk+IQEaog6TL7PKrLdqBG387mVWZpUk7VunG4j2rS+nqdxP5TM1+AgHyZIZYRCJAPNtRd2eNSzyhAuaZD0y0y\/tQ9l9KTkSVgcDUn+\/UjkREmzjLbGQolrjkyhyKyPynrPJ8RbaH\/lgMR7y66zhXSJMaUi0xErtqkaTESWYd1rbc4A\/mYY4jph0SHvcybvtCYk25tL7q54Yxc7pLcnIlLl5lexyybW9jIfmVJ2gNF6VhxuWkLhN93pcFVs9mjTAtETm4okW4hIeb2ldnadRyKmfHa4JMEXdIbSXnWtdGmfdYJuRNOFcXN3kJV3Hmej0d2+oRjX1YOZk6+JETbrg3FuIoqwskzohpnKaVwxIfCq5zIm3BEwEQJv73eT\/AC\/N5SIrSIREY91HsGV4jQAbuWnkub6bjZC4RjIZNSjIlaTAN1bAltfEZBH81efMtzENQHCtjzCrW4c4mbIQESiTcSEkpS5rb1dQOsp3AFO5MYlplqCJXFF0eUS6vmQBxdwXTC\/520JF53dpjaLTvSPy4Yo6LMhdMitETkRCW0l0wabdEWyArYl\/6MuofmTBsDcA\/pFELVnP+55pzfNgoH3Kao1AdbIhLytkP+mKjceLpl6Ju3qIlbXbxluA5RU1Jiw6JOMC04IelaLU97IvhwXnXLsdycqpR03EcxhdQ24D2lhZNxQ6JRMBMZctpKdzHiTVpCYHUEXTbk2W0iHmL5fIq+onRASLm5e8rC4Qy5p8mpNCRkJD6QpDIh5fkxS1laVndGDYWl1DWCRbi\/aTeprAabuIRG4iEuXvEShfymxpCYlqyESb0ylKXN7XuIYz6oq3wMdKwoy6i7qxkVuoRKAx54mOJuJid9BSFGUpulaPhFDFXRNkNzhCJD6Qu9FReYG6BCIjtjaXi2p9W1RRGIkJFtltT9de0cRpgEAAnTIqsKRjSaGXKUvFuH51pm1eTpbYjb\/BIYqqeqKo1WPIDUY4kXN4VxHO4mQlykQ49QkmjQSd3cB4qjIxiGXDucVOWum7RkAm42UicASHbuHy+5ipfIc+rs0diYk6Qlc+RRCRcsfgQIWYNEO67+LUXdmOdNsG6wUf95Ns27rSIeVCtrBUkiVzgFhgmSuY8JuecjUvkUxKQiJxEfCOCd1GTsG6LY3SIL3OXvKyXRa0G3IycIol3UD8VC2wTbvIRCLnLFJbjkA9SlV5s495GvVGm+TZuSEBiRN8wipimqaYm3CEdOQCIkW4i6kyq2wq\/SDpiQt7ZDePd+XFYyXTi43G4SFwnCIoiI7hiigYOBL2YZcnuMc\/4baqZGIi3UgIxIbZeL5cELu5IIi4VTpiQ7W5Wl4VYTDzbhE4UoiJCJFby2y8igc6xYcYHU9I5IhIRH3sepFSwr+kGmSds5cIZFSEPvUiJwYkUY+t5VYp0FcAiIjJqNpSHb\/SgXgvMRaqW2NwuRFuXV1fUrBzFlyIyck5uIRKLYj3UJwGJLTlzFWAMGc0o3RbFx0hEiMvRiQlER5i8iHKmriJEReEVO5g62REJFGIyHvF0qv+I6pyUytGV0VxKw3XUYq57jXNs5d1WgpjMdMiMzbErPW+VE3ZvquOE+fpXKsXBIi3EUlPcIZKxTZfOWq5XFruxiQiMYC2sUdJpOiLRC3Fwib5YoljqPQonDaGDKJbXBFRqUZMFKTDhNkJKVq2ddorbm7SH9JAuQ5wLToFLcUXRHbLqRnVVcSF1opS98HlLvLlW0jaZ5jV1muzPzzI6pqdJghc5RIhLu95UPxHnpV1WTTZeiEolHmRt2r8RkbRULBQN3UFwpbR6faVd5Dl+kLUo2CWqUeblXdi9x\/Q0YXe37Q64aoybGPdkuvFzJvk023ubKRFykMV3yd+IiTke6X6JIsdEDb5Yj4ZSQM45HcZztPM818UcJVmYZm43TDc0AiZGURl3UP1uXVmWukw+MSHxRIeoSV5cTarbrtY1IRaj5zEilH\/ABxXJmraIicfa15COnIRckJDu+ZaK6xioyMiTw9pyJU9Bg47GJXEUf4+ZE+QYkwTZCUdNyRDuGXhTTiWracq2xpmxAWxJv0dtxFzeRFfC+QNFTOEbsHPfGiK4e8JIo9QyBOs+38Rk9nLzWmP\/Mb1PCUeVCzbJHIhGQjzFG3urthqERMamqTdtu3+1bZtR+bNtycGTm5oSkXrDglmcsc4jVSbOM9wZrMsIpuzt5RG65R7NRbHaSlSqiGVu7lUU5TE6TYhc4RREe9JcTJ7j565nUnnW4lLvKTosyIojpSIu6Ret7SdUnZ3mBkJOug0JbtxmPqqxOFeFm6EiIXXHyIR3CIx9X4EN7Kx1zFrbEA+TIvsszIjGrYIoXC5eJDy7fbRfq6hiwUSHddtJSbeX024hujdbH+MVC1ORHJwmiJz+TluBKs4aJ5DEnqcMwyRip1PRj6MYkW0vVVecW8Ku0LHnLRE6xKLgxua\/Xh86smnpnWh9O6Il9mX61D8Q5xGhfHTItQSbKIyl\/Uu1WENOerPEobNK\/AAI8S27fF\/ig3L\/SOniW7HGSn6sCIpOjYNogW77K402XOvmJtNEDQ8xWyXo6MIhi2py7g+wkpSELQyl0+FG2SVzbblMTZCQuOtaniltQRVUkR5rRuTChYfddhTGQxv3WiQpcpvzzCNgjE9yUx2t+EVI0hXRQbwbmhVeW0j5boNi6I8rgjcjCmiQiSU0pHikTzrjBwY8qw2po9t\/OXeoc23Jo+6NqrqSNzD9JX2kLxqEqEupogcCXTJeU+0N1v8r1JNOSEoEXLFyNwL0p2pZy1Q5U6bu4rW+8XSvGFVmZuVLrh7nTIi9YkTQVM+TNPRP4dWT8wh1hK1ai6Taj2asV1xMokX2U0a\/maAu+JN0mbkNpcqK+Ecx1X4yIRERIhVZ6xKb4czAmnRIebcgXU5UwtVmeJ6KpHWoC+JWjuEunpUVknEwg+\/IrSKIy6UEO8T6bBFLaO3qJCNLmxkWoMpERSSFdLYlxWDkH3npeip6PNWHaWrADaqR0DAuaQ2mPyY4EvInEeRnlWZVmXuiQlTPuCMtxN\/Fl8\/lFXFw5n7ok2QlcJD3bZbvrUF246FZWUtVMfOSbFuqEfhAdpF3k\/pLtn9Nos9BV8iVrl5ETgl9kVa3Bj+m6JnbESIe7aoXKGKa2TYRISEbdpdS6NuuUj4i4NpyESLaQquoO8cRmtAPS0s7hzhajy6jCmF3UcGJOuStcd7vl9zBccwwcAiIS1LYiPN4lyrn9ISEpC5LbyocrOIdIrit3d6KzQ7O2T7w6UtjI5m2YMNuyF1siLlKNyEM4YrGPehKpHp5hFehqHs8aq6RirYrHWyfbFy4BISkKFq7snzJvVIH2n7pNiXoyWitDpg4ig+oVnKlsSgfy0+6fm4sYg7zS5fVWjeUEAkRCUjIsSkNxK0M34VrstdF9+hIiHc4IiQiPeLD4FHZoY1dotRPdaJDFXa7bwox8wiAWerOfzlafk03XRaC0jKIyKIou4b4NfYdEZEb8hJuNogQ83trtl3C1c4+0+1pBpHK\/cXdijaryrMNUowIYjE5RKXd+ZS3UEAD2M54ahic8ycwq6ujpm\/PHG5OXXEOp4i8nuIY4pzumfYMBPVI47dol+tRmZ0FdKNScQKXvd3ql8iYv0TADFqV24ilcX60kakzuEYqwpyef0jnhbMDEiYIxK30ci291TlczIBcaImyj6RvcJFJA45DUm6ItOiIiOqbkok2KNKfLqtpuRkXpBEhlzDHcr2V7fUIRrFZsyRZzUW2h1wkJjF1sSEZ9Jj8mOCEs5zUQkQ7S5ekU5qyiV24f4koauxEt237S4BuOTJWApknwnmA+fUjrpQbFwbeYvWVscUZiwA6pm202W2TgiJf1rz3g\/Et3e8P6lgsgrKzHzuvfLzcRkAE4RFp\/o4Ip0wftsD+YrqOWDAZMOc6zxuUgIXRISG0pR7yrniHOXXS0xlEC+0obiHMvi2LGhKIkNsh\/Up3gTh8q5hx83SHTOI9Scr0y0pvaBbWhn8NR+8sjspzkjpSYdkJD6MZcol9aJ3hIJEQlGURutJV7T5U7TETgOkRbo2iKNKJ4nW7ykURlzCsu9RuJX3h1\/y\/wByK4kz8KVg3SIh5REbSkmvDHbBhiw6NaQi4wGGLRyiT4\/yRD8OPzqUz\/IGqqmJo+bm6SVCcQ5U5QvE05hcO0uoeUk3oaKrAVb8UV1vrUHHAl00nEVDXSdlItzg7iH+v4FPtY0gtE4UdPbLbb1Km+yzISqXiqHLWm\/cujhL5fnwV8ZOeVeaOMEwJaZRKQkQnLqLH3MUPWUrSfSZWi0uo4gtjxrltMUTdl0kN0f6kS8JcZ0mZPt0bToTckQiVpHEfn93FAnE3ZwwRm\/l8gbL0mk5cI90S+RArA1mWZjRPkw60LD4kTuEoEEril8GEUSmmm0ek8wlpwMkT05nBi7TVlNTNCThATUStujzF8qrmn4SzumYG0XbInFyRNj3UW8KZ+BOkYxNp0pg5KQlIUVvVHeiPNG1ZxuNZwfmWIK8DmUzlPAMLn3zK6WmQxJFVLTNtELY7eUSUnnlc2IkhUqwnBkJbftIpuLSwrZhkx3mrYiLhAQiY3DEd3dQDU5xIy1JS5pblNVeax1NQS7pIVrGwfGUrpbuZHRd3cd05CcPJJp8ST3KaeVSxGIxcEvDFR\/DWQVLpFKRD4to9SsXIuFWNQNQtQuYRItPaunvaJa+2tfeEVLWPi2MRFwikUhLl73kTmnrXyuiIl0rnSuiw0TAAI3EOpzR6VGHUxtlcsu0ANgRRF3c4jPjeucKkdLzlxrTEi9E4QkRdKrrLOJszYECHMXxErimUrf6Ud548w43pEIxMbpdSBTyhoijKQyiIpvT7QuDG0C7cGTWXZq\/VukTpm6JDbIitLqFblxRU0bhCQi63yi50rOWUw0w3DER7pId4ldGrcImtpFEelEVVLflAOobgdQsGiy3iFsqmmbGmzCjIXSGIycjykOHu4YqEzLLS98Yalqe+NNjtLmtw9xPuyfL3GKx2pFwhbbpiB2XMRKd1BFx0g+NcIvD\/orG3a20HIiYUqTK3ZbjqC+1utJstwqKoWvM3yLdTHtLmAukvmVj8TUGo22TY+lErhHmFAdVTlLS0yFwyEREhR67Mj8oXAPctnsZ4jb13KEnBi+U2rtxxuFXSzJvvLzzwNwtTUzrTo6pVLTokJyIR23Wr0PkdWL7QOjcQ2uIWFLcTG+o1hX3L7zfGRF0ri+O4eYblLVrUhkPiTNzC0XFVqeSJmZlY9tNY0eVFRnpuP1YxaEiubiXvnzYrybmlCQkTZiQGJcw\/e+pelu0Vsa505CTTrEvNi5XAlcKqvN8sGraICtMZRMdwl3vlwTujfwxgzXqoxTiVmGBBuKSetVKa5hSP0ruk7Ih5ceUlxJweWQl91abJu5gBbt4MlR8S70TsVDeckIrQastqE1JMYr1AHMJca8S3OCIiuuXV4GZCEvEW2SFQItqnMqARt2oVlQVY1XeWMsqnbdYpBqRbbKdo+kGQl3lGuZa1U6hPuETjhDGO5vvKGo3zOIjIm5Xbv4wUnqOAUhK4e9ypPbg8RkEnsxxllI4LnmwlMWytOO4SUjxtQCGWi7qOaolt5RiX9ia8OC6bjhCJEUhl3USZ5kdZWUxNATAkdoiaGDh5x2xiBea9s7dSIiWURtiWPn0pfP7yhCt4zF1yXmuIj5cJBr+WQ9Mo+0gtYWyuhoU5C\/czHX6leowG+wnp2k\/2pxaaBkOHYg2AtiOGa8oj\/8Atlof+1P5f\/y\/\/wD6v\/0y8zJJnYIgQDyZ6SqP9pttwCbPh6Ql7RSzXy+X\/wCGQhmPbLTvuEY5Lpy5fyhL+5jBU4sIbaetuxCV2tX+Ey4qftjaBwHPyR7YeXbXYDgX4Cfn26Nl\/wCZvgt\/7Q2l1e8Kj1hCbQ0Mclfuf+ww1do95bz\/AGwNOFIsqL\/+w9r\/ALhdQ7ZWRbgOTx+THz4ccPs6Cp3yJeRc8hR\/j9z\/ANnfO3f5fxLIzPtHafKY5dpOSuIarcPSQ6afD2unpC0VCRxtEiqsNvT70qp8qS75GnGNv3P\/AGdOuuPv9hDvN+P8X\/eaXFg\/Lu1tX2umMMEwc4tkP\/k+Mvl1bfsxQmkrjSVAYCzvn7\/8v4k6ef8Al+K+\/wDsrd7iV0hh6TTjGGrIfzUPrCt5ev4lDrLT20dvVUvg\/tRnwjx61ljQtYUGLu7EsSqo4ERc0dPHyIBwWVZqUcbWHEGL3B3A8yzKntRn\/wCb4\/8AtUv\/AA1rR9qJNf8ABy+T\/eI\/+Gq0WULyVPW37mEGttHv9hLcb7Y9wnluoBe6PnkfvaSgeIOPKavDEHcs9r4ssKkdRv1tL20ApKLo6VOQvP6n\/snnLes\/YSx8j7R2aNoWhyyQ4CI4\/wC9YDKP\/qk+y3tYFrXEsum265NsPOo6WHk2+9Yy\/sVVeVZUbR1N2Puf+yDWWjgH7CXY124tgIYDkvtjuIswlLD\/ANx7Si6\/tcbfIv8AskRA\/LNvzyQl+EqmSVRoaB0v3P8A2Tzdvz\/EtDL+1NumEQYyyDYbA87wiP4SmW+3ItQSPLNRsfi\/Po+X1tL\/AAVLJeVcP0+hjkr9z\/2d87b\/AJfYS5+Je2xuuERHJ\/NiHmGun5R6Y6OCgW+06IxGh\/p85\/dqtllQaCgf2\/c\/9nV11wG0NxDis481RISpfaL\/AJ\/ufcXPL+NG2BIfMp4l7hE\/5I\/cQX5VjyonlKvj+ZPPXf5fYS3qPtjFhoWm8qwwwH3cfPLix\/8AdLqXbWUYDlsG5SiNZd9rRVNrKnk6j\/b\/ADB+asznMuJ3tr8okI5ZES+mSx\/7pQ9V2nEeylcb8uPt\/wC9S\/8ADVaLKH\/59He37n\/sKn1C9Om+wlrB2sN+QZZVMh5irPzfRe0pAO2akGP\/AOHwkPN59hL\/ALhUykuf+dR\/j9z\/ANlW11zdtLlf7aWTEh\/IxDL\/APUP3CHKjj6kMvL+THBGUoDXW\/8AcqvUlYaCgdL9z\/2cXWWr00tdztdixoMZdgwPMQ1UiL8LBN6ftU0\/+Al\/7Vj\/APLVYLK55Cj\/AB+5\/wCyDW2gYzLLx7VDljj5n7WPL5z+7XKp7TdQgPzGJtlIS85\/dquElYaKkDAX7n\/s55u3Ocy2aPthxa\/4CRdXneH\/AMpEPD\/+0MdERf8AZGoBYe2H5QhhLq94xVCpLg0NIOdv3P8A2Ve93GGM9ONf7VMRjjw\/L\/8Alf8A6ZMK\/wD2mcXQIRyOEtpflOUf\/hsF5ySRfK1\/H8xcADmXBm3bQdSIj+ToYj5bvO5y\/CwQjhxwciLQ3FiXvv7KDUlUaSodD7mNLqrFGAYV5lxXhUt4tP00hlgXvsSw+6mgZzSYCIeYlHDD+c3fa00PrHlRBSoGB\/JlTe5OT\/AhBXZrQm1iDWXk04Xk9L51qfd08P71DNvR\/wCq4LKuEA6gy5PMeM1kcdvl\/pTwM5iMYfe\/ZUMsqpqU9iXF7jownpOKiaGAtW83pPJL7qclxkP81\/Hx\/wAqDklTy9fxL+as+ZZXD\/aZhRDHzDU8pS8vnOn\/AOHiiKn7cBbx8v5IxxLq8\/j5PwPdVKLCp5OrOds42qsbszCSSSZi8SSSSkkysJJKSRJJJKSTKSwkpJEkkkpJEkkkpJEkkkpJEkkkpJEkkkpJEkkkpJEkkkpJEkkkpJEkkkpJEkkkpJEkkkpJEkkkpJEkkkpJEkkkpJEkkkpJEkkkpJEkkkpJEkkkpJEkkkpJEkkkpJEkkkpJEkkkpJEkkkpJEkkkpJEkkkpJP\/\/Z"
                    }
                ],
            "status":true
        }